.Table-tableContainer(ng-style="{ 'padding-right' : (hasjumpbar == 'true') ? '40px' : '0px' }")
  table.Table-table
    thead
      tr
        th.TableHeaderCell-headerCell
        th.TableRowHeaderCell-Play.TableHeaderCell-headerCell
        th.TableHeaderCell-headerCell.Link-link(label='Album') Album
        th.TableHeaderCell-headerCell.Link-link(label='Artist', ng-show="{{showartist == 'true'}}") Artist
        th.TableHeaderCell-headerCell.Link-link(label='Release') Release
        th.TableHeaderCell-headerCell.TableHeaderCell-headerCell-Right.TableHeaderCell-headerCell-TrackCount.Link-link(label='Tracks') Tracks
    tbody
      tr.TableRow-row(ng-repeat='album in data', ng-class="{'TableRow-row-now-playing': checkIfNowPlaying(album.id) == true}")
        td.TableRowCell-star.TableRowCell-cell
          button.IconButton-button.Link-link.Link-link(type='button', ng-click="starAlbum(album)")
            i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', ng-class="album.starred == 'true' ? 'fa-star' : 'fa-star-o'")
        td.TableRowCell-play.TableRowCell-cell
          button.IconButton-button.Link-link.Link-link(type='button', ng-click="playAlbum(album)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
            i.fa.fa-play.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas')
        td.TableRowCell-cell
          span.Link-link.ng-binding(ng-click="navToAlbum(album.id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.name}}
        td.TableRowCell-cell(ng-show="showartist == 'true'")
          span.Link-link.ng-binding(ng-click="navToArtist(album.artist_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.artist}}
        td.RelativeDateCell-cell.TableRowCell-cell(title='{{album.created}}', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.created}}
        td.TableRowCell-count.TableRowCell-cell
          span.Label-label.Label-medium.Label-Page-Body(title='{{album.track_count}} total tracks', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
            span {{album.track_count}}