
section.scrollable.hover.hbox.animated.fadeInUp
  section.scrollable.hover
    .selectionModule(ng-repeat='album in data|orderBy:column:reverse')
      .selectionModule__title
        h3.selectionModule__titleText {{album.name}}
      .selectionPlaylistBanner.blur-container
        .selectionPlaylistBanner__gradient.blur-bg(style='background-image: url("{{album.image}}");')

        .selectionPlaylistBanner__artwork
          a.selectionPlaylistBanner__artworkLink(href='/discover/sets/weekly:2160776')
            .selectionPlaylistBanner__image
              .image.m-system-playlist.image__lightOutline.readOnly.customImage.sc-artwork.sc-artwork-placeholder-4.m-loaded(style='height: 100%; width: 100%;')
                span.sc-artwork.sc-artwork-placeholder-4.image__full.g-opacity-transition(style='background-image: url("{{album.image}}"); width: 100%; height: 100%; opacity: 1;', aria-label='SoundCloud Weekly', aria-role='img')
          .selectionPlaylistBanner__playButton.g-z-index-content
            a.sc-button-play.playButton.sc-button.m-stretch(aria-role='button', ng-click="$parent.playAlbum(album)", tabindex='0', title='Play') Play
        .selectionPlaylistBanner__listArea
          .selectionPlaylistBanner__trackList.g-scrollable.g-scrollable-v(style=' overflow: hidden !important;')
            // List goes here
            .g-scrollable-inner(style='height: 180px; overflow-x: hidden; width: 593px; padding-right: 30px;')
              ul.sc-list-nostyle.sc-clearfix(ng-repeat="track in album.tracks", style="padding: 0; margin: 0 0 18px 25px;list-style: disc;")
                li
                  .systemPlaylistBannerItem.g-flex-row.sc-type-small.sc-type-light.sc-pointer(tabindex='0')
                    .systemPlaylistBannerItem__content.sc-truncate
                      span.systemPlaylistBannerItem__trackTitle.sc-font {{track.title}}
                    .systemPlaylistBannerItem__additional
                      span.systemPlaylistBannerItem__tierIndicator.g-go-plus-marker-list.sc-hidden
                      span.systemPlaylistBannerItem__playCount.sc-ministats.sc-ministats-inverted.sc-ministats-small.sc-ministats-plays
                        | 130K
                    .systemPlaylistBannerItem__actions
                      .soundActions.sc-button-toolbar.soundActions__small
                        .sc-button-group.sc-button-group-small
                          button.sc-button-like.sc-button.sc-button-small.sc-button-icon.sc-button-lightfg.sc-button-transparent(type='button', aria-describedby='tooltip-11620', tabindex='0', title='Like') Like
                          button.sc-button-repost.sc-button.sc-button-small.sc-button-icon.sc-button-lightfg.sc-button-transparent(type='button', aria-describedby='tooltip-11622', tabindex='0', aria-haspopup='true', role='button', aria-owns='dropdown-button-11623', title='Repost') Repost
                          button.sc-button-share.sc-button.sc-button-small.sc-button-icon.sc-button-lightfg.sc-button-transparent(type='button', aria-describedby='tooltip-11625', tabindex='0', aria-haspopup='true', role='button', aria-owns='dropdown-button-11626', title='Share') Share
                          button.sc-button-more.sc-button.sc-button-small.sc-button-icon.sc-button-lightfg.sc-button-transparent(type='button', tabindex='0', aria-haspopup='true', role='button', aria-owns='dropdown-button-11628', title='More') More
            .g-scrollbar.g-scrollbar-vertical(style='height: 30px; top: 0px;')
 
    
    ul.list-group.list-group-lg.no-radius.no-border.no-bg.m-t-n-xxs.m-b-none.auto(ng-repeat='album in data|orderBy:column:reverse')
      li.list-group-item(ng-class="{'list-group-item-now-playing': $parent.checkIfNowPlaying(album.id) == true}")
        .pull-right.m-l
          a.m-r-sm(ng-click="$parent.starAlbum(album)")
            i.alloy-icon.icon-star-o.icon

        a.m-r-sm.pull-left(ng-click="$parent.playAlbum(album)")
          i.icon-control-play.text.alloy-icon.icon-play.icon
          i.icon-control-pause.text-active.alloy-icon.icon-pause.icon
        .clear.text-ellipsis
          span {{album.name}}
          span.text-muted  -- {{album.track_count}}





//.Table-tableContainer(ng-style="{ 'padding-right' : (hasjumpbar == 'true') ? '40px' : '0px' }")
//  table.Table-table
//    thead
//      tr
//        th.TableHeaderCell-headerCell
//        th.TableRowHeaderCell-Play.TableHeaderCell-headerCell
//        th.TableHeaderCell-headerCell.Link-link(label='Album', ng-click='sortColumn("album")' ng-class='sortClass("album")') Album
//        th.TableHeaderCell-headerCell.Link-link(label='Artist', ng-show="{{showartist == 'true'}}", ng-click='sortColumn("artist")' ng-class='sortClass("artist")') Artist
//        th.TableHeaderCell-headerCell.Link-link(label='Release', ng-click='sortColumn("created")' ng-class='sortClass("created")') Release
//        th.TableHeaderCell-headerCell.TableHeaderCell-headerCell-Right.Link-link(label='Type', ng-click='sortColumn("type")' ng-class='sortClass("type")') Type
//        th.TableHeaderCell-headerCell.TableHeaderCell-headerCell-Right.TableHeaderCell-headerCell-TrackCount.Link-link(label='Tracks', ng-click='sortColumn("track_count")' ng-class='sortClass("track_count")') Tracks
//    tbody
//      tr.TableRow-row(ng-repeat='album in data|orderBy:column:reverse', ng-class="{'TableRow-row-now-playing': checkIfNowPlaying(album.id) == true}")
//        td.TableRowCell-star.TableRowCell-cell
//          button.IconButton-button.Link-link.Link-link(type='button', ng-click="starAlbum(album)")
//            i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', ng-class="album.starred == 'true' ? 'fa-star' : 'fa-star-o'")
//        td.TableRowCell-play.TableRowCell-cell
//          button.IconButton-button.Link-link.Link-link(type='button', ng-click="playAlbum(album)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
//            i.fa.fa-play.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas')
//        td.TableRowCell-cell
//          span.Link-link.ng-binding(ng-click="navToAlbum(album.id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.name}}
//        td.TableRowCell-cell(ng-show="showartist == 'true'")
//          span.Link-link.ng-binding(ng-click="navToArtist(album.artist_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.artist}}
//        td.RelativeDateCell-cell.TableRowCell-cell(title='{{album.created}}', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.created}}
//        td.TableRowCell-type.TableRowCell-cell
//          span.Link-link.ng-binding(ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.type}}
//        td.TableRowCell-count.TableRowCell-cell
//          span.Label-label.Label-medium.Label-Page-Body(title='{{album.track_count}} total tracks', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
//            span {{album.track_count}}