.Table-tableContainer
  table.Table-table
    thead
      tr
        th.TableHeaderCell-headerCell
        th.TableHeaderCell-headerCell.Link-link(label='Album') Album
        th.TableHeaderCell-headerCell.Link-link(label='Artist', ng-show="showartist") Artist
        th.TableHeaderCell-headerCell.Link-link(label='Release') Release
        th.TableHeaderCell-headerCell.Link-link(label='Rating') Tracks
    tbody
      tr.TableRow-row(ng-repeat='album in data', ng-class="{'TableRow-row-now-playing': checkIfNowPlaying(album.id) == true}")
        td.TableRowCell-star.TableRowCell-cell
          button.IconButton-button.Link-link.Link-link(type='button', ng-click="starAlbum(album)")
            i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', ng-class="album.starred == 'true' ? 'fa-star' : 'fa-star-o'")
        td.TableRowCell-cell
          span.Link-link.ng-binding(ng-click="navToAlbum(album.id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.name}}
        td.TableRowCell-cell(ng-show="showartist")
          span.Link-link.ng-binding(ng-click="navToArtist(album.base_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.artist}}
        td.RelativeDateCell-cell.TableRowCell-cell(title='{{album.created}}', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}") {{album.created}}
        td.TableRowCell-count.TableRowCell-cell
          span.Label-label.Label-medium(title='10 tracks total. 10 tracks with files.', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
            span {{album.track_count}}