.form-group
  .input-group
    span.input-group-btn
      a.btn.btn-sm.bg-white.btn-icon.rounded(href='/search')
        i.alloy-icon.icon-search
    input#search-box.form-control.input-sm.no-border.rounded(type='text', placeholder='Search songs, albums...', ng-model='searchText', auto-complete='autoCompleteOptions', autocomplete="off")