section.scrollable.scrollsaver.padder-lg.w-f-md.animated.fadeInRight
  .row
    .col-md-12
      h3.font-thin
      itemtable(data="$root.history.history", title="History", limit="$root.history.history.length", type="history", refreshclick="refresh()")