include ./../../../views/pagecontent
  a.Settings-link.Link-link.Link-link(href='/activity/queue') Queue
  .Settings-summary SABnzbd Queue
  a.Settings-link.Link-link.Link-link(href='/activity/history') History
  .Settings-summary SABnzbd History
  a.Settings-link.Link-link.Link-link(href='/activity/blacklist') Blacklist
  .Settings-summary Blacklisted downloads