section.padder-lg.w-f-md(style="height:100vh;")
  .row(ng-show="title")
    h2.clear.font-thin {{title}}
      a(href="{{viewmorelink}}", ng-show="showviewmore").u.h6.text-muted.m-l View More
  .row(style='overflow:hidden;')
    .grid(ng-if="type === 'tracks'")
      .item(data-value="track;{{track.id}}", ng-repeat="track in data | limitTo:limit", style="background-image:url('{{track.image}}');",ng-click="$root.MediaPlayer.playTrack(track, data)", ng-class="{'item--now-playing': $root.MediaPlayer.checkIfNowPlaying('track', track.id) == true}")
        .item__details
          span.clear
          a(ng-click="navigateToAlbum(track.album_id)", onclick="event.stopPropagation();", data-value="track;{{track.id}}")
            span.item__details__album(data-value="track;{{track.id}}") {{track.title}}
          a(ng-click="navigateToArtist(track.artist_id)", onclick="event.stopPropagation();", data-value="track;{{track.id}}")
            small.item__details__artist.text-muted.clear.text-ellipsis by {{track.artist}}    
    .grid(ng-if="type === 'albums'")
      .item(data-value="album;{{album.id}}", ng-repeat="album in data | limitTo:limit", style="background-image:url('{{album.image}}');",ng-click="$root.MediaPlayer.playAlbum(album)", ng-class="{'item--now-playing': $root.MediaPlayer.checkIfNowPlaying('album', album.id) == true}")
        .item__details
          span.clear
          a(ng-click="navigateToAlbum(album.id)", onclick="event.stopPropagation();", data-value="album;{{album.id}}")
            span.item__details__album(data-value="album;{{album.id}}") {{album.name}}
          a(ng-click="navigateToArtist(album.artist_id)", onclick="event.stopPropagation();", data-value="album;{{album.id}}")
            small.item__details__artist.text-muted.clear.text-ellipsis by {{album.artist}}   

    .grid(ng-if="type === 'artists'")
      .item(data-value="artist;{{artist.id}}", ng-repeat="artist in data | limitTo:limit", style="background-image:url('{{artist.image}}');",ng-click="$root.MediaPlayer.playArtist(artist)", ng-class="{'item--now-playing': $root.MediaPlayer.checkIfNowPlaying('artist', artist.id) == true}")
        .item__details
          span.clear
          a(ng-click="navigateToArtist(artist.id)", onclick="event.stopPropagation();", data-value="artist;{{artist.id}}")
            span.item__details__album(data-value="artist;{{artist.id}}") {{artist.name}}   