section.scrollable.scrollsaver.padder-lg.w-f-md
  .row
    .col-md-7
        h1.font-thin.m-b
          | Discover What's New
  .row 
    .col-md-7(ng-if="$root.fresh_tracks.length > 0")
      thumblist(type="tracks", title="New Songs", data="$root.fresh_tracks", limit="36", refreshclick="refresh()", origin="fresh", viewmorelink="/fresh")
    .col-md-5(ng-if="$root.charts.never_played.length > 0")
      itemlist(type="tracks", title="Never Played", data="$root.charts.never_played", limit="9", refreshclick="refresh()", viewmorelink="/neverplayed", showviewmore="true", showcover="true")
  .row
    .col-md-7(ng-if="$root.fresh_albums.length > 0")
      thumblist(type="albums", title="New Albums", data="$root.fresh_albums", limit="36", refreshclick="refresh()", viewmorelink="/fresh")
    .col-md-5(ng-if="$root.quick_picks.length > 0")
      itemlist(type="tracks", title="Quick Picks", data="$root.quick_picks", limit="9", refreshclick="refresh()", viewmorelink="/quickpicks", showcover="true")  
  .row
    .col-md-7(ng-if="$root.fresh_artists.length > 0")
      thumblist(type="artists", title="New Artists", data="$root.fresh_artists", limit="36", refreshclick="refresh()", viewmorelink="/new/artists")             
    .col-md-5(ng-if="$root.charts.top_tracks.length > 0")
      itemlist(type="tracks", title="Top Tracks", data="$root.charts.top_tracks", limit="9", refreshclick="refresh()", viewmorelink="/charts", showcover="true")
  .row
    .col-md-12(ng-if="$root.fresh_albums.length > 0")
      
      itemtable(type="albums", title="Recently Added", data="$root.fresh_recently_added_albums", limit="$root.fresh_recently_added_albums.length", refreshclick="refresh()", viewmorelink="/recent", showviewmore="true", showartist="true")
      
