
section.panel.panel-default
  header.panel-heading.font-bold  Alloy Configuration 
  .panel-body
    form.form-horizontal(method='get')
      .form-group
        label.col-sm-2.control-label Database Host
        .col-sm-10
          input#databaseHost.form-control(ng-change="previewConnectionString()", ng-model='$root.settings.alloydb.alloydb_host', type='text', placeholder='Database Host')
      .form-group
        label.col-sm-2.control-label Database Port
        .col-sm-10
          input.form-control(ng-change="previewConnectionString()",  ng-model='$root.settings.alloydb.alloydb_port', type='number', placeholder='4000', string-to-number)
      .form-group
        label.col-sm-2.control-label Api Key
        .col-sm-10
          input.form-control(ng-model='$root.settings.alloydb.alloydb_apikey', type='text', placeholder='Api Key')
      .form-group
        label.col-sm-2.control-label Use SSL
        .col-sm-10
          .checkbox
            label
              input(ng-change="previewConnectionString()", ng-model='$root.settings.alloydb.alloydb_use_ssl', type='checkbox')
              |  HTTPS will be used as the schema
      .form-group
        label.col-sm-2.control-label Use SSL
        .col-sm-10
          .checkbox
            label
              input(ng-change="previewConnectionString()", ng-model='$root.settings.alloydb.alloydb_include_port_in_url', type='checkbox')
              |  Port will be included in the URL
      .form-group
        label.col-sm-2.control-label URL Preview
        .col-sm-10
          .input-group.m-b
            span.input-group-btn
              button.btn.btn-default(ng-click='testSettings()', type='button') Test
            input.form-control(type='text', value="{{connectionStringPreview}}", disabled='')
  header.panel-heading.font-bold  Streaming Settings
  .panel-body
    form.form-horizontal(method='get')
      .form-group
        label.col-sm-2.control-label Preferred audio format
        .col-sm-10
          select.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_format')
            option(value="Unchanged") Unchanged
            option(value="MP3") MP3
            
      .form-group
        label.col-sm-2.control-label Bitrate
        .col-sm-10
          select.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_bitrate')
            option(value="128") 128
            option(value="256") 256
            option(value="320") 320
            option(value="Original") Original

      .form-group
        label.col-sm-2.control-label Cache Strategy
        .col-sm-10
          select.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_cache_strat')
            option(value="trackcount") Keep Last X Tracks
            option(value="days") Keep Tracks For Past X Days
            option(value="memory") Keep Max XGB of Data

      .form-group(ng-if="$root.settings.alloydb.alloydb_streaming_cache_strat === 'memory'")
        label.col-sm-2.control-label Memory Limit
        .col-sm-10
          input.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_cache_strat_memory', type='text', placeholder='Memory Limit')
      .form-group(ng-if="$root.settings.alloydb.alloydb_streaming_cache_strat === 'days'")
        label.col-sm-2.control-label Days Limit
        .col-sm-10
          input.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_cache_strat_days', type='text', placeholder='Days Limit')
      .form-group(ng-if="$root.settings.alloydb.alloydb_streaming_cache_strat === 'trackcount'")
        label.col-sm-2.control-label Tracks Limit
        .col-sm-10
          input.form-control(ng-model='$root.settings.alloydb.alloydb_streaming_cache_strat_tracks', type='text', placeholder='Tracks Limit')

      .form-group
        label.col-sm-2.control-label Cache Starred?
        .col-sm-10
          .checkbox
            label
              input(type='checkbox', ng-model='$root.settings.alloydb.alloydb_streaming_cache_starred')
              |  Starred Tracks will converted to a streamable quality ahead of time, they will also be held outside the general cache


  header.panel-heading.font-bold  Last.FM
  .panel-body
    form.form-horizontal(method='get')

      .form-group
        label.col-sm-2.control-label Username
        .col-sm-10
          input.form-control(type='text', placeholder='Enter username', ng-model='$root.settings.alloydb.alloydb_lastfm_username')
          span.help-block.m-b-none Username for Last.FM

      .line.line-dashed.b-b.line-lg.pull-in
      .form-group
        label.col-sm-2.control-label Password for Last.FM
        .col-sm-10
          input.form-control(type='password', placeholder='Password', ng-model='$root.settings.alloydb.alloydb_lastfm_password')
      
      .form-group
        label.col-sm-2.control-label Scrobble Now Playing?
        .col-sm-10
          .checkbox
            label
              input(type='checkbox', ng-model='$root.settings.alloydb.alloydb_scrobble')
              |  Tracks will be scrobbled when played
      .form-group
        label.col-sm-2.control-label Love Starred?
        .col-sm-10
          .checkbox
            label
              input(type='checkbox', ng-model='$root.settings.alloydb.alloydb_love_tracks')
              |  Tracks that are starred will be loved
