.ArtistTable-tableContainer {
  overflow-x: auto;
}

.ArtistTable-table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.ArtistTableRow-row {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.ArtistTableRow-row:hover {
  background-color: $main-background-color;
  color: $main-text-color;
}

.ArtistTableRowCell-cell {
  padding-left: 8px;
  border-top: 1px solid $general-border-color;
  line-height: 1.52857143;
  color: $main-text-color;
}

.ArtistCell-StarredHeaderCell {
  padding: 8px;
  width: 30px;
  border: none !important;
  text-align: left;
  font-weight: bold;
}

.ArtistCell-StarredCell {
  width: 30px;
  white-space: nowrap;
}