.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}

.btn-link,
.btn-link:active {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-link {
  color: #788188;
}

.btn {
  font-weight: 500;
  border-radius: 2px;
}

.btn-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 34px;
  text-align: center;
}

.btn-icon.btn-sm {
  width: 30px;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-success:active {
  background-image: none;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  float: left;
}

.btn-group>.btn:hover,
.btn-group>.btn:focus,
.btn-group>.btn:active {
  z-index: 2;
}

.btn-group>.btn:focus {
  outline: none;
}

.btn-group .btn+.btn {
  margin-left: -1px;
}

.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group-justified>.btn {
  display: table-cell;
  float: none;
  width: 1%;
}

.btn-success {
  color: #fff !important;
  background-color: #1ab667;
  border-color: #1ab667;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #fff !important;
  background-color: #17a05a;
  border-color: #159253;
}

.btn-dark {
  color: #fff !important;
  background-color: #5a6a7a;
  border-color: #5a6a7a;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff !important;
  background-color: #4f5d6b;
  border-color: #495663;
}

.btn-dark:active {
  background-image: none;
}

.btn-group-justified {
  border-collapse: separate;
}

.btn-rounded {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn--no-margin {
  margin: 0;
}

.btn--no-padding {
  padding: 0;
}

.btn--narrow {
  min-width: 50px;
  max-width: 50px;
}

.btn.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.btn.btn-green {
  background-color: #1db954;
  padding: 11px 44px;
}

.btn.btn-green:focus,
.btn.btn-green:hover {
  background-color: #1ed760;
}

.btn:not(.disabled):focus,
.btn:not(.disabled):hover {
  -webkit-transition-duration: 66ms;
  transition-duration: 66ms;
}

.btn {
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}

.spotify-btn {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: .16em;
  -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  -webkit-transition-property: all;
  transition-property: all;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 0;
  border-radius: 500px;
  padding: 13px;
  //min-width: 130px;
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
}

.spotify-btn:not(.disabled):focus,
.spotify-btn:not(.disabled):hover {
  -webkit-transition-duration: 66ms;
  transition-duration: 66ms;
  -webkit-transition: none 33ms cubic-bezier(.3, 0, 0, 1);
  transition: none 33ms cubic-bezier(.3, 0, 0, 1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.spotify-btn:not(.disabled):active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(.99);
  transform: scale(.99);
}

.spotify-btn.btn-black {
  padding: 11px 44px;
  background: rgba(24, 24, 24, .7);
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #b3b3b3;
  box-shadow: inset 0 0 0 2px #b3b3b3;
}

.spotify-btn.btn-black:hover {
  -webkit-box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #fff, 0 0 0 1px rgba(0, 0, 0, 0);
}

.spotify-btn.btn-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.spotify-btn.btn-green {
  background-color: #1db954;
  padding: 11px 44px;
}

.spotify-btn.btn-green:focus,
.spotify-btn.btn-green:hover {
  background-color: #1ed760;
}