.Details-Label {
  margin: 5px 10px 5px 0;
}

.AlbumDetails-path,
.AlbumDetails-sizeOnDisk,
.AlbumDetails-qualityProfileName,
.AlbumDetails-links {
  margin-left: 8px;
  font-weight: 300;
  font-size: 17px;
}

.AlbumDetails-path {
  vertical-align: text-top;
  font-size: 14px;
  font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

.Label-label {
  display: inline-block;
  margin: 2px;
  border: 1px solid;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  cursor: default;
}

.Label-default {
  border-color: $general-border-color;
  background-color: $main-background-color-transparent !important;
  color: $alt-text-color !important;
}

.Label-large {
  padding: 3px 7px;
  font-weight: bold;
  font-size: 14px;
}

.Label-success {
  border-color: #27c24c;
  background-color: #27c24c;
}

.Label-medium {
  padding: 2px 5px;
  font-size: 12px;
}
