.PageJumpBarItem-jumpBarItem {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 25px;
	flex: 1 0 25px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
  font-weight: bold;
}

.PageJumpBarItem-jumpBarItem:hover {
	color: #777;
}

.PageJumpBarItem-jumpBarItem:last-child {
	border: none;
}

.PageJumpBar-jumpBar {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-content: stretch;
	align-content: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
	-webkit-align-self: stretch;
	align-self: stretch;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 30px;
  flex: 0 0 30px;
  float: right;
  position: absolute;
  right: 20px;
  top: $toolbar-height;
  bottom: 0px;
  z-index: 1000;
}

.PageJumpBar-jumpBarItems {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	flex: 0 0 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

@media only screen and (max-width: 768px) {
	.PageJumpBar-jumpBar {
		display: none;
	}
}

