@import "../variables";

.PageToolbar-toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  height: $toolbar-height;
  line-height: $toolbar-height;
  background-color: $sub-background-color !important;
  border: 1px solid $general-border-color;
}

.PageToolbarSection-sectionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
  flex: 1 1 10%;
}

.PageToolbarSection-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.PageToolbarSection-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.PageToolbarButton-toolbarButton {
  width: 50px;
  text-align: center;
  line-height: 0.25em;
  font-size: 21px;
  color: $main-text-color;
}

.PageToolbarButton-labelContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 16px;
}

.PageToolbarButton-label {
  padding: 0 3px;
  color: $main-text-color;
  font-size: 11px;
  line-height: -webkit-calc(11px + 1px);
  line-height: calc(11px + 1px);
}

.PageContentBody-contentBody {
  /* 1px for flex-basis so the div grows correctly in Edge/Firefox */
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
}

.PageToolbarSeparator-separator {
  margin: 10px 20px;
  height: 40px;
  border-right: 1px solid $general-border-color;
  opacity: 0.35;
}

.PageToolbarSection-sectionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
  flex: 1 1 10%;
}

.PageToolbarSection-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.PageToolbarSection-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}



@media only screen and (max-width: 768px) {
  .PageToolbar-toolbar {
    padding: 0 10px;
  }
}

.PageToolbarSeparator-separator {
  margin: 10px 20px;
  height: 40px;
  border-right: 1px solid $general-border-color;
  opacity: 0.35;
}

@media only screen and (max-width: 768px) {
  .PageToolbarSeparator-separator {
    margin: 10px 5px;
  }
}

.PageToolbarButton-toolbarButton {
  width: 60px;
  text-align: center;
}

.PageToolbarButton-toolbarButton:hover {
  color: $label-color;
}

.PageToolbarButton-labelContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 16px;
}

.PageToolbarButton-label {
  padding: 0 3px;
  color: $main-text-color;
  font-size: 11px;
  line-height: -webkit-calc(11px + 1px);
  line-height: calc(11px + 1px);
}

.PageToolbarSection-sectionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
  flex: 1 1 10%;
  overflow: hidden;
}

.PageToolbarSection-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.PageToolbarSection-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.PageToolbarSection-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}


.PageToolbarButton-labelContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 16px;
}

.Link-link {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background: none;
  color: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}