.Table-tableContainer {
  overflow-x: auto;
}

.Table-table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
}

.TableHeaderCell-headerCell {
  padding: 8px;
  border: none !important;
  text-align: left;
  font-weight: bold;
}

.TableHeaderCell-headerCell-Right {
  text-align: right !important;
  width: 1px;
  white-space: nowrap;
}

.TableHeaderCell-headerCell-TrackCount {
  width: 1px;
  white-space: nowrap;
}

.TableHeaderCell-sortIcon {
  margin-left: 10px;
}

.TableRow-row {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.TableRow-row-now-playing {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  background-color: $now-playing-track !important;
  color: $now-playing-track-text !important;
}

.TableRow-row-selected {
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  //background-color: $now-playing-track !important;
  border: 2px solid $now-playing-track;
  box-sizing: border-box;
  color: $now-playing-track-text !important;
}

.TableRow-row:hover {
  background-color: $main-background-color;
  color: choose-contrast-color($main-background-color) !important;
}

.TableRowCell-cell {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid $general-border-color;
  line-height: 1.52857143;
  color: choose-contrast-color($main-background-color) !important;
  max-width: 200px;
}

.TableRowCell-cell-no-border {
  border-top: 0px !important
}

.TableRowHeaderCell-Starred {
  width: 15px;
  border: none !important;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

.TableRowHeaderCell-Play {
  width: 15px;
  border: none !important;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
}

.TableRowHeaderCell-TrackCount {
  padding: 8px;
  width: 50px;
  border: none !important;
  vertical-align: middle;
  align-content: center;
  text-align: center;
}

.TableRowHeaderCell-TrackCount-Center {
  padding: 8px;
  width: 50px;
  border: none !important;
  text-align: center;
  text-align: center;
  font-weight: bold;
}

.RelativeDateCell-cell {
  width: 180px;
}

.AlbumSearchCell-AlbumSearchCell {
  width: 70px;
  white-space: nowrap;
}

.TableRowCell-monitored {
  width: 42px;
}

.TableRowCell-now-playing {
  font-weight: bold;
}

.TableRowCell-status {
  width: 75px;
  text-align: center;
  vertical-align: middle;
}

.TableRowCell-star {
  width: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.TableRowCell-play {
  width: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.TableRowCell-count {
  padding-left: 0px;
  padding-right: 5px;
  width:1px;  
  vertical-align: middle;
  align-content: center;
  text-align: right;
  color: choose-contrast-color($main-background-color) !important;
}

.TableRowCell-count-center {
  width: 30px;
  vertical-align: middle;
  align-content: center;
  text-align: center;
}

.TableRowCell-duration {
  width: 30px;
  vertical-align: middle;
  align-content: center;
  text-align: center;
}

.StarRating-starRating {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: left;
  -webkit-align-items: left;
  align-items: left;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
}

.StarRating-backStar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  color: #515253;
}

.StarRating-frontStar {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  color: #ffbc0b;
}

.MonitorToggleButton-toggleButton {
  padding: 0;
  font-size: inherit;
}

//@media screen and (max-width:$break-xxxsmall) { } //320px;
//@media screen and (max-width:$break-xxsmall) { } //375px;
//@media screen and (max-width:$break-xsmall) { } //384px;
//@media screen and (max-width:$break-small) { } //414px;
//@media screen and (max-width:$break-xxxmed) { } //480px;
//@media screen and (max-width:$break-xxmed) { } //568px;
//@media screen and (max-width:$break-xmed) { } //600px;
//@media screen and (max-width:$break-med) { } //640px;
//@media screen and (max-width:$break-large) { } //667px;
@media screen and (max-width:$break-xlarge) {
  .Table-tableContainer {
    overflow-y: hidden;
    width: 100%;
  }
  .TableHeaderCell-headerCell {
    white-space: nowrap;
  }
  .TableRowCell-cell {
    white-space: nowrap;
    max-width: 120px;
  }
} //768px;
//@media screen and (max-width:$break-xxlarge) { } //800px;
//@media screen and (max-width:$break-xxxlarge) { } //991px;
//@media screen and (max-width:$break-huge) { } //1024px;
//@media screen and (max-width:$break-xhuge) { } //1280px;
//@media screen and (max-width:$break-xxhuge) { } //1366px;
//@media screen and (max-width:$break-xxxhuge) { } //1440px;
//@media screen and (max-width:$break-maximum) { } //1600px;