section.scrollable.scrollsaver.padder-lg.w-f-md.animated.fadeInRight
  .row
    .col-md-12
      section.panel.panel-default.portlet-item
        header.panel-heading.font-bold  Connection 
        ul.list-group.alt
          li.list-group-item
            .media
              span.pull-left.h2.text-muted.m-l B
              .pull-right.m-t-sm(ng-class='$root.backend_ping.status === "success" ? "text-success" : "text-danger"')
                i.fa.fa-circle
              .media-body
                div
                  h2 Backend Status
                pre.text-muted {{$root.backend_ping.status}} - {{$root.backend_ping.server_time}}
          li.list-group-item
            .media  
              span.pull-left.h2.text-muted.m-l A  
              .pull-right.m-t-sm(ng-class='alloydb.status === "success" ? "text-success" : "text-danger"')
                i.fa.fa-circle
              .media-body
                div
                  h2 AlloyDB Status
                pre.text-muted {{alloydb.status}}
              
          section.panel.panel-success.portlet-item
            header.panel-heading.font-bold  Media Stats
            h2.noLibraryData(ng-show="!libraryInfo") Loading Library Info...
            .table-responsive(ng-show="libraryInfo")
              table.table.table-striped.b-t.b-light
                tbody(ng-repeat='(key, value) in libraryInfo')
                  tr
                    td.col-sm-12.col-md-6.col-lg-6 {{key}}
                    td.col-sm-12.col-md-6.col-lg-6 {{value}}
                    

          section.panel.panel-success.portlet-item(ng-if="scanStatus.result.isScanning")
            header.panel-heading  AlloyDB Scan Status  
            ul.list-group.alt
              li.list-group-item
                .media
                  span.pull-left.h2.text-muted.m-l S
                  
                  .media-body
                    div
                      a(href='#') Currently Scanning
                    small.text-muted {{scanStatus.result.status}}

