@import "../../styles/variables";
.status-text{
  background-color: $main-background-color;
  color: $main-text-color;
}
.noLibraryData {
  font-weight: bold;
  color: #c3c3c383;
  text-align: center;
}