.Table-tableContainer(ng-style="{ 'padding-right' : (hasjumpbar == 'true') ? '40px' : '0px' }")
  table.Table-table
    thead
      tr
        th.TableHeaderCell-headerCell(ng-show="{{showstar == 'true'}}")
        th.TableHeaderCell-headerCell.Link-link(label='Track', ng-show="{{showtracknum == 'true'}}") #
        th.TableHeaderCell-headerCell.Link-link(label='Title') Title
        th.TableHeaderCell-headerCell.Link-link(label='Artist', ng-show="{{showartist == 'true'}}") Artist
        th.TableHeaderCell-headerCell.Link-link(label='Album', ng-show="{{showalbum == 'true'}}") Album
        th.TableHeaderCell-headerCell.Link-link(label='Genre', ng-show="{{showgenre == 'true'}}") Genre
        th.TableRowHeaderCell-TrackCount.TableHeaderCell-headerCell.Link-link(label='Plays', ng-show="{{showplays == 'true'}}") Plays
        th.TableHeaderCell-headerCell.Link-link(label='Duration', ng-show="{{showduration == 'true'}}") Duration
    tbody(ng-repeat='track in data')
      tr.TableRow-row(ng-class="{'TableRow-row-now-playing': checkIfNowPlaying(track.id) == true}", ng-dblclick="requestPlay(track.id)")
        td.TableRowCell-star.TableRowCell-cell(ng-show="showstar == 'true'")
          button.IconButton-button.Link-link.Link-link(type='button', ng-click="starTrack(track)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}")
            i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', ng-class="track.starred == 'true' ? 'fa-star' : 'fa-star-o'")
        td.TableRowCell-count.TableRowCell-cell(ng-show="showtracknum == 'true'")
          span.Label-label.Label-medium(title='{{track.no}} / {{track.of}}', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}")
            span(ng-if="!track.of", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}")  {{track.no}} 
            span(ng-if="track.of", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.no}} / {{track.of}}
        td.TableRowCell-cell
          span.Link-link(ng-click="requestPlay(track.id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.title}}
        td.TableRowCell-cell(ng-show="showartist == 'true'")
          span.Link-link(ng-click="navToArtist(track.base_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.artist}}
        td.TableRowCell-cell(ng-show="showalbum == 'true'")
          span.Link-link(ng-click="navToAlbum(track.album_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.album}}
        td.TableRowCell-cell(ng-show="showgenre == 'true'")
          span.Link-link(ng-click="navToGenre(track.genre_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.genre}}
        td.TableRowCell-cell.TableRowCell-count-center(ng-show="showplays == 'true'")
          span.Label-label.Label-medium(title='{{track.play_count}}', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}")
            span(ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{track.play_count}}
        td.TableRowCell-duration.TableRowCell-cell(ng-show="showduration == 'true'")
          span.Link-link(ng-click="navToAlbum(album.base_id)", ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(track.id) == true}") {{$root.formatTime(track.duration)}}