.navbar {
  height: $navbar-height;
  background-color: $primary-color !important;
  border: 1px solid $general-border-color;
}

.navbar-brand{
  color: choose-contrast-color($primary-color) !important;
}

.nav-link{
  color: $alt-text-color !important;
}

.autocomplete-container{
  position: absolute;
  right: 10px; 
  width: 500px;
  left: auto !important;
  top: $toolbar-height !important;
  max-height: 50vh;
  overflow: auto;
}

.search-list-item{
  margin: 0px;
  cursor: pointer;
}