nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='/')
    span Alloy
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/index') Index
      li.nav-item
        a.nav-link(href='/playing') Playing
      li.nav-item
        a.nav-link(href='/starred') Starred
      li.nav-item
        a.nav-link(href='/starred') Charts
      li.nav-item
        a.nav-link(href='/playlists') Playlists

    form.form-inline
      input#search-box.form-control.form-control-sm.mr-sm-2(type='text', ng-model='searchText', placeholder="Search...", auto-complete='autoCompleteOptions', autocomplete="off")

