section.vbox
  .navbar-header.aside.bg-info.dk.nav-xs
    a.btn.btn-link.visible-xs#sidenavButton(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
      i.alloy-icon.icon-menu.icon
    a.navbar-brand.text-lt(href='/')
      i.alloy-icon.icon-headphones
      span.hidden-nav-xs.m-l-sm Alloy 
    a.btn.btn-link.visible-xs(href='/playing')
      i.alloy-icon.icon-controls

  form.navbar-form.navbar-left.input-s-lg.m-t.m-l-n-xs.hidden-xs(role='search')
    .form-group
      .input-group
        span.input-group-btn
          button.btn.btn-sm.bg-white.btn-icon.rounded(data-target='#nav,.navbar-header', data-toggle='class:nav-xs,nav-xs')
            i.alloy-icon.icon-menu
        
    searchbar