.navbar {
  height: $navbar-height;
  background-color: $main-background-color !important;
  border: 1px solid $general-border-color;
}

.navbar-brand{
  color: $main-text-color !important;
}

.nav-link{
  color: $main-text-color !important;
}

.autocomplete-container{
  position: absolute;
  right: 10px; 
  width: 500px;
  left: auto !important;
  top: $toolbar-height !important;
  max-height: 50vh;
  overflow: auto;
}