$debug-mode: false;
$debug-stack: 0px;
$debug-sizing: content-box;
$colors: red, orange, yellow, lime, blue, pink;


$debug-color: nth( $colors, random( length($colors) ) ) !default;
@if $debug-mode {
  $debug-stack: 1px dashed;
  $debug-sizing: border-box;
}

.card {
  box-sizing: $debug-sizing;
  -moz-box-sizing: $debug-sizing;
  -webkit-box-sizing: $debug-sizing;
  border:  $debug-stack nth( $colors, random( length($colors) ) );
}
.row {
  border: $debug-stack nth( $colors, random( length($colors) ) );
}
.col {
  border: $debug-stack nth( $colors, random( length($colors) ) );
}
.container {
  border: $debug-stack nth( $colors, random( length($colors) ) );
}
.sidebar {
  border: $debug-stack nth( $colors, random( length($colors) ) );
}