#starredWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

#starredHeader {
  flex: 0.2 0;
}

#starredAlbums {
  flex: 0.33 0;
  max-height: 100px;
}

#starredTracks {
  flex: 1 1;
  display: flex;
}

#starredGrid>div {
  position: absolute;
  padding: 0;
  left: 0;
  right: 0;
  height: 50vh;
}

.bio-text {
  font-size: 0.7em;
  float: left;
  color: white;
  font-family: Candara, Trebuchet MS, sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-right: thin dotted #666666;
  line-height: 18px;
  max-height: 75px;
  overflow: auto;
}