.starredWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

.starredBodyWrapper {
  position: absolute;
  padding: 0;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#starredHeader {
  flex: 0.2 0;
}

#starredAlbums {
  flex: 0.25 0;
  max-height: 100px;
}

#starredTracksGrid {
  flex: 1 0;
}