.appfooter
  .nowPlayingBar
    .nowPlayingBarTop
      div.progress-background(style='height:10px;position:absolute;top:0;left:0;right:0;')
      .nowPlayingBarPositionContainer.sliderContainer.mdl-slider-container
      #progressContainer
        #subProgress.progress-bar.track-progress.buffer-color(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
        #mainProgress.progress-bar.track-progress.progress-color(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
      div#clickProgress(style='height:10px;position:absolute;top:0;left:0;right:0;opacity: 0;')  
      .nowPlayingBarInfoContainer
        img#nowPlayingImageHolder.nowPlayingImage(ng-click="goToNowPlaying()")
        .nowPlayingBarText
          div
            a#trackTitle(href='#')
          div            
             a#artistInfo(href='#') 

      .nowPlayingBarCenter
        .nowPlayingBarTimeContainer.text-center
          .mediaControlButtonGroup.btn-group(role='group')
            button#skipBackButton.btn.btn-sm.btn-dark.mediaControlButton(type='button') 
              i.fa.fa-step-backward(aria-hidden='true')
            button#playPauseButton.btn.btn-sm.btn-dark.mediaControlButton(type='button') 
              i#playPauseIcon.fa.fa-play(aria-hidden='true')
            button#skipNextButton.btn.btn-sm.btn-dark.mediaControlButton(type='button') 
              i.fa.fa-step-forward(aria-hidden='true')
  
          .nowPlayingBarSecondaryText
            #mainTimeDisplay
        
      .nowPlayingBarRight
        google-cast-launcher.btn.btn-sm.btn-dark(style='max-height:35px;max-width:35px;')
        button#downloadButton.btn.btn-sm.btn-dark
          i.fa.fa-download(aria-hidden='true')
        button#repeatButton.btn.btn-sm.btn-dark
          i.fa.fa-repeat(aria-hidden='true')
        button#likeButton.btn.btn-sm.btn-dark
          i#likeButtonIcon.fa.fa-star-o(aria-hidden='true')
        button#shareButton.btn.btn-sm.btn-dark
          i.fa.fa-bullhorn(aria-hidden='true')
        a(href='/playing')#nowPlayingViewButton.btn.btn-sm.btn-dark
          i.fa.fa-list-ul(aria-hidden='true')
        button#muteButton.btn.btn-sm.btn-dark
          i.fa.fa-volume-off(aria-hidden='true')
        .sliderContainer.nowPlayingBarVolumeSliderContainer.mdl-slider-container(style='width:100px;vertical-align:middle;display:inline-flex;')
          .slidecontainer
            input#volumeSlider.slider(type='range', min='1', max='100', value='50')