:export {
  xxxsmall: 320px;
  xxsmall: 375px;
  xsmall: 384px;
  smalls: 414px;
  xxxmed: 480px;
  xxmed: 575px;
  xmed: 600px;
  med: 640px;
  large: 667px;
  xlarge: 768px;
  xxlarge: 800px;
  xxxlarge: 991px;
  huge: 1024px;
  xhuge: 1280px;
  xxhuge: 1366px;
  xxxhuge: 1440px;
  maximum: 1600px;
  primaryColor: #006064;
  lightColor: #4dd0e1;
  darkColor: #0097a7;
  darkerColor: #006064;
  backgroundColor: #f2f4f8;
  backgroundAltColor: #F5F5F6;
  borderColor: #868686; }

.bar1 {
  left: 0%;
  height: 60%;
  background-color: black !important;
  border: .1px solid white !important; }

.bar2 {
  left: 20%;
  height: 45%;
  background-color: black !important;
  border: .1px solid white !important; }

.bar3 {
  left: 40%;
  height: 90%;
  background-color: black !important;
  border: .1px solid white !important; }

.bar4 {
  left: 60%;
  height: 60%;
  background-color: black !important;
  border: .1px solid white !important; }

.bar5 {
  left: 80%;
  height: 40%;
  background-color: black !important;
  border: .1px solid white !important; }

.animate .a1 {
  -webkit-animation: movingbar1 1s infinite alternate both;
  animation: movingbar1 1s infinite alternate both; }

.animate .a2 {
  -webkit-animation: movingbar2 1.5s infinite alternate both;
  animation: movingbar2 1.5s infinite alternate both; }

.animate .a3 {
  -webkit-animation: movingbar3 1.2s infinite alternate both;
  animation: movingbar3 1.2s infinite alternate both; }

.animate .a4 {
  -webkit-animation: movingbar4 1.1s infinite alternate both;
  animation: movingbar4 1.1s infinite alternate both; }

.animate .a5 {
  -webkit-animation: movingbar5 1.2s infinite alternate both;
  animation: movingbar5 1.2s infinite alternate both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-webkit-keyframes movingbar1 {
  0% {
    height: 32%; }
  25% {
    height: 80%; }
  50% {
    height: 56%; }
  75% {
    height: 100%; }
  100% {
    height: 84%; } }

@-webkit-keyframes movingbar2 {
  0% {
    height: 20%; }
  25% {
    height: 58%; }
  50% {
    height: 90%; }
  75% {
    height: 74%; }
  100% {
    height: 53%; } }

@-webkit-keyframes movingbar3 {
  0% {
    height: 34%; }
  25% {
    height: 69%; }
  50% {
    height: 100%; }
  75% {
    height: 82%; }
  100% {
    height: 41%; } }

@-webkit-keyframes movingbar4 {
  0% {
    height: 80%; }
  25% {
    height: 49%; }
  50% {
    height: 59%; }
  75% {
    height: 82%; }
  100% {
    height: 65%; } }

@-webkit-keyframes movingbar5 {
  0% {
    height: 50%; }
  25% {
    height: 30%; }
  50% {
    height: 90%; }
  75% {
    height: 50%; }
  100% {
    height: 65%; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes movingbar1 {
  0% {
    height: 32%; }
  25% {
    height: 80%; }
  50% {
    height: 56%; }
  75% {
    height: 100%; }
  100% {
    height: 84%; } }

@keyframes movingbar2 {
  0% {
    height: 20%; }
  25% {
    height: 58%; }
  50% {
    height: 90%; }
  75% {
    height: 74%; }
  100% {
    height: 53%; } }

@keyframes movingbar3 {
  0% {
    height: 34%; }
  25% {
    height: 69%; }
  50% {
    height: 100%; }
  75% {
    height: 82%; }
  100% {
    height: 41%; } }

@keyframes movingbar4 {
  0% {
    height: 80%; }
  25% {
    height: 49%; }
  50% {
    height: 59%; }
  75% {
    height: 82%; }
  100% {
    height: 65%; } }

@keyframes movingbar5 {
  0% {
    height: 50%; }
  25% {
    height: 30%; }
  50% {
    height: 90%; }
  75% {
    height: 50%; }
  100% {
    height: 65%; } }

/*# sourceMappingURL=animations.css.map */
