@import "../../../styles/variables";

.activityQueueWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

#sabnzbdQueueGrid {
  position: absolute;
  padding: 0;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}