.abs-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 88%;
}
.cube {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-30deg) rotateY(45deg);
          transform: rotateX(-30deg) rotateY(45deg);
}
.cube.cube1 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(-59px);
}
.cube.cube2 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(-59px);
}
.cube.cube3 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(0px);
}
.cube.cube4 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(-59px);
}
.cube.cube5 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(0px);
}
.cube.cube6 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(59px) translateZ(59px);
}
.cube.cube7 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(0px);
}
.cube.cube8 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(59px) translateZ(59px);
}
.cube.cube9 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(59px) translateZ(59px);
}
.cube.cube10 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(-59px);
}
.cube.cube11 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(-59px);
}
.cube.cube12 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(0px);
}
.cube.cube13 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(-59px);
}
.cube.cube14 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(0px);
}
.cube.cube15 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(0px) translateZ(59px);
}
.cube.cube16 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(0px);
}
.cube.cube17 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(0px) translateZ(59px);
}
.cube.cube18 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(0px) translateZ(59px);
}
.cube.cube19 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(-59px);
}
.cube.cube20 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(-59px);
}
.cube.cube21 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(0px);
}
.cube.cube22 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(-59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(-59px);
}
.cube.cube23 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(0px);
}
.cube.cube24 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(59px) translateY(-59px) translateZ(59px);
}
.cube.cube25 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(0px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(0px);
}
.cube.cube26 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(0px) translateY(-59px) translateZ(59px);
}
.cube.cube27 {
  -webkit-transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(59px);
          transform: rotateX(-30deg) rotateY(45deg) translateX(-59px) translateY(-59px) translateZ(59px);
}
.cube:nth-child(1) {
  -webkit-animation: cubeAnimation1 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation1 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(2) {
  -webkit-animation: cubeAnimation2 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation2 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(3) {
  -webkit-animation: cubeAnimation3 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation3 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(4) {
  -webkit-animation: cubeAnimation4 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation4 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(5) {
  -webkit-animation: cubeAnimation5 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation5 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(6) {
  -webkit-animation: cubeAnimation6 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation6 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(7) {
  -webkit-animation: cubeAnimation7 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation7 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(8) {
  -webkit-animation: cubeAnimation8 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation8 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(9) {
  -webkit-animation: cubeAnimation9 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation9 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(10) {
  -webkit-animation: cubeAnimation10 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation10 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(11) {
  -webkit-animation: cubeAnimation11 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation11 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(12) {
  -webkit-animation: cubeAnimation12 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation12 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(13) {
  -webkit-animation: cubeAnimation13 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation13 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(14) {
  -webkit-animation: cubeAnimation14 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation14 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(15) {
  -webkit-animation: cubeAnimation15 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation15 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(16) {
  -webkit-animation: cubeAnimation16 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation16 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(17) {
  -webkit-animation: cubeAnimation17 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation17 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(18) {
  -webkit-animation: cubeAnimation18 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation18 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(19) {
  -webkit-animation: cubeAnimation19 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation19 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(20) {
  -webkit-animation: cubeAnimation20 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation20 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(21) {
  -webkit-animation: cubeAnimation21 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation21 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(22) {
  -webkit-animation: cubeAnimation22 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation22 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(23) {
  -webkit-animation: cubeAnimation23 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation23 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(24) {
  -webkit-animation: cubeAnimation24 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation24 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(25) {
  -webkit-animation: cubeAnimation25 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation25 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(26) {
  -webkit-animation: cubeAnimation26 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation26 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube:nth-child(27) {
  -webkit-animation: cubeAnimation27 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
          animation: cubeAnimation27 3.5s cubic-bezier(0.75, 0, 0.2, 1) infinite;
}
.cube div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cube .front {
  -webkit-transform: rotateY(0deg) translateZ(30px);
          transform: rotateY(0deg) translateZ(30px);
  background-color: rgb(36, 2, 56);
}
.cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(30px);
          transform: rotateY(-90deg) translateZ(30px);
  background-color: rgb(76, 6, 117);
}
.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(30px);
          transform: rotateX(90deg) translateZ(30px);
  background-color: rgb(58, 0, 92);
}