/*     brand Colors              */
img {
  max-width: 100%;
  max-height: 100%;
}

* {
  box-sizing: border-box;
  transition: 0.35s ease;
}
#main {
  padding-left: 300px; }

.error-row {
  color: #f44336; }

.nav-tabs .nav-item .nav-link {
  color: #ab47bc !important; }

.nav-tabs .nav-item .nav-link.active {
  color: #9c27b0 !important; }

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:focus {
  background-color: #9c27b0 !important;
  color: #fff !important;
  box-shadow: none !important; }

.button-collapse {
  display: none; }

.bmd-form-group {
  width: 100% !important; }

.card-body {
  text-align: left; }

.card-category {
  text-align: left; }

.modal-body {
  max-height: 70vh;
  overflow: auto; }

.pull-right {
  text-align: right; }

#searchModal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#searchModal .modal-content {
  height: auto;
  width: 100vw;
  min-width: 100%;
  min-height: 100%;
  border-radius: 0; }

.norows {
  font-weight: bold;
  color: #c3c3c383;
  text-align: center; }

.nav-pull-right {
  position: absolute;
  top: 5px;
  right: 5px;
  color: inherit; }

.gj-checkbox-md input[type="checkbox"]:checked + span:after {
  top: 0px !important; }

select {
  width: 400px;
  -moz-text-align-last: center;
       text-align-last: center; }

@media only screen and (max-width: 992px) {
  #main {
    padding-left: 0; }
  .button-collapse {
    display: block; } }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#main {
  flex: 1 0 auto; }

.row {
  margin-bottom: 0px !important; }

.table-checkbox {
  width: 50px;
  padding-top: 10px !important; }

td,
th {
  padding: 0px !important; }

table > thead > tr > th {
  vertical-align: middle; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url("../images/user-bg-2.jpg") no-repeat center center;
  z-index: 1001; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out; }

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out; }

.progress {
  background-color: rgba(255, 64, 129, 0.22); }

.no-js #loader-wrapper {
  display: none; }

/*# sourceMappingURL=main.css.map */
