doctype html
html(ng-app='subsonic')
  head
    title= title
    link(rel='stylesheet', href='/assets/styles.css')
    //link(rel='stylesheet', href='/node_modules/ag-grid-community/dist/styles/ag-grid.css')
    //link(rel='stylesheet', href='/node_modules/roboto-fontface/css/roboto/roboto-fontface.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    //link(rel='stylesheet', href='/CSS/style.css')
  body#page-top
    
    #body-row.row((window:resize)='onResize($event)')
      include nav.jade  
      .loader 
      ng-view.content.content-wide.animate-fade
      include sidenav.jade
      include footer.jade
      audio#playlist-audio(preload='false', controls='hidden', style="display:none;")
      video#media-player(preload='true', controls='hidden', style="display:none;")
    script.
      if (typeof module === 'object') {window.module = module; module = undefined;}
      if (window.module) module = window.module;
   
    script(src="/assets/bundle.js")
    

    script(type='text/javascript', src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1')

