// Sidebar
#sidebar-container.sidebar-expanded.d-none.d-md-block
  // d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
  // Bootstrap List Group
  ul.list-group.card-5
    a.bg-dark.list-group-item.list-group-item-action(href='/artists')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-music.fa-fw.mr-3
        span.menu-collapsed Artists
    // Submenu content
    #submenu2.collapse.sidebar-submenu
    
    a.bg-dark.list-group-item.list-group-item-action(href='/playlist')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-list-ul.fa-fw.mr-3
        span.menu-collapsed
          | Playlist 
          span(ng-show="$root.showTrackCount()").badge.badge-pill.badge-primary.ml-2 {{$root.trackCount()}}
    a.bg-dark.list-group-item.list-group-item-action(href='/settings')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-calendar.fa-fw.mr-3
        span.menu-collapsed Settings
    a.bg-dark.list-group-item.list-group-item-action(href='/status')
      .d-flex.w-100.justify-content-start.align-items-center
        span.fa.fa-question.fa-fw.mr-3
        span.menu-collapsed Status
    a.bg-dark.list-group-item.list-group-item-action.d-flex.align-items-center(href='#', data-toggle='sidebar-colapse')
      .d-flex.w-100.justify-content-start.align-items-center
        span#collapse-icon.fa.fa-2x.mr-3
        span#collapse-text.menu-collapsed Collapse