doctype html
html.app(ng-app='alloy',lang='en', ng-cloak)
  head
    title= title  
    meta(name='description', content='app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body(style="display:none;")
    
    section.vbox
      header.bg-white-only.header.header-md.navbar.navbar-fixed-top-xs
        navbar
      section
        section.hbox.stretch
          aside#nav.bg-dark.dk.aside.hidden-print.collapse(ng-if="$root.globals.currentUser")
            section.vbox
              sidenav
              footer.footer.hidden-xs.no-padder.text-center-nav-xs.bg-dark(style="height:100%;")
                .hidden-xs
                  .dropdown.dropup.wrapper-sm.clearfix
                    a.dropdown-toggle(href="/playing")
                      span.thumb-sm.avatar.pull-left.m-l-xs
                        img.dker(ng-src='{{$root.currentTrack.image}}', ng-show="$root.currentTrack.image", alt='...', style="height:100%")
                      span.hidden-nav-xs.clear
                        span.truncate.block.m-l
                          strong.truncate.font-bold.text-lt {{$root.currentTrack.title}}
                        span.truncate.text-muted.text-xs.block.m-l {{$root.currentTrack.artist}}
          section#content
            section.vbox
              ng-view#primary-content.vbox
              ul#autoComplete_results_list
              a.hide.nav-off-screen-block(data-target='#nav,html', data-toggle='class:nav-off-screen,open', href='#')
              footer.footer.bg-dark
                footbar

    include context
    include modals

    video#media-player(preload='true', controls='hidden', style="display:none;")
    div#loadedState(style="display:none;") {{$root.loaded}}
    script.
      window.isCastAvailable = false;
      window.__onGCastApiAvailable = function (isAvailable) {
        window.isCastAvailable = isAvailable;
      };
    script(src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1')
    script(src='/vendor.js', type='text/javascript')
    - if(!dev_mode)
      script(src='/main.js', type='text/javascript')
  
    - if(dev_mode)
      script(src='/app.js', type='text/javascript')
      script(src='http://localhost:#{jade_port}/livereload.js?snipver=1') 



      