div
  .Table-tableContainer(ng-show="!folderlist && !driveList")
    table.table.table-striped.b-t.b-light
      thead
        tr
          th.TableHeaderCell-headerCell.Link-link(label='Album') | Loading...

  .Table-tableContainer.table-responsive(ng-show="driveList")
    table.table.table-striped.b-t.b-light
      thead
        tr
          th.TableHeaderCell-headerCell.Link-link(label='Pick a Drive and Path') Pick a Drive and Path
          th.TableHeaderCell-headerCell
      tbody
        tr.TableRow-row(ng-repeat='drive in driveList')
          td.TableRowCell-cell
            a(ng-click="navigateToPath(drive.path)") 
              span.clear
                span {{drive.path}}
           
          td.TableRowCell-cell
            span.Link-link {{drive.size}}

   
  .Table-tableContainer(ng-show="folderlist")
    table.table.table-striped.b-t.b-light
      thead
        tr
          th.TableHeaderCell-headerCell.Link-link(label='Pick a Drive and Path') {{currentpath}}
      tbody
        tr.TableRow-row(ng-repeat='folder in folderlist')
          td.TableRowCell-cell
            span.Link-link.ng-binding(ng-click="navigateToPath(folder.Path)") {{folder.Name}}


