

section.hbox.stretch
  section.vbox.scrollable
    section.vbox.scrollable
      
      .m-b-md
        .row
          .col-sm-6
            h3.m-b-none Charts
            small Statistics & graph information
          .col-sm-6
            .text-right.text-left-xs
              .sparkline.m-l.m-r-lg.pull-right(data-type='bar', data-height='35', data-bar-width='6', data-bar-spacing='2', data-bar-color='#fff')
                canvas(width='86', height='35', style='display: inline-block; width: 86px; height: 35px; vertical-align: top;')
              .m-t-md
                span.text-uc New users
                .h4.m-n
                  strong 1,120,100
      section.panel.panel-default
        header.panel-heading.font-bold Site statistics
        .panel-body
          #flot-1ine(style='height: 250px; padding: 0px; position: relative;')
            canvas.flot-base(width='835', height='250', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 835px; height: 250px;')
            .flot-text(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);')
              .flot-x-axis.flot-x1-axis.xAxis.x1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 15px; text-align: center;') 0
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 89px; text-align: center;') 1
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 162px; text-align: center;') 2
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 236px; text-align: center;') 3
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 309px; text-align: center;') 4
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 383px; text-align: center;') 5
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 456px; text-align: center;') 6
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 530px; text-align: center;') 7
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 603px; text-align: center;') 8
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 677px; text-align: center;') 9
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 747px; text-align: center;') 10
                .flot-tick-label.tickLabel(style='position: absolute; max-width: 69px; top: 233px; left: 821px; text-align: center;') 11
              .flot-y-axis.flot-y1-axis.yAxis.y1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                .flot-tick-label.tickLabel(style='position: absolute; top: 220px; left: 7px; text-align: right;') 0
                .flot-tick-label.tickLabel(style='position: absolute; top: 176px; left: 7px; text-align: right;') 5
                .flot-tick-label.tickLabel(style='position: absolute; top: 132px; left: 1px; text-align: right;') 10
                .flot-tick-label.tickLabel(style='position: absolute; top: 88px; left: 1px; text-align: right;') 15
                .flot-tick-label.tickLabel(style='position: absolute; top: 44px; left: 1px; text-align: right;') 20
                .flot-tick-label.tickLabel(style='position: absolute; top: 0px; left: 1px; text-align: right;') 25
            canvas.flot-overlay(width='835', height='250', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 835px; height: 250px;')
        footer.panel-footer.bg-white
          .row.text-center.no-gutter
            .col-xs-3.b-r.b-light
              p.h3.font-bold.m-t 5,860
              p.text-muted Orders
            .col-xs-3.b-r.b-light
              p.h3.font-bold.m-t 10,450
              p.text-muted Sellings
            .col-xs-3.b-r.b-light
              p.h3.font-bold.m-t 21,230
              p.text-muted Items
            .col-xs-3
              p.h3.font-bold.m-t 7,230
              p.text-muted Customers
      .row
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Multiple
            .panel-body
              #flot-chart(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .flot-text(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);')
                  .flot-x-axis.flot-x1-axis.xAxis.x1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 14px; text-align: center;') 0
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 74px; text-align: center;') 1
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 135px; text-align: center;') 2
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 195px; text-align: center;') 3
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 255px; text-align: center;') 4
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 316px; text-align: center;') 5
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 376px; text-align: center;') 6
                  .flot-y-axis.flot-y1-axis.yAxis.y1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; top: 211px; left: 6px; text-align: right;') 0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 195px; left: 6px; text-align: right;') 2
                    .flot-tick-label.tickLabel(style='position: absolute; top: 179px; left: 6px; text-align: right;') 4
                    .flot-tick-label.tickLabel(style='position: absolute; top: 162px; left: 6px; text-align: right;') 6
                    .flot-tick-label.tickLabel(style='position: absolute; top: 146px; left: 6px; text-align: right;') 8
                    .flot-tick-label.tickLabel(style='position: absolute; top: 130px; left: 0px; text-align: right;') 10
                    .flot-tick-label.tickLabel(style='position: absolute; top: 114px; left: 0px; text-align: right;') 12
                    .flot-tick-label.tickLabel(style='position: absolute; top: 97px; left: 0px; text-align: right;') 14
                    .flot-tick-label.tickLabel(style='position: absolute; top: 81px; left: 0px; text-align: right;') 16
                    .flot-tick-label.tickLabel(style='position: absolute; top: 65px; left: 0px; text-align: right;') 18
                    .flot-tick-label.tickLabel(style='position: absolute; top: 49px; left: 0px; text-align: right;') 20
                    .flot-tick-label.tickLabel(style='position: absolute; top: 32px; left: 0px; text-align: right;') 22
                    .flot-tick-label.tickLabel(style='position: absolute; top: 16px; left: 0px; text-align: right;') 24
                    .flot-tick-label.tickLabel(style='position: absolute; top: 0px; left: 0px; text-align: right;') 26
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .legend
                  div(style='position: absolute; width: 78px; height: 32px; top: 13px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;')  
                  table(style='position:absolute;top:13px;right:13px;;font-size:smaller;color:#545454')
                    tbody
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(27,179,153);overflow:hidden')
                        td.legendLabel Unique Visits
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(23,123,187);overflow:hidden')
                        td.legendLabel Page Views
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Real-time update
            .panel-body
              #flot-live(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .flot-text(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);')
                  .flot-y-axis.flot-y1-axis.yAxis.y1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; top: 224px; left: 11px; text-align: right;') 0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 179px; left: 5px; text-align: right;') 20
                    .flot-tick-label.tickLabel(style='position: absolute; top: 134px; left: 5px; text-align: right;') 40
                    .flot-tick-label.tickLabel(style='position: absolute; top: 90px; left: 5px; text-align: right;') 60
                    .flot-tick-label.tickLabel(style='position: absolute; top: 45px; left: 5px; text-align: right;') 80
                    .flot-tick-label.tickLabel(style='position: absolute; top: 0px; left: 0px; text-align: right;') 100
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
      .row
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Vertical bar
            .panel-body
              #flot-bar(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .flot-text(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);')
                  .flot-x-axis.flot-x1-axis.xAxis.x1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 34px; text-align: center;') 10
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 87px; text-align: center;') 15
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 141px; text-align: center;') 20
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 195px; text-align: center;') 25
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 248px; text-align: center;') 30
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 302px; text-align: center;') 35
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 43px; top: 224px; left: 355px; text-align: center;') 40
                  .flot-y-axis.flot-y1-axis.yAxis.y1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; top: 211px; left: 11px; text-align: right;') 0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 169px; left: 5px; text-align: right;') 25
                    .flot-tick-label.tickLabel(style='position: absolute; top: 127px; left: 5px; text-align: right;') 50
                    .flot-tick-label.tickLabel(style='position: absolute; top: 84px; left: 5px; text-align: right;') 75
                    .flot-tick-label.tickLabel(style='position: absolute; top: 42px; left: 0px; text-align: right;') 100
                    .flot-tick-label.tickLabel(style='position: absolute; top: 0px; left: 0px; text-align: right;') 125
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .legend
                  div(style='position: absolute; width: 60px; height: 48px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;')  
                  table(style='position:absolute;right:13px;;font-size:smaller;color:#545454')
                    tbody
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #6783b7;overflow:hidden')
                        td.legendLabel Product 1
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #4fcdb7;overflow:hidden')
                        td.legendLabel Product 2
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #8dd168;overflow:hidden')
                        td.legendLabel Product 3
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Horizontal bar
            .panel-body
              #flot-bar-h(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .flot-text(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);')
                  .flot-x-axis.flot-x1-axis.xAxis.x1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 22px; text-align: center;') 0
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 78px; text-align: center;') 20
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 137px; text-align: center;') 40
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 196px; text-align: center;') 60
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 254px; text-align: center;') 80
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 311px; text-align: center;') 100
                    .flot-tick-label.tickLabel(style='position: absolute; max-width: 55px; top: 224px; left: 370px; text-align: center;') 120
                  .flot-y-axis.flot-y1-axis.yAxis.y1Axis(style='position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;')
                    .flot-tick-label.tickLabel(style='position: absolute; top: 211px; left: 5px; text-align: right;') 7.5
                    .flot-tick-label.tickLabel(style='position: absolute; top: 176px; left: 0px; text-align: right;') 10.0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 141px; left: 0px; text-align: right;') 12.5
                    .flot-tick-label.tickLabel(style='position: absolute; top: 106px; left: 0px; text-align: right;') 15.0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 70px; left: 0px; text-align: right;') 17.5
                    .flot-tick-label.tickLabel(style='position: absolute; top: 35px; left: 0px; text-align: right;') 20.0
                    .flot-tick-label.tickLabel(style='position: absolute; top: 0px; left: 0px; text-align: right;') 22.5
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .legend
                  div(style='position: absolute; width: 60px; height: 48px; right: 14px; background-color: rgb(255, 255, 255); opacity: 0.85;')  
                  table(style='position:absolute;right:14px;;font-size:smaller;color:#545454')
                    tbody
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #6783b7;overflow:hidden')
                        td.legendLabel Product 1
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #4fcdb7;overflow:hidden')
                        td.legendLabel Product 2
                      tr
                        td.legendColorBox
                          div(style='border:1px solid none;padding:1px')
                            div(style='width:4px;height:0;border:5px solid #8dd168;overflow:hidden')
                        td.legendLabel Product 3
      .row
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Pie Chart
            .panel-body
              #flot-pie(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                span#pieLabel0.pieLabel(style='position: absolute; top: 71px; left: 275px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(101,181,194);')
                    | iPhone5S
                    br
                    | 40%
                span#pieLabel1.pieLabel(style='position: absolute; top: 207px; left: 205.5px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(77,167,193);')
                    | iPad Mini
                    br
                    | 10%
                span#pieLabel2.pieLabel(style='position: absolute; top: 192px; left: 94px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(57,147,187);')
                    | iPad Mini Retina
                    br
                    | 20%
                span#pieLabel3.pieLabel(style='position: absolute; top: 97px; left: 64px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(46,123,173);')
                    | iPhone4S
                    br
                    | 12%
                span#pieLabel4.pieLabel(style='position: absolute; top: 13px; left: 118px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(35,100,158);')
                    | iPad Air
                    br
                    | 18%
        .col-md-6
          section.panel.panel-default
            header.panel-heading.font-bold Donut pie
            .panel-body
              #flot-pie-donut(style='height: 240px; padding: 0px; position: relative;')
                canvas.flot-base(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                canvas.flot-overlay(width='387', height='240', style='direction: ltr; position: absolute; left: 0px; top: 0px; width: 387px; height: 240px;')
                .legend
                  div(style='position: absolute; width: 93px; height: 80px; top: 5px; right: 5px; background-color: rgb(255, 255, 255); opacity: 0.85;')  
                  table(style='position:absolute;top:5px;right:5px;;font-size:smaller;color:#545454')
                    tbody
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(101,181,194);overflow:hidden')
                        td.legendLabel iPhone5S
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(77,167,193);overflow:hidden')
                        td.legendLabel iPad Mini
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(57,147,187);overflow:hidden')
                        td.legendLabel iPad Mini Retina
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(46,123,173);overflow:hidden')
                        td.legendLabel iPhone4S
                      tr
                        td.legendColorBox
                          div(style='border:1px solid #ccc;padding:1px')
                            div(style='width:4px;height:0;border:5px solid rgb(35,100,158);overflow:hidden')
                        td.legendLabel iPad Air
                span#pieLabel0.pieLabel(style='position: absolute; top: 71px; left: 228px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(101,181,194);')
                    | iPhone5S
                    br
                    | 40%
                span#pieLabel1.pieLabel(style='position: absolute; top: 207px; left: 159px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(77,167,193);')
                    | iPad Mini
                    br
                    | 10%
                span#pieLabel2.pieLabel(style='position: absolute; top: 192px; left: 47.5px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(57,147,187);')
                    | iPad Mini Retina
                    br
                    | 20%
                span#pieLabel3.pieLabel(style='position: absolute; top: 97px; left: 17px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(46,123,173);')
                    | iPhone4S
                    br
                    | 12%
                span#pieLabel4.pieLabel(style='position: absolute; top: 13px; left: 71px;')
                  div(style='font-size:x-small;text-align:center;padding:2px;color:rgb(35,100,158);')
                    | iPad Air
                    br
                    | 18%
      .row
        .col-lg-4
          section.panel.panel-default
            header.panel-heading Pie
            .panel-body.text-center
              .sparkline.inline(data-type='pie', data-height='154', data-slice-colors="['#1ccacc','#f2f2f2']")
                canvas(width='154', height='154', style='display: inline-block; width: 154px; height: 154px; vertical-align: top;')
              .line.pull-in
              .text-xs
                i.fa.fa-circle.text-info
                |  60% 
                i.fa.fa-circle.text-muted
                |  40%
        .col-lg-4
          section.panel.panel-default
            header.panel-heading.font-bold Data graph
            .bg-light.dk.wrapper
              span.pull-right Friday
              span.h4 $540
              .text-center.m-b-n.m-t-sm
                .sparkline(data-type='line', data-height='65', data-width='100%', data-line-width='2', data-line-color='#dddddd', data-spot-color='#bbbbbb', data-fill-color='', data-highlight-line-color='#fff', data-spot-radius='3', data-resize='true')
                  canvas(width='835', height='65', style='display: inline-block; width: 835px; height: 65px; vertical-align: top;')
                .sparkline.inline(data-type='bar', data-height='45', data-bar-width='6', data-bar-spacing='6', data-bar-color='#1ccc88')
                  canvas(width='150', height='45', style='display: inline-block; width: 150px; height: 45px; vertical-align: top;')
            .panel-body
              .row
                .col-xs-4
                  small.text-muted.block Market
                  span $1500.00
                .col-xs-4
                  small.text-muted.block Referal
                  span $600.00
                .col-xs-4
                  small.text-muted.block Affiliate
                  span $400.00
        .col-lg-4
          section.panel.panel-default
            header.panel-heading Stacked
            .panel-body.text-center
              .sparkline.inline(data-type='bar', data-height='193', data-bar-width='12', data-bar-spacing='10', data-stacked-bar-color="['#c9d0d7', '#eee']")
                canvas(width='210', height='193', style='display: inline-block; width: 210px; height: 193px; vertical-align: top;')
      .row
        .col-lg-4
          section.panel.panel-default
            header.panel-heading  Conversion 
            .panel-body.text-center
              h4
                | 62.5
                small  hrs
              small.text-muted.block Updated at 2 minutes ago
              .inline
                .easypiechart.easyPieChart(data-percent='75', data-bar-color='#fcc633', data-line-width='16', data-loop='false', data-size='188', style='width: 188px; height: 188px; line-height: 188px;')
                  div
                    span.h2.m-l-sm.step 75
                    | % 
                    .text.text-sm new
                  canvas(width='188', height='188')
            .panel-footer
              small % of avarage rate of the Conversion
        .col-lg-4
          section.panel.panel-default
            header.panel-heading  Bounce rate 
            .panel-body.text-center
              h4
                small last 
                | 12
                small  hrs
              small.text-muted.block yesterday: 20%
              .inline
                .easypiechart.easyPieChart(data-percent='25', data-line-width='6', data-loop='false', data-size='188', style='width: 188px; height: 188px; line-height: 188px;')
                  div
                    span.h2.m-l-sm.step 25
                    | % 
                    .text.text-sm today
                  canvas(width='188', height='188')
            .panel-footer
              small % of change
        .col-lg-4
          section.panel.panel-default
            header.panel-heading  New visitors 
            .panel-body.text-center
              h4 3,450
              small.text-muted.block Worldwide visitors
              .inline
                .easypiechart.easyPieChart(data-percent='60', data-line-width='10', data-track-color='#eee', data-bar-color='#1ccc88', data-scale-color='#fff', data-size='188', data-line-cap='butt', style='width: 188px; height: 188px; line-height: 188px;')
                  div
                    span.h2.m-l-sm.step 60
                    | % 
                    .text.text-sm new visits
                  canvas(width='188', height='188')
            .panel-footer
              small % of avarage rate of the visits
  a.hide.nav-off-screen-block(href='#', data-toggle='class:nav-off-screen,open', data-target='#nav,html')
