.appfooter.bg-dark
  .nowPlayingBar
    .nowPlayingBarTop
      .nowPlayingBarPositionContainer.sliderContainer.mdl-slider-container
        .progress-bar.progress-bar-striped.progress-bar-animated.track-progress(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
      .nowPlayingBarInfoContainer
        .nowPlayingImage(style='background-image: url("https://emby.d3bug.space/Items/e1b5450efc5f3e8fa633d95e6ab04203/Images/Primary?height=88&tag=d80f8b3e5f3b5c3501d8e869b0f9dc5a&quality=90");')
        .nowPlayingBarText
          div
            button.btn.btn-sm.btn-dark Maniac (2018)
          .nowPlayingBarSecondaryText
            button.btn.btn-sm.btn-dark 1.9 - Utangatta
      .nowPlayingBarCenter
        button.btn.btn-sm.btn-dark
          i.fa.fa-step-backward(aria-hidden='true')
        button.btn.btn-sm.btn-dark
          i.fa.fa-pause(aria-hidden='true')
        button.btn.btn-sm.btn-dark
          i.fa.fa-stop(aria-hidden='true')
        button.btn.btn-sm.btn-dark
          i.fa.fa-step-forward(aria-hidden='true')
        .text-light.bg-dark 12:46 / 45:11
      .nowPlayingBarRight
        button.btn.btn-sm.btn-dark
          i.fa.fa-volume-off(aria-hidden='true')
        .sliderContainer.nowPlayingBarVolumeSliderContainer.mdl-slider-container(style='width:100px;vertical-align:middle;display:inline-flex;')
          .progress-bar.progress-bar-striped.progress-bar-animated.track-progress(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
          .mdl-slider-background-flex
            .mdl-slider-background-flex-inner
              .mdl-slider-background-upper
              .mdl-slider-background-lower(style='width: 100%;')
          .sliderBubble.hide
        button.btn.btn-sm.btn-dark
          i.fa.fa-redo-alt(aria-hidden='true')
        .nowPlayingBarUserDataButtons
          button.btn.btn-sm.btn-dark
            i.fa.fa-heart(aria-hidden='true')
        button.btn.btn-sm.btn-dark
          i.fa.fa-list-ul(aria-hidden='true')
