div(style='height: calc(100vh - 125px);')
  div#mainArtistContent.page-header2
    .pageToolbar-toolbar.bg-secondary.card-5
      .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
        .PageToolbarSection-section.PageToolbarSection-left
          button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='shuffle()')
          i.fa.fa-sync.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Shuffle
    .container.text-center(style='min-height:30px;height:30px;max-height:30px;')
      h1.jumbotron-heading.text-white {{genre}}

  #genresGrid.dataTable-inpage.ag-theme-dark(ag-grid='gridOptions', style='height: 80%;', flex-direction="row")
