
.PageToolbar-toolbar.bg-secondary.card-5
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='shuffle()')
          i.fa.fa-sync.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Shuffle

div#genresGrid.dataTable-inpage
  .ag-theme-material(ag-grid='gridOptions', style='height: 100%;', flex-direction="row")

       