div
    .card(ng-repeat='container in artists').bg-dark.text-white
        .card-header
            {{container.name}}
        .card-body
            div(ng-repeat='artist in container.artist')
                <a href="/artist/{{artist.id}}" class="card-link text-white">{{artist.name}}</a>
       
    