.colmask
  .padding.alt.section
    label.form-control.advanced-button.config-hover(for='advanced-settings-button')
      input#advanced-settings-button(type='checkbox', name='advanced-settings-button')
      |  Advanced
  form.fullform(action='saveGeneral', method='post', name='fullform', autocomplete='off')
    input#session(type='hidden', name='session', value='ac523e9fc3ac6abe8fbe3ff20d9d45ab')
    input#ajax(type='hidden', name='ajax', value='1')
    .section
      .col2
        h3
          | SABnzbd Web Server 
          a(href='https://sabnzbd.org/wiki/configuration/2.3/general', target='_blank')
            span.glyphicon.glyphicon-question-sign
        p
          b Changes will require a SABnzbd restart!
      // /col2
      .col1
        fieldset
          .field-pair.even
            label.config(for='host') SABnzbd Host
            input#host(type='text', name='host', value='0.0.0.0')
            span.desc Host SABnzbd should listen on.
          .field-pair
            label.config(for='port') SABnzbd Port
            input#port(type='number', name='port', value='8080', size='8', data-original='8080')
            span.desc Port SABnzbd should listen on.
          .field-pair.even
            label.config.config-hover(for='enable_https') Enable HTTPS
            input#enable_https(type='checkbox', name='enable_https', value='1')
            span.desc Enable accessing the interface from a HTTPS address.
          .field-pair.advanced-settings
            label.config(for='web_dir') Web Interface
            select#web_dir(name='web_dir')
              option(value='Config') Config
              option(value='Plush - gold') Plush - gold
              option(value='Glitter - Night', selected='selected') Glitter - Night
              option(value='Glitter - Default') Glitter - Default
            span.desc
              | Choose a skin.  
              a(href='http://nzb.d3bug.space/sabnzbd') http://nzb.d3bug.space/sabnzbd
          .field-pair
            label.config(for='language') Language
            select#language.select(name='language')
            span.desc Select a web interface language.
            .alert.alert-info.alert-translate(style='display: block;')
              | Help us translate SABnzbd in your language! 
              br
              | Add untranslated texts or improved existing translations here: 
              a.alert-link(href='https://sabnzbd.org/wiki/translate', target='_blank') https://sabnzbd.org/wiki/translate
          .field-pair.advanced-settings
            h5.darkred.nomargin
              | Default Base Folder: 
              span.path /config/admin
          .field-pair.advanced-settings
            label.config(for='https_port') HTTPS Port
            input#https_port(type='number', name='https_port', value='8889', size='8', data-original='8889')
            span.desc If empty, the standard port will only listen to HTTPS.
          .field-pair.advanced-settings
            label.config(for='https_cert') HTTPS Certificate
            input#https_cert(type='text', name='https_cert', value='/certs/cert.pem')
            button.btn.btn-default.generate_cert(title='Generate new self-signed certificate and key. Requires SABnzbd restart!', disabled='disabled')
              span.glyphicon.glyphicon-repeat
            span.desc File name or path to HTTPS Certificate.
          .field-pair.advanced-settings
            label.config(for='https_key') HTTPS Key
            input#https_key(type='text', name='https_key', value='/certs/privkey.pem')
            button.btn.btn-default.generate_cert(title='Generate new self-signed certificate and key. Requires SABnzbd restart!', disabled='disabled')
              span.glyphicon.glyphicon-repeat
            span.desc File name or path to HTTPS Key.
          .field-pair.advanced-settings
            label.config(for='https_chain') HTTPS Chain Certifcates
            input#https_chain(type='text', name='https_chain', value='/certs/fullchain.pem')
            span.desc File name or path to HTTPS Chain.
          .field-pair.even
            button.btn.btn-default.saveButton
              span.glyphicon.glyphicon-ok
              |  Save Changes
            button.btn.btn-default.sabnzbd_restart
              span.glyphicon.glyphicon-refresh
              |  Restart SABnzbd
    .section
      .col2
        h3
          | Security 
          a(href='https://sabnzbd.org/wiki/configuration/2.3/general', target='_blank')
            span.glyphicon.glyphicon-question-sign
        p
          b Changes will require a SABnzbd restart!
      // /col2
      .col1
        fieldset
          // Tricks to avoid browser auto-fill, fixed on-submit with javascript
          .field-pair.even
            label.config(for='1_wu') SABnzbd Username
            input#1_wu(type='text', name='1_wu', value='admin', data-hide='username')
            span.desc Optional authentication username.
          .field-pair
            label.config(for='1_wp') SABnzbd Password
            input#1_wp(type='text', name='1_wp', value='********', data-hide='password')
            span.desc Optional authentication password.
          .field-pair.even
            label.config(for='inet_exposure') External internet access
            select#inet_exposure.select(name='inet_exposure')
              optgroup(label='API')
                option(value='0', selected='selected') No access
                option(value='1') Add NZB files 
                option(value='2') API (no Config)
                option(value='3') Full API
              optgroup(label='Full API & Web Interface')
                option(value='4') Full Web interface
                option(value='5') Full Web interface - Only external access requires login
            span.desc
              | You can set access rights for systems outside your local network.
              br
              span.label.label-warning WARNING
              |  Requires List of local network ranges to be defined.
          .field-pair
            label.config(for='local_ranges') List of local network ranges
            input#local_ranges(type='text', name='local_ranges', value='')
            span.desc All local network addresses start with these prefixes (often "192.168.1.")
          .field-pair.even
            label.config(for='apikey') API Key
            input#apikey.fileBrowserField(type='text', value='ac523e9fc3ac6abe8fbe3ff20d9d45ab', readonly='')
            button.btn.btn-default.show_qrcode(title='API Key QR Code', rel='ac523e9fc3ac6abe8fbe3ff20d9d45ab')
              span.glyphicon.glyphicon-qrcode
            button#generate_new_apikey.btn.btn-default.generate_key(title='Generate New Key')
              span.glyphicon.glyphicon-repeat
            span.desc This key will give 3rd party programs full access to SABnzbd.
          .field-pair
            label.config(for='nzbkey') NZB Key
            input#nzbkey.fileBrowserField(type='text', value='dfcbda028e606319b5a0fe029076458c', readonly='')
            button.btn.btn-default.show_qrcode(title='API Key QR Code', rel='dfcbda028e606319b5a0fe029076458c')
              span.glyphicon.glyphicon-qrcode
            button#generate_new_nzbkey.btn.btn-default.generate_key(title='Generate New Key')
              span.glyphicon.glyphicon-repeat
            span.desc This key will allow 3rd party programs to add NZBs to SABnzbd.
          .field-pair.even
            button.btn.btn-default.saveButton
              span.glyphicon.glyphicon-ok
              |  Save Changes
      // /col1
      // /section
      .section
        .col2
          h3
            | Switches 
            a(href='https://sabnzbd.org/wiki/configuration/2.3/general', target='_blank')
              span.glyphicon.glyphicon-question-sign
        // /col2
        .col1
          fieldset
            .field-pair.even
              label.config.config-hover(for='auto_browser') Launch Browser on Startup
              input#auto_browser(type='checkbox', name='auto_browser', value='1')
              span.desc Launch the default web browser when starting SABnzbd.
            .field-pair
              label.config(for='check_new_rel') Check for New Release
              select#check_new_rel(name='check_new_rel')
                option(value='0') off
                option(value='1', selected='selected') on
                option(value='2') Also test releases
              span.desc Weekly check for new SABnzbd release.
            .field-pair.advanced-settings
              label.config.config-hover(for='enable_https_verification') HTTPS certificate verification
              input#enable_https_verification(type='checkbox', name='enable_https_verification', value='1', checked='checked')
              span.desc Verify certificates when connecting to indexers and RSS-sources using HTTPS.
            .field-pair.even
              button.btn.btn-default.saveButton
                span.glyphicon.glyphicon-ok
                |  Save Changes
        // /col1
        // /section
        .section
          .col2
            h3
              | Tuning 
              a(href='https://sabnzbd.org/wiki/configuration/2.3/general#toc2', target='_blank')
                span.glyphicon.glyphicon-question-sign
          // /col2
          .col1
            fieldset
              .field-pair.value-and-select.even
                label.config(for='bandwidth_max_value') Maximum line speed
                input#bandwidth_max_value.smaller_input(type='number', name='bandwidth_max_value')
                select#bandwidth_max_dropdown(name='bandwidth_max_dropdown')
                  option(value='') B/s
                  option(value='K') KB/s
                  option(value='M', selected='') MB/s
                input#bandwidth_max(type='hidden', name='bandwidth_max', value='100M')
              .field-pair.advanced-settings
                label.config(for='bandwidth_perc') Percentage of line speed
                input#bandwidth_perc(type='number', name='bandwidth_perc', value='70', step='10', min='0', max='100')
                span.desc Which percentage of the linespeed should SABnzbd use, e.g. 50
              .field-pair.advanced-settings
                label.config(for='cache_limit') Article Cache Limit
                input#cache_limit.smaller_input(type='text', name='cache_limit', value='1G')
                span.desc
                  | Cache articles in memory to reduce disk access.
                  br
                  i In bytes, optionally follow with K,M,G. For example: "256M" or "512M"
              .field-pair
                button.btn.btn-default.saveButton
                  span.glyphicon.glyphicon-ok
                  |  Save Changes
          // /col1
          // /section





form
  .form-group
    label.text-white.bg-dark(for='subsonicAddress') Address
    input#subsonicAddress.form-control.text-white.bg-dark(type='text', placeholder='Subsonic Server Address', ng-model='settings.subsonic_address', ng-change="previewConnectionString()")
  .form-group
    label.text-white.bg-dark(for='subsonicEmail') Username
    input#subsonicEmail.form-control.text-white.bg-dark(type='text', placeholder='Enter username', ng-model='settings.subsonic_username')
  .form-group
    label.text-white.bg-dark(for='subsonicPassword') Password
    input#subsonicPassword.form-control.text-white.bg-dark(type='password', placeholder='Password', ng-model='settings.subsonic_password')
  .form-group
    label.text-white.bg-dark(for='subsonicPort') Port
    input#subsonicPort.form-control.text-white.bg-dark(type='number', placeholder='443', ng-model='settings.subsonic_port', ng-change="previewConnectionString()")
  .form-check
    input#useSslCheck.form-check-input.text-white.bg-dark(type='checkbox', ng-model='settings.subsonic_use_ssl', ng-change="previewConnectionString()")
    label.form-check-label.text-white.bg-dark(for='useSslCheck') Use SSL?
  .form-check
    input#includePortInUrl.form-check-input.text-white.bg-dark(type='checkbox', ng-model='settings.subsonic_include_port_in_url', ng-change="previewConnectionString()")
    label.form-check-label.text-white.bg-dark(for='includePortInUrl') Include port in URL?
div
  p.text-white.bg-dark Preview of Connection string: {{connectionStringPreview}}
div
  button.btn.btn-dark.text-white(type='submit', ng-click='saveSettings()') Save



