div(style='height: calc(100vh - 155px);')
  div#mainArtistContent.page-header
    .pageToolbar-toolbar.bg-secondary.card-5
      .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
        .PageToolbarSection-section.PageToolbarSection-left
          button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='shuffle()')
            i.fa.fa-sync.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
            .PageToolbarButton-labelContainer-1XS0i
              .PageToolbarButton-label.text-white Shuffle
          button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button',ng-click='startRadio()')
            i.fa.fa-rss.fa-w-14.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
            .PageToolbarButton-labelContainer
              .PageToolbarButton-label.text-white Radio
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(ng-repeat='album in albums', data-target='#carouselExampleIndicators', data-slide-to='{{$index}}')
    .carousel-inner
      .carousel-item(ng-repeat='album in albums')
        img.d-block.w-100(src='{{album.artUrl}}', alt='{{album.name}}')
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
    
  div(style='height:30px;').text-center
    .btn-group(role='group', aria-label='Basic example')   
      a(type='button', ng-repeat='artist in similarArtists', href="/artist/{{artist.id}}").btn.btn-secondary.btn-sm {{artist.name}}

  #starredGrid.dataTable-inpage.ag-theme-dark(ag-grid='gridOptions', style='height: 50%;', flex-direction="row")

       