.card.text-center
  .card-header
    | Subsonic Status
  .card-body
    h5.card-title Server Status is {{server.status}}
    p.card-text version {{server.version}}
.card.text-center
  .card-header
    | Backend Status
  .card-body
    div#ping
        
