.indexWrapper
  .indexBodyWrapper.d-flex.flex-column
    .card(ng-repeat='container in artists')
      .card-header
      | {{container.name}}
      .card-body
        div(ng-repeat='artist in container.value')
          <a href="/artist/{{artist.base_id}}" class="card-link">{{artist.base_path}}</a>