include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')


  include ./../../views/pagebody
    include ./../../views/pagecontent
      div(ng-repeat='container in $root.music_index')
        a.Settings-link.Link-link.Link-link(href='/config/alloydb') {{container.name}}
        .Settings-summary(ng-repeat='artist in container.value') {{artist.base_path}}
      

     //div(ng-repeat='container in $root.music_index')
     //   a(href='/config/alloydb') {{container.name}}
     //   a(ng-repeat='artist in container.value') {{artist.base_path}}