section#content
  .row.m-n
    .col-sm-4.col-sm-offset-4
      .text-center.m-b-lg
        h1.h.text-white.animated.fadeInDownBig Hmm..
        h3.animated.fadeInDownBig.text-muted somethings missing here.. 
      .list-group.auto.m-b-sm.m-b-lg
        a.list-group-item(href='/')
          i.alloy-icon.icon-chevron-right.pull-right.icon-muted
          i.alloy-icon.icon-headphones.icon-muted
          |  Go home
        a.list-group-item(href='/fresh')
          i.alloy-icon.icon-chevron-right.pull-right.icon-muted
          i.alloy-icon.icon-fresh.icon-muted
          |  See Whats New 
