section.scrollable.scrollsaver.no-padder.w-f-md(style="padding:0px;")
  section.content
    .container-fluid(ng-show="selectedTrack") 
      div.padder.m-t-sm
        .col-xs-12.col-lg-3.col-xl-4
          div
            header.TrackListHeader
              div
                div(draggable='true')
                  .media-object
                    div
                      .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true' style='width: auto; height: auto;')
                        div
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{selectedTrack.image}}");')
                      a.h3(dir='auto', href="#")
                        span.h3.block {{selectedTrack.title}}
                      a(dir='auto', href='/album/{{album.album.id}}') 
                        span.text-muted.text-xs.block {{album.album.name}} 
                      a(dir='auto', href='/artist/{{artist.artist.id}}') 
                        span.text-muted.text-xs.block {{artist.artist.name}}
              
              
              .TrackListHeader__body
                .TrackListHeader__entity-name
                  a.h2(dir='auto', href="#")
                    span.block {{selectedTrack.title}}
                  a(dir='auto', href='/album/{{album.album.id}}') 
                    span.truncate.text-muted.text-xs.block {{album.album.name}} 
                  a(dir='auto', href='/artist/{{artist.artist.id}}') 
                    span.truncate.text-muted.text-xs.block {{artist.artist.name}}

                p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info {{album.tracks.length}} {{album.tracks.length > 1 ? "Tracks" : "Track"}} - {{album.size}}
                .TrackListHeader__children
                  .TrackListHeader__button.TrackListHeader__button--bottom
                    button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY
              .TrackListHeader__button.TrackListHeader__button--top
                button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY  
              .TrackListHeader__button.TrackListHeader__button--top
                button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="starTrack()", ng-disabled="isDisabled()", title='Save to Your Library') {{selectedTrack.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}
              .TrackListHeader__button.TrackListHeader__button--top
                starratinglabel(ng-disabled="isDisabled()", album="artist.artist", extrastyles="btn-block")
        .col-xs-12.col-lg-8.col-xl-12
          .row
          
            span.text-muted(ng-if="artist.artist.biography")
            p
            | {{artist.artist.biography}}  
          .row
            a.btn.btn-rounded.btn-twitter.btn-icon(ng-repeat="link in artist.links", href='{{link.target}}', target="_blank")
              i.alloy-icon.icon(ng-class="$root.getLinkIcon(link)")



  h1(ng-hide="selectedTrack").font-thin.centered-anchor-text Nothing Playing