.artistWrapper
  #artistHeader 
    .text-center
      h1.text-white.bg-dark-transparent {{artistName}}
        p.bio-text.bg-dark-transparent 
          | {{artistBio}}

      p
        small.text-white.bg-dark-transparent Similar Artists  
        ul.list-inline
          li.list-inline-item(ng-repeat='artist in similarArtists') 
            a(href="/artist/{{artist.id}}").text-white.bg-dark-transparent {{artist.name}}
  #artistAlbums 
    #coverflow
      ul.flip-items
        li(data-flip-title='Red', ng-repeat='album in albums')
          img(ng-src='{{album.artUrl}}')
        


  #artistTracks
      #tracksGrid.dataTable-inpage.ag-theme-dark(ag-grid='gridOptions', style='height: 100%; width: 100%;', flex-direction="row")
   
