.subsonicSettingsWrapper
  .pageToolbar-toolbar.bg-secondary
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='refresh()')
          i.fa.fa-refresh.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Accounts

  .subsonicSettingsBodyWrapper.container.h-100
    .row.h-100.justify-content-center
      form.col-6
        .form-group
          label(for='subsonicAddress') Address
          input#subsonicAddress.form-control(type='text', placeholder='Subsonic Server Address', ng-model='settings.subsonic_address', ng-change="previewConnectionString()")
        .form-group
          label(for='subsonicEmail') Username
          input#subsonicEmail.form-control(type='text', placeholder='Enter username', ng-model='settings.subsonic_username')
        .form-group
          label(for='subsonicPassword') Password
          input#subsonicPassword.form-control(type='password', placeholder='Password', ng-model='settings.subsonic_password')
        .form-group
          label(for='subsonicPort') Port
          input#subsonicPort.form-control(type='number', placeholder='443', ng-model='settings.subsonic_port', ng-change="previewConnectionString()")
        .form-check
          input#useSslCheck.form-check-input(type='checkbox', ng-model='settings.subsonic_use_ssl', ng-change="previewConnectionString()")
          label.form-check-label(for='useSslCheck') Use SSL?
        .form-check
          input#includePortInUrl.form-check-input(type='checkbox', ng-model='settings.subsonic_include_port_in_url', ng-change="previewConnectionString()")
          label.form-check-label(for='includePortInUrl') Include port in URL?
        .form-group
          p Preview of Connection string: {{connectionStringPreview}}
        .form-group
          button.btn.btn-dark(type='submit', ng-click='saveSettings()') Save
      




