
.freshWrapper
  .pageToolbar-toolbar.bg-secondary.card-5
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='$root.goBack()')
          i.fa.fa-arrow-circle-left.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Back
        .PageToolbarSeparator-separator
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='refresh()')
          i.fa.fa-refresh.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Refresh
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='shuffle()')
          i.fa.fa-random.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Shuffle Album
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button',ng-click='startRadio()')
          i.fa.fa-rss.fa-w-14.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Radio
      .PageToolbarSection-section.PageToolbarSection-right
        button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='toggleContinousPlay()')
          i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;', ng-class="{'fa-check-square-o': continousPlay == true , 'fa-square-o': continousPlay == false}")
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label.text-white Continous Play
  .freshBodyWrapper.d-flex.flex-column
    #freshAlbums(style='display:none;') 
      #coverflow
        ul.flip-items
          li(data-flip-title='{{album.id}}', ng-repeat='album in albums')
            img.coverflowImage(ng-src='{{album.artUrl}}')

    #freshTracksGrid.ag-theme-dark(ag-grid='gridOptions')