div(style='height: calc(100vh - 155px);')
  div#mainArtistContent.page-header
    .pageToolbar-toolbar.bg-secondary.card-5
      .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
        .PageToolbarSection-section.PageToolbarSection-left
          button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button', ng-click='shuffle()')
            i.fa.fa-sync.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
            .PageToolbarButton-labelContainer-1XS0i
              .PageToolbarButton-label.text-white Shuffle
          button.PageToolbarButton-toolbarButton.Link-link.text-white(type='button',ng-click='startRadio()')
            i.fa.fa-rss.fa-w-14.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
            .PageToolbarButton-labelContainer
              .PageToolbarButton-label.text-white Radio
    .container.text-center
      h1.jumbotron-heading.text-white.bg-dark-transparent {{artistName}}
      p.lead.text-white.bg-dark-transparent
        | {{artistBio}}
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li(ng-repeat='song in random', data-target='#myCarousel', data-slide-to='{{$index}}')
    // Wrapper for slides
    .carousel-inner
      .item.active(ng-repeat='song in random')
        //img(src='{{song.artworkUrl}}', alt='{{song.name}}', style='width:100%;')

    // Left and right controls
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next
