doctype html
html(ng-app='subsonic', style='background-color:#333333;')
  head
    title= title  
  body
      header
        include nav.jade  
      main.container(role='main')
        .row
          .sidebar.sidebar-expanded
            include sidenav.jade  
          .loader
          ng-view.main-content.col
        video#media-player(preload='true', controls='hidden', style="display:none;")
      footer
        include footer.jade
          


    script(src='/bundle.js')
    script(src='http://localhost:35729/livereload.js')
    script(src='http://localhost:4567/livereload.js?snipver=1')
    script(type='text/javascript', src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1')