doctype html
html(ng-app='alloy')
  head
    title= title  
  body
      header
      main.container.main-container(role='main')
        .row
          sidenav.sidebar.sidebar-expanded
          include loader
          ng-view.main-content.col.animate-fade
        video#media-player(preload='true', controls='hidden', style="display:none;")
      footer
      - if(!dev_mode)
        script(src='/vendor.js', type='text/javascript')
      script(src='/app.js', type='text/javascript')
      include jsinclude