doctype html
html(ng-app='subsonic', style='background-color:#333333;')
  head
    title= title  
  body
      header
        include nav.jade  
      main.container(role='main')
        .row
          .sidebar.sidebar-expanded
            include sidenav.jade  
          .loader
          ng-view.main-content.col
        video#media-player(preload='true', controls='hidden', style="display:none;")
      footer
        include footer.jade
      script(src='vendor.js', type='text/javascript')
      script(src='app.js', type='text/javascript')
      include jsinclude