doctype html
html(ng-app='subsonic', style='background-color:#333333;')
  head
    title= title  
  body
      header
      main.container(role='main')
        .row
          sidenav.sidebar.sidebar-expanded
          .loader
          ng-view.main-content.col
        video#media-player(preload='true', controls='hidden', style="display:none;")
      footer
      script(src='/vendor.js', type='text/javascript')
      script(src='/app.js', type='text/javascript')
      include jsinclude