doctype html
html(ng-app='subsonic')
  head
    title= title  
  body#page-top
     
      #body-row.row((window:resize)='onResize($event)')
        include nav.jade  
        .loader
        ng-view.content.content-wide.animate-fade
        include sidenav.jade
        include footer.jade
        video#media-player(preload='true', controls='hidden', style="display:none;")

    script(src='/bundle.js')
    script(src='http://localhost:35729/livereload.js')
    script(src='http://localhost:4567/livereload.js?snipver=1')
    script(type='text/javascript', src='https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1')