.nav-scroller.bg-white.box-shadow
  nav.nav.nav-underline
    a.nav-link.active(href='#') Random
    a.nav-link(href='#') Recently Added
    a.nav-link(href='#') Starred
    a.nav-link(href='#') Top Rated
    a.nav-link(href='#') Most Played
    a.nav-link(href='#') Recently Played
    a.nav-link(href='#') By Decade
    a.nav-link(href='#') By Genre
    a.nav-link(href='#') All
