
// d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu'
// Bootstrap List Group
#list-tab.list-group.list-group-flush.card-5(role='tablist')
  a#list-home-list.list-group-item.list-group-item-action.list-group-item-dark(data-toggle='list', href='/artists', role='tab', aria-controls='home') 
    .d-flex.w-100.justify-content-start.align-items-center
      span.fa.fa-music.fa-fw.mr-3
      span.menu-collapsed Artists
  a#list-profile-list.list-group-item.list-group-item-action.list-group-item-dark(data-toggle='list', href='/playlist', role='tab', aria-controls='profile')
    .d-flex.w-100.justify-content-start.align-items-center
      span.fa.fa-list-ul.fa-fw.mr-3
      span.menu-collapsed
        | Playlist 
        span(ng-show="$root.showTrackCount()").badge.badge-pill.badge-primary.ml-2 {{$root.trackCount()}}
  a#list-messages-list.list-group-item.list-group-item-action.list-group-item-dark(data-toggle='list', href='/fresh', role='tab', aria-controls='messages') 
    .d-flex.w-100.justify-content-start.align-items-center
      span.fa.fa-cubes.fa-fw.mr-3
      span.menu-collapsed Fresh
  a#list-messages-list.list-group-item.list-group-item-action.list-group-item-dark(data-toggle='list', href='/settings', role='tab', aria-controls='messages') 
    .d-flex.w-100.justify-content-start.align-items-center
      span.fa.fa-cogs.fa-fw.mr-3
      span.menu-collapsed Settings
  a#list-settings-list.list-group-item.list-group-item-action.list-group-item-dark(data-toggle='list', href='/status', role='tab', aria-controls='settings') 
    .d-flex.w-100.justify-content-start.align-items-center
      span.fa.fa-info-circle.fa-fw.mr-3
      span.menu-collapsed Status
  a#list-settings-list.list-group-item.list-group-item-action.list-group-item-dark-no-select(data-toggle='sidebar-colapse', href='#', role='tab', aria-controls='settings') 
    .d-flex.w-100.justify-content-start.align-items-center
      span#collapse-icon.fa.fa-2x.mr-3
      span#collapse-text.menu-collapsed Collapse
