.starredWrapper
  #starredHeader 
    .text-center
      h1.text-white.bg-dark-transparent Starred
  #starredAlbums 
    #coverflow
      ul.flip-items
        li(data-flip-title='Red', ng-repeat='album in albums')
          img(ng-src='{{album.artUrl}}', alt='{{album.name}}')
  #starredTracks
      #starredGrid.dataTable-inpage.ag-theme-dark(ag-grid='gridOptions', style='height: 100%; width: 100%;', flex-direction="row")
          