.statusWrapper
  .pageToolbar-toolbar.bg-secondary
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='refresh()')
          i.fa.fa-refresh.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Accounts

  .statusBodyWrapper.container.h-100
    .row.h-100.justify-content-center
      .list-group
          .list-group-item-dark
            h4.list-group-item-heading
              | Backend Status
            p.list-group-item-text
              span.label.label-danger#ping
          .list-group-item-dark
            h4.list-group-item-heading
              | Subsonic Status 
            p.list-group-item-text
              span.label.label-success 
              | Server Status is {{server.status}}
              | version {{server.version}}
          .list-group-item-dark
            h4.list-group-item-heading
              | Enabled Folders
            p.list-group-item-text
              span.label.label-success 
                table.table
                  tbody
                    tr(ng-repeat='folder in folders')
                      td {{folder.name}}
          .list-group-item-dark
            h4.list-group-item-heading
              | Rescan Library
            p.list-group-item-text
              span.label.label-success 
                button(ng-click='startScan()').btn.btn-success
                  i.fa.fa-refresh Refresh
                div(ng-show='scanStatus.scanning')
                  |  Current Progress: {{scanStatus.count}} / {{scanStatusTotalFiles}}
                
          .list-group-item-dark
            h4.list-group-item-heading
              | Subsonic Features and User Info - {{userInfo.username}}
            p.list-group-item-text
              span.label.label-success
                table.table
                  tbody
                    tr
                      td Admin
                      td {{userInfo.adminRole}}
                    tr
                      td Can Comment
                      td {{userInfo.commentRole}}
                    tr
                      td Has CoverArt
                      td {{userInfo.coverArtRole}}
                    tr
                      td Can Download
                      td {{userInfo.downloadRole}}
                    tr
                      td Has Jukebox
                      td {{userInfo.jukeboxRole}}
                    tr
                      td Has Playlists
                      td {{userInfo.playlistRole}}
                    tr
                      td Scrobbling Enabled
                      td {{userInfo.scrobblingEnabled}}
                    tr
                      td Access Settings
                      td {{userInfo.settingsRole}}
                    tr
                      td Can Share
                      td {{userInfo.shareRole}}
                    tr
                      td Can Stream
                      td {{userInfo.streamRole}}
                    tr
                      td Can Upload
                      td {{userInfo.uploadRole}}
                    tr
                      td Can Transcode
                      td {{userInfo.videoConversionRole}}
      




