include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')

  
  include ./../../views/pagebody
  