fieldset.FieldSet-fieldSet
  legend.FieldSet-legend Path Settings
  div
    div
    .FormGroup-group.FormGroup-large
      label.FormLabel-label.FormLabel-large Host
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
            folderlist(data='currentpath')
        div
          .FormInputHelpText-helpText Host for the database server
    div