include ./../../views/pagecontainer
  
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarseperator
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
  jumpbar(data="$root.music_index", buttonclick='jumpBarClick()')
  include ./../../views/pagebody   
                 
    include ./../../views/pagecontent
      artistlist.col(data="$root.artists", hasjumpbar='true')
      