section.scrollable.no-padder.w-f-md.scrollsaver(ng-if="$root.artist", style="padding:0px;")
  section.content
    .container-fluid
      div.padder.m-t-sm
        .col-xs-12.col-lg-3.col-xl-4
          div
            header.TrackListHeader
              div
                div(draggable='true')
                  .media-object
                    div
                      .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true' style='width: auto; height: auto;')
                        div
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{$root.artist.image}}");')
                      .mo-info
                        .mo-info-name(title='{{$root.artist.artist.name}}')
                          span(dir='auto') {{$root.artist.artist.name}}
              
              
              .TrackListHeader__body
                .TrackListHeader__entity-name
                  h2
                    span(dir='auto') {{$root.artist.artist.name}}

                p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info {{$root.artist.total_tracks}} {{$root.artist.total_tracks > 1 ? "Tracks" : "Track"}} - {{$root.artist.size}}
                .TrackListHeader__children
                  .TrackListHeader__button.TrackListHeader__button--bottom
                    button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY
              .TrackListHeader__button.TrackListHeader__button--top
                button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY  
              .TrackListHeader__button.TrackListHeader__button--top
                button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="starArtist()", ng-disabled="isDisabled()", title='Save to Your Library') {{$root.album.album.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}
              .TrackListHeader__button.TrackListHeader__button--top
                starratinglabel(ng-disabled="isDisabled()", album="$root.artist.artist", extrastyles="btn-block")
        .col-xs-12.col-lg-8.col-xl-12
          .row
          
            span.text-muted(ng-if="$root.artist.artist.biography")
            p
            | {{$root.artist.artist.biography}}  
          .row
            a.btn.btn-rounded.btn-twitter.btn-icon(ng-repeat="link in $root.artist.links", href='{{link.target}}', target="_blank")
              i.alloy-icon.icon(ng-class="$root.getLinkIcon(link)")


        .col-xs-12.col-lg-4.col-xl-12
          itemtable(ng-if="$root.artist.albums.length > 0", type="albums", title="Albums", data="$root.artist.albums", limit="$root.artist.albums", showimages="true")           
        .col-xs-12.col-lg-4.col-xl-12
          itemtable(ng-if="$root.artist.EPs.length > 0", type="albums", title="EPS", data="$root.artist.EPs", limit="$root.artist.EPs", showimages="true")           
        .col-xs-12.col-lg-4.col-xl-12
          itemtable(ng-if="$root.artist.singles.length > 0", type="albums", title="Singles", data="$root.artist.singles", limit="$root.artist.singles", showimages="true")           