section.scrollable.no-padder.w-f-md.scrollsaver(ng-if="$root.artist", style="padding:0px;")
  section.content
    .container-fluid
      div.padder.m-t-sm
        .col-xs-12.col-lg-3.col-xl-4
          div
            header.TrackListHeader
              div
                div(draggable='true')
                  .media-object
                    div
                      .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true' style='width: auto; height: auto;')
                        div
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{$root.artist.image}}");')
                      .mo-info
                        .mo-info-name(title='{{$root.artist.artist.name}}')
                          span(dir='auto') {{$root.artist.artist.name}}
              
              
              .TrackListHeader__body
                .TrackListHeader__entity-name
                  h2
                    span(dir='auto') {{$root.artist.artist.name}}

                p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(ng-if="$root.artist.tracks") {{$root.artist.total_tracks}} {{$root.artist.total_tracks > 1 ? "Tracks" : "Track"}} - {{$root.artist.size}}
                .TrackListHeader__children
                  .TrackListHeader__button.TrackListHeader__button--bottom(ng-if="$root.artist.tracks")
                    button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY
              .TrackListHeader__button.TrackListHeader__button--top(ng-if="$root.artist.tracks")
                button.spotify-btn.btn-block.btn-black.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY  

        .col-xs-12.col-lg-8.col-xl-12
          .row(style="overflow:auto; max-height:250px;")
            p(ng-bind-html="$root.artist.artist.biography")  
        .col-xs-12.col-lg-8.col-xl-12
          .row(ng-if="$root.artist.artist_info.similar.artist", style="overflow:auto; max-height:100px;")
            h3.text-faded Related
            .btn-group(role='group' aria-label='Basic example')
              button.btn.btn-secondary(ng-click="navToSimilar(similar)", ng-repeat="similar in $root.artist.artist_info.similar.artist", type='button') {{similar.name}}
                 
          .row(ng-if="$root.artist.links")
            a.btn.btn-rounded.btn-twitter.btn-icon(ng-repeat="link in $root.artist.links", href='{{link.target}}', target="_blank")
              i.alloy-icon.icon(ng-class="$root.getLinkIcon(link)")


      .row
        .col-xs-12.col-lg-12.col-xl-12(ng-if="$root.artist.albums.length > 0")
          itemtable(type="albums", title="Albums", data="$root.artist.albums", limit="$root.artist.albums", showimages="true")           
        .col-xs-12.col-lg-12.col-xl-12(ng-if="$root.artist.EPs.length > 0")
          itemtable(type="albums", title="EPS", data="$root.artist.EPs", limit="$root.artist.EPs", showimages="true")           
        .col-xs-12.col-lg-12.col-xl-12(ng-if="$root.artist.singles.length > 0")
          itemtable(type="albums", title="Singles", data="$root.artist.singles", limit="$root.artist.singles", showimages="true")           
      .row
        .col-md-12(ng-if="$root.artist.tracks.length > 0")
          itemtable(type="tracks", title="All Tracks", data="$root.artist.tracks", limit="$root.artist.tracks.length", refreshclick="refresh()")
      
