
section.scrollable.padder-lg.w-f-md.animated.fadeInRight.scrollsaver
  .row
    .col-md-12
      h3.font-thin
      itemtable(data="$root.genres", title="Genres", limit="$root.genres.length", type="genres", refreshclick="refresh()")