
section.scrollable.padder-lg.w-f-md.animated.fadeInRight.scrollsaver
  a.pull-right.text-muted.m-t-lg(href='#', data-toggle='class:fa-spin')
    i#refresh.icon-refresh.i-lg.inline
  h2.font-thin.m-b
    | Genres 
    span.musicbar.inline.m-l-sm(style='width:20px;height:20px')
      span.bar1.a1.bg-primary.lter
      span.bar2.a2.bg-info.lt
      span.bar3.a3.bg-success
      span.bar4.a4.bg-warning.dk
      span.bar5.a5.bg-danger.dker

  .row
    .col-md-12
      h3.font-thin
      .row.row-sm
        .table-responsive
          table.table.table-striped.m-b-none
            thead
              tr(role='row')
                th(style='width: 220px;', rowspan='1', colspan='1') Genre
                th(style='width: 1px;', rowspan='1', colspan='1') Artist(s)
                th(style='width: 1px;', rowspan='1', colspan='1') Album(s)
                th(style='width: 1px;', rowspan='1', colspan='1') Track(s)
            tbody(ng-repeat="genre in $root.genres")
              tr(ng-class-odd="'odd'" ng-class-even="'even'")
                td
                  a(href="/genre/{{genre.id}}") {{genre.name}}
                
                td {{genre.artist_count}}
                td {{genre.album_count}}
                td {{genre.track_count}}