

section.scrollable.padder-lg.w-f-md
  .row
    a.u.pull-right.h6.text-muted.m-l(ng-click="refresh()")
      i#refresh.icon-refresh.i-lg.inline
    a(href="{{viewmorelink}}").u.pull-right.h6.text-muted.m-l View More
    h2.clear.font-thin Tags
  .row 
    .js-tube-tags-target(data-highcharts-chart='1')
      