@import "material-dashboard/variables";

#main {
  padding-left: 300px;
}

.log-table {
  border-collapse: separate;
  border-spacing: 1em 0em;
}

.log-table>thead>th {
  word-wrap: normal;
  word-break: keep-all;
}

.log-table>tbody>tr>td {
  word-wrap: break-word;
  word-break: break-all;
}

.error-row {
  color: $brand-danger;
}

.nav-tabs .nav-item .nav-link {
  color: #ab47bc !important;
}

.nav-tabs .nav-item .nav-link.active {
  color: $brand-primary !important;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link:focus {
  background-color: $brand-primary !important;
  color: $white-color !important;
  box-shadow: none !important;
}

.button-collapse {
  display: none;
}

.bmd-form-group {
  width: 100% !important;
}

.card-body {
  text-align: left;
}

.card-category {
  text-align: left;
}

.modal-body {
  max-height: 70vh;
  overflow: auto;
}

.pull-right {
  text-align: right;
}

#searchModal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#searchModal .modal-content {
  height: auto;
  width: 100vw;
  min-width: 100%;
  min-height: 100%;
  border-radius: 0;
}

.norows {
  font-weight: bold;
  color: #c3c3c383;
  text-align: center;
}

.nav-pull-right {
  position: absolute;
  top: 5px;
  right: 5px;
  color: inherit;
}

.gj-checkbox-md input[type="checkbox"]:checked+span:after {
  top: 0px !important;
}

select {
  width: 400px;
  text-align-last: center;
}

@media only screen and (max-width : 992px) {
  #main {
    padding-left: 0;
  }

  .button-collapse {
    display: block;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}


.row {
  margin-bottom: 0px !important;
}

.table-checkbox {
  width: 50px;
  padding-top: 10px !important;
}

td,
th {
  padding: 0px !important;
}

table>thead>tr>th {
  vertical-align: middle;

}