section.scrollable.padder-lg.w-f-md
  .row
    a.u.pull-right.h6.text-muted.m-l(ng-click="refreshclick()")
      i#refresh.icon-refresh.i-lg.inline
    a(href="{{viewmorelink}}").u.pull-right.h6.text-muted.m-l View More
    h2.clear.font-thin {{title}}
  .row 
    .list-group.bg-white.list-group-lg.no-bg.auto(ng-if="type === 'tracks'")
      a.list-group-item.clearfix.pointer(ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', song.id) == true}", ng-click="$root.MediaPlayer.playTrack(song, data)", ng-repeat="song in data | limitTo:itemLimit")
        span.pull-right.h2.text-muted.m-l(ng-if="$root.MediaPlayer.checkIfNowPlaying('track', song.id) != true") {{$index + 1}}
        PlayingStatusBars.pull-right(ng-if="$root.MediaPlayer.checkIfNowPlaying('track', song.id) == true")
        span.pull-left.thumb-sm.avatar.m-r
          img.img-thumbnail(ng-src='{{song.image}}', alt='{{song.album}}')
        span.clear
          span {{song.title}}
          small.text-muted.clear.text-ellipsis by {{song.artist}}    
    .list-group.bg-white.list-group-lg.no-bg.auto(ng-if="type === 'albums'")
      a.list-group-item.clearfix.pointer(ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('album', album.id) == true}", ng-click="$root.MediaPlayer.PlayAlbum(album)", ng-repeat="album in data | limitTo:itemLimit")
        span.pull-right.h2.text-muted.m-l(ng-if="$root.MediaPlayer.checkIfNowPlaying('album', album.id) != true") {{$index + 1}}
        PlayingStatusBars.pull-right(ng-if="$root.MediaPlayer.checkIfNowPlaying('album', album.id) == true")
        span.pull-left.thumb-sm.avatar.m-r
          img.img-thumbnail(ng-src='{{album.image}}', alt='{{album.name}}')
        span.clear
          span {{album.name}}
          small.text-muted.clear.text-ellipsis by {{album.artist}}    
    .list-group.bg-white.list-group-lg.no-bg.auto(ng-if="type === 'artists'")
      a.list-group-item.clearfix.pointer(ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('artist', artist.id) == true}", ng-click="$root.MediaPlayer.playArtist(artist)", ng-repeat="artist in data | limitTo:itemLimit")
        span.pull-right.h2.text-muted.m-l(ng-if="$root.MediaPlayer.checkIfNowPlaying('artist', artist.id) != true") {{$index + 1}}
        PlayingStatusBars.pull-right(ng-if="$root.MediaPlayer.checkIfNowPlaying('artist', artist.id) == true")
        span.pull-left.thumb-sm.avatar.m-r
          img.img-thumbnail(ng-src='{{artist.image}}', alt='{{artist.nane}}')
        span.clear
          span {{artist.name}}