section.scrollable.padder-lg.w-f-md.animated.fadeInRight.scrollsaver
  .row
    .col-md-12
      h3.font-thin
      itemtable(data="$root.artists", title="Artists", limit="$root.artists.length", type="artists", refreshclick="refresh()")