.generalConfigWrapper
  .generalConfigBodyWrapper
    .row
      .col-lg-12.mx-auto
        .card-columns
          .card.bg-light
            h4.card-title Backend Status
            .card-body.text-center
              .list-group-item-dark
                h4.list-group-item-heading
                  | Connection
                p.list-group-item-text
                  span.label.label-success 
                  | {{$root.backend_ping.status}}
                h4.list-group-item-heading
                  | Server Time
                p.list-group-item-text
                  span.label.label-success 
                  | {{$root.backend_ping.server_time}}

          .card.bg-light
            h4.card-title Sabnzbd Status
            .card-body.text-center
              .list-group-item-dark
                h4.list-group-item-heading
                  | Connection
                p.list-group-item-text
                  span.label.label-success 
                  | {{$root.sabnzbd_ping.status}}
                h4.list-group-item-heading
                  | Version
                p.list-group-item-text
                  span.label.label-success 
                  | {{$root.sabnzbd_ping.version}}

          .card.bg-light
            h4.card-title AlloyDB Status 
            .card-body.text-center
              .list-group-item-dark
                h4.list-group-item-heading
                  | Connection
                p.list-group-item-text
                  span.label.label-success 
                  | {{alloydb.status}}
              .list-group-item-dark
                h4.list-group-item-heading
                  | Enabled Folders
                p.list-group-item-text
                  span.label.label-success 
                    table.table
                      tbody
                        tr(ng-repeat='mediaPath in mediaPaths')
                          td {{mediaPath.display_name}} - {{mediaPath.path}}
                .list-group-item-dark
                  h4.list-group-item-heading
                    | Library Statistics
                  p.list-group-item-text
                    span.label.label-success
                      table.table
                        tbody
                          tr
                            td Tracks
                            td {{libraryInfo.track_count}}
                          tr
                            td Artists
                            td {{libraryInfo.artist_count}}
                          tr
                            td Albums
                            td {{libraryInfo.album_count}}
                          tr
                            td Root Folders
                            td {{libraryInfo.folder_count}}
                          tr
                            td Genres
                            td {{libraryInfo.genre_count}}
                          tr
                            td Total Memory
                            td {{libraryInfo.memory_used}}
                .list-group-item-dark
                  h4.list-group-item-heading
                    | Rescan Library
                  p.list-group-item-text
                    span.label.label-success 
                      div(ng-show='scanStatus.result.isScanning')
                        |  Current Progress: {{scanStatus.result.status}} 
                        | {{scanStatus.result.currentlyScanned}} - {{scanStatus.result.totalFiles}}
                      button(ng-click='scanFullStart()', ng-show='!scanStatus.result.isScanning').btn.btn-block.btn-success
                        i.fa.fa-refresh Start Full Rescan
                      button(ng-click='scanQuickStart()', ng-show='!scanStatus.result.isScanning').btn.btn-block.btn-success
                        i.fa.fa-refresh Start Quick Rescan
                      button(ng-click='scanCancel()', ng-show='scanStatus.result.isScanning').btn.btn-block.btn-success
                        i.fa.fa-refresh Cancel

