include ./../../views/pagecontent
  .ExpanderContainer
    .ExpanderContainer-header
      .ExpanderContainer-left
        div
          span.ExpanderContainer-label Backend
    div#albumListContainer
      .ExpanderContainer-body
        fieldset.FieldSet-fieldSet
          legend.FieldSet-legend Connection
          div
            div
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    .Table-tableContainer.ng-isolate-scope
                      table.Table-table
                        tbody
                          tr.TableRow-row.ng-scope
                            td.RelativeDateCell-cell.TableRowCell-cell Status:
                            td.RelativeDateCell-cell.TableRowCell-cell {{$root.backend_ping.status}}
                          tr.TableRow-row.ng-scope
                            td.RelativeDateCell-cell.TableRowCell-cell Server Tinme:
                            td.RelativeDateCell-cell.TableRowCell-cell {{$root.backend_ping.server_time}}

  .ExpanderContainer
    button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleAlbums()')
      .ExpanderContainer-header
        .ExpanderContainer-left
          div
            span.ExpanderContainer-label SABnzbd 
    div#albumListContainer
      .ExpanderContainer-body
        fieldset.FieldSet-fieldSet
          legend.FieldSet-legend Connection
          div
            div
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    .Table-tableContainer.ng-isolate-scope
                      table.Table-table
                        tbody
                          tr.TableRow-row.ng-scope
                            td.RelativeDateCell-cell.TableRowCell-cell Status:
                            td.RelativeDateCell-cell.TableRowCell-cell {{$root.sabnzbd_ping.status}}
                          tr.TableRow-row.ng-scope
                            td.RelativeDateCell-cell.TableRowCell-cell Version:
                            td.RelativeDateCell-cell.TableRowCell-cell {{$root.sabnzbd_ping.version}}
  .ExpanderContainer
    button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleAlbums()')
      .ExpanderContainer-header
        .ExpanderContainer-left
          div
            span.ExpanderContainer-label Alloy DB
    div#albumListContainer
      .ExpanderContainer-body
        fieldset.FieldSet-fieldSet
          legend.FieldSet-legend Connection
          div
            div
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    .Table-tableContainer.ng-isolate-scope
                      table.Table-table
                        tbody
                          tr.TableRow-row.ng-scope
                            td.RelativeDateCell-cell.TableRowCell-cell Status:
                            td.RelativeDateCell-cell.TableRowCell-cell {{alloydb.status}}

        fieldset.FieldSet-fieldSet
          legend.FieldSet-legend Watched Folders
          div
            div
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    .Table-tableContainer.ng-isolate-scope
                      table.Table-table
                        thead
                          tr
                            th.TableHeaderCell-headerCell.Link-link Display Name
                            th.TableHeaderCell-headerCell.Link-link Path
                              
                        tbody
                          tr.TableRow-row.ng-scope(ng-repeat='mediaPath in mediaPaths')
                            td.RelativeDateCell-cell.TableRowCell-cell {{mediaPath.display_name}}
                            td.RelativeDateCell-cell.TableRowCell-cell {{mediaPath.path}}
        fieldset.FieldSet-fieldSet
          legend.FieldSet-legend Library Statistics
          div
            div
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    table.Table-table                               
                      tbody
                        tr.TableRow-row.ng-scope(ng-repeat='(key, value) in libraryInfo')
                          td.RelativeDateCell-cell.TableRowCell-cell {{key}}
                          td.RelativeDateCell-cell.TableRowCell-cell {{value}}
        div
          .FormGroup-group.FormGroup-large
            label.FormLabel-label.FormLabel-large Database Actions {{scanStatus.result.status}}
            .FormInputGroup-inputGroupContainer
              .FormInputGroup-inputGroup
                .FormInputGroup-inputContainer
                  button#testSabnzbdConnectionButton.btn.btn-block.FormInputButton-button.Button-button.Link-link.Button-primary.Button-medium.Link-link(type='button', ng-click='scanFullStart()', ng-show='!scanStatus.result.isScanning') Full Rescan
                  button#testSabnzbdConnectionButton.btn.btn-block.FormInputButton-button.Button-button.Link-link.Button-primary.Button-medium.Link-link(type='button', ng-click='scanQuickStart()', ng-show='!scanStatus.result.isScanning') Quick Rescan
                  button#testSabnzbdConnectionButton.btn.btn-block.FormInputButton-button.Button-button.Link-link.Button-warning.Button-medium.Link-link(type='button', ng-click='scanCancel()', ng-show='scanStatus.result.isScanning') Cancel


