section.tracklist-container.w-f-md(style="height:100vh;")
  .row(ng-show="title")
    h2.clear.font-thin {{title}}
      a(ng-show="showviewmore", href="{{viewmorelink}}").u.h6.text-muted.m-l View More
  .row(style='overflow:hidden;')

    ul
      li.list-group-item.list-group-item-track.clearfix.pointer(draggable='true', data-value="track;{{track.id}}", ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', track.id) == true}", ng-click="$root.MediaPlayer.playTrack(track, data)", ng-repeat="track in data | limitTo:itemLimit")
        span.item-number.pull-left.thumb-sm.avatar.m-r.text-muted(ng-if="isPlaying === false || $root.MediaPlayer.checkIfNowPlaying('track', track.id) != true") {{$index + 1}}
        PlayingStatusBars.pull-left.thumb-sm.avatar.m-r.text-muted(ng-if="currentTrack.id === track.id && isPlaying === true")
        span(data-value="track;{{track.id}}") {{track.title}}
        span.pull-right {{trackTime(track)}}


