fieldset.FieldSet-fieldSet
  legend.FieldSet-legend Media Path Settings
  div
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
            button.Button-button.Link-link.Button-primary.Button-medium.Link-link.Page-Body-Button(type='button', ng-click='browsePaths()') Add
    div
    .FormGroup-group.FormGroup-large
      label.FormLabel-label.FormLabel-large Configured Paths
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
              .Table-tableContainer
                table.Table-table
                  thead
                    tr
                      th.TableHeaderCell-headerCell.Link-link(label='Display Name') Display Name
                      th.TableHeaderCell-headerCell.Link-link(label='Path') Path
                      th.TableHeaderCell-headerCell
                  tbody
                    tr.TableRow-row(ng-repeat='mediaPath in mediaPaths')
                      td.TableRowCell-cell
                        span.Link-link.ng-binding {{mediaPath.display_name}}
                      td.TableRowCell-cell
                        span.Link-link.ng-binding {{mediaPath.path}}
                      td.TableRowCell-cell
                        a.Link-link.ng-binding(ng-click='removePath(mediaPath)') Remove
                         
   #addMediaPathModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addMediaPathModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#addMediaPathModalLabel.modal-title Choose a Media Location
            button.Link-link.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    input.Naming-namingInput.TextInput-input.Input-input(type='text', placeholder='Display Name', ng-model='display_name')
            folderlist#mediaPathFolderList(currentpath='currentpath')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', ng-click='addCurrentPath()') Add