section.scrollable.padder
  section.panel.panel-default
    header.panel-heading  Scheduled Tasks
    .table-responsive
      table.table.table-striped.b-t.b-light
        thead
          tr
            th.th-sortable(data-toggle='class')
              | Task Name 
              span.th-sort
                i.fa.fa-sort-down.text
                i.fa.fa-sort-up.text-active
                i.fa.fa-sort
            th Last Run
            th Next Run
            th Timezone
            th Cron
            th Run
        tbody(ng-repeat='task in schedulerStatus')
          tr
            td {{task.name}}
            td {{task.lastExecution}}
            td {{task.nextExecution}}
            td {{task.timezone}}
            td {{task.source}}
            td
              a.active(href='#', data-toggle='class')
                i.fa.fa-check.text-success.text-active
                i.fa.fa-times.text-danger.text
          