.generalConfigWrapper
  .pageToolbar-toolbar.bg-secondary
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='refresh()')
          i.fa.fa-refresh.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Placeholder

  .generalConfigBodyWrapper.container.h-100
    .row.h-100.justify-content-center
      h1 Blacklist




