include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    .PageToolbarSection-section.PageToolbarSection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      .PageToolbarSeparator-separator
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Shuffle', buttonclick='shuffle()', buttonicon='fa-random')
      toolbarbutton(buttontext='Radio', buttonclick='startRadio()', buttonicon='fa-rss')
      toolbarbutton(buttontext='Share', buttonclick='shareAlbum()', buttonicon='fa-bullhorn')
      
    .PageToolbarSection-sectionContainer-_eFLL(style='flex-grow: 1;')
      .PageToolbarSection-section.PageToolbarSection-right-1OQWC
        toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")
    .albumBodyWrapper.d-flex.flex-column

      #albumHeader 
        .text-center
          h1.bg-dark-transparent {{albumName}}
          h3.bg-dark-transparent {{artistName}}
            p.bio-text.bg-dark-transparent 
              | {{albumNotes}}

          p
            small.similar-artist-link Similar Artists  
            ul.list-inline
              li.list-inline-item(ng-repeat='artist in similarArtists') 
                a(href="/artist/{{artist.id}}").similar-artist-link {{artist.name}}

      #albumTracksGrid.ag-theme-dark(ag-grid='gridOptions')
    


