.albumWrapper
  .pageToolbar-toolbar.bg-secondary.card-5
    .PageToolbarSection-sectionContainer(style='flex-grow: 8;')
      .PageToolbarSection-section.PageToolbarSection-left
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='$root.goBack()')
          i.fa.fa-arrow-circle-left.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Back
        .PageToolbarSeparator-separator
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='refresh()')
          i.fa.fa-refresh.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Refresh
        button.PageToolbarButton-toolbarButton.Link-link(type='button', ng-click='shuffle()')
          i.fa.fa-random.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='sync', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Shuffle
        button.PageToolbarButton-toolbarButton.Link-link(type='button',ng-click='startRadio()')
          i.fa.fa-rss.fa-w-14.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Radio
        button.PageToolbarButton-toolbarButton.Link-link#shareAlbumButton(type='button',ng-click='shareAlbum()')
          i.fa.fa-bullhorn.fa-w-14.Icon-default(aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Share
      .PageToolbarSection-section.PageToolbarSection-right
        button.PageToolbarButton-toolbarButton.Link-link(type='button',ng-click='starArtist()')
          i.fa.fa-w-14.Icon-default(ng-class=" artist.starred == 'true' ? 'fa-star' : 'fa-star-o'", aria-hidden='true', data-prefix='fas', data-icon='rss', role='img', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 448 512', style='font-size: 21px;')
          .PageToolbarButton-labelContainer
            .PageToolbarButton-label Star
  .albumBodyWrapper.d-flex.flex-column

    #albumHeader 
      .text-center
        h1.bg-dark-transparent {{albumName}}
        h3.bg-dark-transparent {{artistName}}
          p.bio-text.bg-dark-transparent 
            | {{albumNotes}}

        p
          small.similar-artist-link Similar Artists  
          ul.list-inline
            li.list-inline-item(ng-repeat='artist in similarArtists') 
              a(href="/artist/{{artist.id}}").similar-artist-link {{artist.name}}

    #albumTracksGrid.ag-theme-dark(ag-grid='gridOptions')
   


