span.musicbar.inline.m-l-sm(ng-class="{'animate': $root.MediaPlayer.isPlaying()}", style='width:20px;height:20px')
  span.bar1.a1.bg-primary.lter
  span.bar2.a2.bg-info.lt
  span.bar3.a3.bg-success
  span.bar4.a4.bg-warning.dk
  span.bar5.a5.bg-danger.dker