
section.scrollable.scrollsaver.padder-lg.w-f-md.animated.fadeInRight
  .row
    .col-md-12
      h3.font-thin
      itemtable(data="$root.albums", title="Albums", limit="$root.albums.length", type="albums", refreshclick="refresh()")