@import "../../styles/variables";

.m-n {
  margin: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-t {
  margin-top: 15px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-lg {
  margin-bottom: 30px;
}