section.scrollable.padder-lg.w-f-md.scrollsaver
  .row
    .col-md-7
        h1.font-thin.m-b
          | Never Played
  .row 
    .col-md-7(ng-if="$root.charts.never_played_albums.length > 0")
      thumblist(data="$root.charts.never_played_albums", title="Albums", limit="36", type="albums", refreshclick="refresh()", origin="fresh", viewmorelink="")
    .col-md-5(ng-if="$root.charts.never_played.length > 0")
      itemlist(data="$root.charts.never_played", title="Tracks", limit="10", type="tracks", refreshclick="refresh()", viewmorelink="")

  .row
    .col-md-12(ng-if="$root.charts.never_played.length > 0")
      
      itemtable(data="$root.charts.never_played", title="All Tracks", limit="$root.charts.never_played.length", type="tracks")
      
