
section.w-f-md.scrollable
  
  // nav
  nav.nav-primary.hidden-xs
  
    ul.nav(data-ride='collapse')
      //li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted Discover 
      li
        a(href='/fresh')
          i.alloy-icon.icon-fresh
          span.font-bold What's new
      li
        a(href='/starred')
          i.alloy-icon.icon-starred
          b.badge.bg-primary.pull-right {{$root.starred.length}}
          span.font-bold Starred
      li
        a(href='/charts')
          i.alloy-icon.icon-charts
          b.badge.bg-primary.pull-right {{$root.rated.length}}
          span.font-bold Charts
      li
        a(href='/history')
          i.alloy-icon.icon-history
          b.badge.bg-primary.pull-right {{$root.history.length}}
          span.font-bold History
      li
        a(href='/artists')
          i.alloy-icon.icon-artists
          b.badge.bg-primary.pull-right {{$root.artists.length}}
          span.font-bold Artists
      li
        a(href='/albums')
          i.alloy-icon.icon-albums
          b.badge.bg-primary.pull-right {{$root.albums.length}}
          span.font-bold Albums
      li
        a(href='/genres')
          i.alloy-icon.icon-genres
          b.badge.bg-primary.pull-right {{$root.genres.length}}
          span.font-bold Genres


      li
        a.auto(href='#')
          span.pull-right.text-muted
            i.fa.fa-angle-left.text
            i.fa.fa-angle-down.text-active
          i.alloy-icon.icon-sabnzbd.text-xs
          span.font-bold SABnzbd
        ul.nav.dk.text-sm
          li(style="height:30px;")
            a.auto(href='/activity/queue', style="height:30px;", title='Queue')
              i.alloy-icon.icon-queue.text-xs
              span.hidden-nav-xs.font-bold Queue
          li(style="height:30px;")
            a.auto(href='/activity/history', style="height:30px;", title='History')
              i.alloy-icon.icon-history.text-xs
              span.hidden-nav-xs.font-bold History
          li(style="height:30px;")
            a.auto(href='/activity/blacklist', style="height:30px;", title='Blacklist')
              i.alloy-icon.icon-ban.text-xs
              span.hidden-nav-xs.font-bold Blacklist

      li
        a(href='/status')
          i.alloy-icon.icon-status
          span.font-bold Status 
      li
        a.auto(href='#')
          span.pull-right.text-muted
            i.fa.fa-angle-left.text
            i.fa.fa-angle-down.text-active
          i.alloy-icon.icon-sabnzbd.text-xs
          span Config
        ul.nav.dk.text-sm
          li(style="height:30px;")
            a(href='/config/alloydb', style="height:30px;", title='AlloyDB')
              i.alloy-icon.icon-alloydb.text-xs
              span.hidden-nav-xs.font-bold AlloyDB 
          li(style="height:30px;")
            a(href='/database', style="height:30px;", title='Database')
              i.alloy-icon.icon-database.text-xs
              span.hidden-nav-xs.font-bold Database 
          li(style="height:30px;")
            a.auto(href='/config/scheduler', style="height:30px;", title='Scheduler')
              i.alloy-icon.icon-scheduler.text-xs
              span.hidden-nav-xs Scheduler
          li(style="height:30px;")
            a.auto(href='/config/sabnzbd', style="height:30px;", title='SABnzbd')
              i.alloy-icon.icon-sabnzbd.text-xs
              span.hidden-nav-xs SABnzbd
          
    ul.nav.text-sm
      li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted
        span.pull-right
          a(ng-click="createNewPlaylist()")
            i.alloy-icon.icon-plus.i-lg
        | Playlist
      li
        a(href='#')
          i.alloy-icon.icon-musical-note.icon
          span Hip-Pop
      li
        a(href='#')
          i.icon-playlist.icon.text-success-lter
          b.badge.bg-success.dker.pull-right 9
          span Jazz
    // / nav
footer.footer.hidden-xs.no-padder.text-center-nav-xs(ng-show="$root.currentTrack.image")
  .bg.hidden-xs
    .dropdown.dropup.wrapper-sm.clearfix
      a.dropdown-toggle(href="/playing")
        span.thumb-sm.avatar.pull-left.m-l-xs
          img.dker(src='{{$root.currentTrack.image}}', alt='...')
        span.hidden-nav-xs.clear
          span.truncate.block.m-l
            strong.truncate.font-bold.text-lt {{$root.currentTrack.title}}
          span.truncate.text-muted.text-xs.block.m-l {{$root.currentTrack.artist}}