
section.scrollable.padder-lg.w-f-md
  a.pull-right.text-muted.m-t-lg(data-toggle='class:fa-spin', ng-click="refresh()")
    i#refresh.icon-refresh.i-lg.inline
  h2.font-thin.m-b
    | Starred 
    span.musicbar.inline.m-l-sm(style='width:20px;height:20px')
      span.bar1.a1.bg-primary.lter
      span.bar2.a2.bg-info.lt
      span.bar3.a3.bg-success
      span.bar4.a4.bg-warning.dk
      span.bar5.a5.bg-danger.dker

  .row
    .col-md-7(ng-if="$root.starred_albums.length > 0")
      thumblist(data="$root.starred_albums", title="Albums", limit="12", type="albums", refreshclick="refresh()", viewmorelink="/fresh")
          
    .col-md-5(ng-if="$root.starred_top_albums.length > 0")
      itemlist(data="$root.starred_top_albums", title="Top Albums", limit="10", type="albums", refreshclick="refresh()", viewmorelink="/never_played")  
  .row
    .col-md-7(ng-if="$root.starred_artists.length > 0")
      thumblist(data="$root.starred_artists", title="Artists", limit="12", type="artists", refreshclick="refresh()", viewmorelink="/fresh")
          
    .col-md-5(ng-if="$root.starred_top_artists.length > 0")
      itemlist(data="$root.starred_top_artists", title="Top Artists", limit="10", type="albums", refreshclick="refresh()", viewmorelink="/never_played")  
      


  .row
    .col-md-7
      h3.font-thin Tracks
      .row.row-sm
        .padder-lg
          ol.tracklist
            .react-contextmenu-wrapper(ng-repeat="track in $root.starred_tracks | limitTo:25")
              div
                li.tracklist-row.tracklist-row--oneline
                  .tracklist-col.position-outer
                    .tracklist-play-pause.tracklist-middle-align(ng-click="$root.MediaPlayer.playTrack(track, $root.starred_tracks)")
                      svg.icon-play(viewBox='0 0 85 100')
                        path( d='M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z')
                          title PLAY
              
                  .tracklist-col.name
                    .track-name-wrapper.tracklist-middle-align
                      .tracklist-name.ellipsis-one-line(dir='auto')
                        a(ng-click="$root.MediaPlayer.playTrack(track, $root.starred_tracks)", href="") {{track.title}}
                      .tracklist-artist.ellipsis-one-line(dir='auto')
                        a(href="/artist/{{track.artist_id}}") {{track.artist}} - 
                        a(href="/album/{{track.album_id}}") {{track.album}}

                  .tracklist-col.tracklist-col-duration
                    .tracklist-duration.tracklist-middle-align
                      span {{$root.formatTime(track.duration)}}

    .col-md-5(ng-if="$root.starred_top_tracks.length > 0")
      h3.font-thin Top Tracks
      .list-group.bg-white.list-group-lg.no-bg.auto
        a.list-group-item.clearfix.pointer(ng-repeat="song in $root.starred_top_tracks | limitTo:10", href='#')
          span.pull-right.h2.text-muted.m-l {{$index + 1}}
          span.pull-left.thumb-sm.avatar.m-r
            img.img-thumbnail(ng-src='{{song.image}}', alt='...')
          span.clear
            span {{song.title}}
            small.text-muted.clear.text-ellipsis by {{song.artist}}