@import "../../../styles/variables";

.itemtable {
  table-layout: auto;
  width: 100%;
}
.itemtable tbody>tr>td{
  text-align: left;
  align-content: flex-start;
  white-space: nowrap;
}
.itemtable thead>tr>td {
  width: 1px !important;
  text-align: left;
  table-layout: fixed;
  white-space: nowrap;
  word-break: none;
  white-space: nowrap;
}

.image-cell-container {
  text-align: left;
  width:50px;
}

.centered-anchor {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.centered-anchor i {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}