div
  a.u.pull-right.h6.text-muted.m-l(data-toggle='class:fa-spin', ng-click="refreshclick()")
    i#refresh.icon-refresh.i-lg.inline.mini-icon
  div.thumblist-header
    a(href="{{viewmorelink}}").u.pull-right.h6.text-muted.m-l View More
    span.clear
      span.h2.font-thin {{title}}
  .row.row-sm(ng-if="type === 'tracks'")
    .col-lg-4.col-md-4.col-sm-3.col-xs-12.image-col(ng-repeat="song in data | limitTo:limit")
      .caption
        a.text-ellipsis(href='/album/{{song.album_id}}/{{song.id}}') {{song.title}}
        a.text-ellipsis.text-xs.text-muted(href='/artist/{{song.artist_id}}') {{song.artist}}
      a.thumbnail(ng-click="$root.MediaPlayer.playTrack(song, data)")
        .image-absolute
          img.img.img-responsive.full-width(ng-src='{{song.image}}', alt='')

   
  .row.row-sm(ng-if="type === 'albums'")
    .col-lg-4.col-md-4.col-sm-3.col-xs-12.image-col(ng-repeat="album in data | limitTo:limit", ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', song.id) == true}")
      .caption
        a.text-ellipsis(href='/album/{{album.id}}') {{album.name}}
        a.text-ellipsis.text-xs.text-muted(href='/artist/{{album.artist_id}}') {{album.artist}} 
      a.thumbnail(ng-click="$root.MediaPlayer.playAlbum(album)")
        .image-absolute
          img.img.img-responsive.full-width(ng-src='{{album.image}}', alt="{{album.name}}")        

  
  .row.row-sm(ng-if="type === 'artists'")
    .col-lg-4.col-md-4.col-sm-3.col-xs-12.image-col(ng-repeat="artist in data | limitTo:limit")
      .caption.text-center
        a.text-ellipsis(href='/artist/{{artist.id}}') {{artist.name}}
      a.thumbnail(href='/artist/{{artist.id}}')
        .image-absolute
          img.img.img-responsive.full-width(ng-src='{{artist.image}}', alt='')
 