div
  a.u.pull-right.h6.text-muted.m-l(data-toggle='class:fa-spin', ng-click="refreshclick()")
    i#refresh.icon-refresh.i-lg.inline.mini-icon
  a
    a.u.pull-right.h6.text-muted.m-l View More
    
    span.clear
      span.h2.font-thin {{title}}
  .row.row-sm(ng-if="type === 'tracks'")
    div(ng-repeat="song in data | limitTo:limit")
      .col-sm-3
        .item
          .pos-rlt
            .item-overlay.opacity.r.r-2x.bg-black
              .center.text-center.m-t-n
                a(ng-click="$root.MediaPlayer.playTrack(song, data)")
                  i.alloy-icon.icon-play.icon.i-2x
            a(href='#')
              img.r.r-2x.img-full.fresh-img.thumbnail(ng-src='{{song.image}}', alt='', style="max-height:170px;object-fit: cover;")
          .padder-v
            a.text-ellipsis(href='/album/{{song.album_id}}/{{song.id}}') {{song.title}}
            a.text-ellipsis.text-xs.text-muted(href='/artist/{{song.artist_id}}') {{song.artist}}
  .row.row-sm(ng-if="type === 'albums'")
    div(ng-repeat="album in data | limitTo:limit")
      .col-sm-3
        .item(ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', song.id) == true}")
          .pos-rlt
            .item-overlay.opacity.r.r-2x.bg-black
              .center.text-center.m-t-n
                a(ng-click="$root.MediaPlayer.playAlbum(album)")
                  i.alloy-icon.icon-play.icon.i-2x
            a(href='#')
              img.r.r-2x.img-full.fresh-img.thumbnail(ng-src='{{album.image}}', alt='', style="max-height:170px;object-fit: cover;")
          .padder-v
            a.text-ellipsis(href='/album/{{album.id}}') {{album.name}}
            a.text-ellipsis.text-xs.text-muted(href='/artist/{{album.artist_id}}') {{album.artist}}  
  .row.row-sm(ng-if="type === 'artists'")
    div(ng-repeat="artist in data | limitTo:limit")
      .col-sm-3
        .item
          .pos-rlt
            a(href='/artist/{{artist.id}}')
              img.r.r-2x.img-full.thumbnail(ng-src='{{artist.image}}', alt='', style="max-height:170px;object-fit: cover;")
          .padder-v
            a.text-ellipsis(href='/artist/{{artist.id}}') {{artist.name}}