include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarseperator
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Shuffle', buttonclick='shuffle()', buttonicon='fa-random')
      toolbarbutton(buttontext='Radio', buttonclick='startRadio()', buttonicon='fa-rss')
      toolbarbutton(buttontext='Share', buttonclick='shareAlbum()', buttonicon='fa-bullhorn')
    include ./../../views/toolbarsection-right
      toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")
      toolbarbutton(buttontext='Show All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-down', ng-show="!all_expanded")
      toolbarbutton(buttontext='Hide All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-up', ng-show="all_expanded")
  
  include ./../../views/pagebody                
    include ./../../views/pagecontent
      .ExpanderContainer
        button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleTracks()')
          .ExpanderContainer-header
            .ExpanderContainer-left
              div
                span.ExpanderContainer-label Current Playlist
                span.ExpanderContainer-sublabel
            span(title='Hide albums')
              expandbutton(direction="up", ng-show="tracks_expanded")
              expandbutton(direction="down", ng-show="!tracks_expanded")
            
            span  
        div#trackListContainer
          .ExpanderContainer-body
            tracklist(data="$root.tracks")
            .ExpanderContainer-collapseButtonContainer
              button.IconButton-button.Link-link.Link-link(title='Hide albums', type='button', ng-click='toggleTracks()')
                expandbutton(ng-show="albums_expanded", mini)
                expandbutton(ng-show="!albums_expanded", mini)