.generalConfigWrapper
  .generalConfigBodyWrapper
    .row
      .col-lg-12.mx-auto
        h2 Schedule
        #schedulerGrid.ag-theme-dark.h-100(ag-grid='gridOptions',context-menu="menuOptions", style="min-height:300px;")
   



    


