fieldset.FieldSet-fieldSet
  legend.FieldSet-legend Scheduler
  div
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
            .Table-tableContainer.ng-isolate-scope
              table.Table-table
                thead
                  tr
                    th.TableHeaderCell-headerCell.Link-link Task Name
                    th.TableHeaderCell-headerCell.Link-link Last Run
                    th.TableHeaderCell-headerCell.Link-link Next Run
                    th.TableHeaderCell-headerCell Timezone
                    th.TableHeaderCell-headerCell Cron
                    th.TableHeaderCell-headerCell Run
                      
                tbody
                  // ngRepeat: album in data.albums
                  tr.TableRow-row.ng-scope(ng-repeat='task in schedulerStatus')
                    td.TableRowCell-title.TableRowCell-cell
                      a.Link-link.ng-binding(href='/album/album_748da5c6') {{task.name}}
                    td.RelativeDateCell-cell.TableRowCell-cell {{task.lastExecution}}
                    td.RelativeDateCell-cell.TableRowCell-cell {{task.nextExecution}}
                    td.RelativeDateCell-cell.TableRowCell-cell {{task.timezone}}
                    td.RelativeDateCell-cell.TableRowCell-cell {{task.source}}

                    td.TableRowCell-cell
                      button.IconButton-button.Link-link.Link-link(type='button')
                        i.fa.fa-play-circle.fa-w-16.Icon-default(aria-hidden='true', data-prefix='fas')

      