@import 'mixins/scrollbars';
@import 'mixins/range';
@import 'mixins/inputs';

@include scrollbars($scrollbar-thickness, $scrollbar-thumb-color, $scrollbar-hover-color, $scrollbar-track-color);

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}