section.scrollable.padder-lg.w-f-md
  .row(ng-show="title")
    h2.clear.font-thin {{title}}
      a(ng-show="showviewmore", href="{{viewmorelink}}").u.h6.text-muted.m-l View More
  .row 
    .table-responsives(ng-if="type === 'tracks'", style="overflow:hidden;")
        table.table.table-striped.b-t.b-light
          thead
            tr
              th
              th Title
              th Album
              th Artist
              th Length
              th 
          tbody(ng-repeat="track in data | limitTo:limit")
            tr(title='{{track.title}}', data-value="track;{{track.id}}", ng-class="{'table-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', track.id) == true}")
              td 
                span.pull-left.thumb-sm.avatar.m-r
                  img.img-thumbnail(ng-src='{{track.image}}', alt='{{track.title}}')
              td 
                a(ng-click="$root.MediaPlayer.playTrack(track, data)")
                  span.clear
                    span {{track.title}}
              td(ng-click="$root.MediaPlayer.playTrack(track, data)") 
                a(href="/album/{{track.album_id}}")
                  span.clear
                    span {{track.album}}
              td 
                a(href="/artist/{{track.artist_id}}") 
                  span.clear
                    span {{track.artist}}
              td {{$root.formatTime(track.duration)}}
              td
                a.centered-anchor(href="", style="height:30px;", ng-click="starTrack(track)")
                  i.alloy-icon.icon(ng-class="isStarred(track)")

    .table-responsives(ng-if="type === 'albums'")
        table.table.table-striped.b-t.b-light
          thead
            tr
              th(style="width:1px;")
              th Album
              th Artist
              th Created
              th Tracks
          tbody(ng-repeat="album in data | limitTo:limit")
            tr(title='{{album.name}}', data-value="album;{{album.id}}")
              td(style="width:1px;")
                span.pull-left.thumb-sm.avatar.m-r
                  img.img-thumbnail(ng-src='{{album.image}}', alt='{{album.name}}')
              td 
                a(href="/album/{{album.id}}")
                  span.clear
                    span {{album.name}}
              td 
                a(href="/artist/{{album.artist_id}}") {{album.artist}}
              td {{album.created}}
              td {{album.track_count}}