.Table-tableContainer
  table.Table-table
    thead
      tr
        th.TableHeaderCell-headerCell.Link-link(label='File') File
        th.TableHeaderCell-headerCell.Link-link(label='ETA') ETA
        th.TableHeaderCell-headerCell.Link-link(label='Category') Category
        th.TableHeaderCell-headerCell.Link-link(label='%') %
        th.TableHeaderCell-headerCell.Link-link(label='Priority') Priority
        th.TableHeaderCell-headerCell.Link-link(label='Size') Size
        th.TableHeaderCell-headerCell.Link-link(label='Status') Status
    tbody
      tr.TableRow-row(ng-repeat='queue in data')
        td.TableRowCell-cell
          span.Link-link.ng-binding {{queue.name}}
        td.TableRowCell-cell
          span.Link-link.ng-binding {{queue.eta}}
        td.TableRowCell-cell
          span.Link-link.ng-binding {{queue.category}}
        td.TableRowCell-cell
          span.Link-link.ng-binding {{makePercent(queue.percentage)}}
        td.TableRowCell-cell
          span.Link-link.ng-binding {{queue.priority}}
        td.TableRowCell-cell
          span.Link-link.ng-binding {{humanFileSize(queue.size)}}
        td.TableRowCell-count.TableRowCell-cell
          span.Label-label.Label-medium(title='10 tracks total. 10 tracks with files.', ng-class="{'TableRowCell-now-playing': checkIfNowPlaying(album.id) == true}")
            span {{queue.status}}