//colors
@import "./constants";
@import "./functions";
@import "./material-colors";
$primary-color: $clr-pink-500;
$lighter-color:$clr-grey-500;
$light-color:$clr-grey-900;
$dark-color: $clr-grey-800;
$darker-color: $clr-grey-900;
$edit-color: rgba(89, 107, 38, 0.7);
$warning-color: rgba(107, 38, 38, 0.7);
$background-color: #f2f4f8;
$background-alt-color: #F5F5F6;
$border-color: #868686;
$main-background-color: $background-color;
$main-background-color-transparent: rgba($primary-color, .35);
$main-text-color: #788188;
$main-link-color: #545a5f;
$main-link-focus-color: #f2f4f8;
$faded-text-color: choose-contrast-color($primary-color);
$alt-text-color: choose-contrast-color($darker-color);
$sub-background-color:$primary-color;
$alt-sub-background-color: $light-color;
$now-playing-track: rgba($light-color, 0.904);
$now-playing-track-text: rgba(choose-contrast-color($light-color), 0.904);
$general-border-color:rgba($border-color, 0.904);
$grid-selection-color:rgba($light-color, 0.5);
$label-color:rgba(choose-contrast-color($primary-color), 0.904);
$sub-label-color:#8895aa;

//page width size breaks 
$break-width-xxxsmall: 320px;
$break-width-xxsmall: 375px;
$break-width-xsmall: 384px;
$break-width-small: 414px;
$break-width-xxxmed: 480px;
$break-width-xxmed: 448px;
$break-width-xmed: 656px;
$break-width-med: 770px;
$break-width-large: 920px;
$break-width-xlarge: 992px;
$break-width-xxlarge: 1040px;
$break-width-xxxlarge: 1220px;
$break-width-huge: 1405px;
$break-width-xhuge: 1580px;
$break-width-xxhuge: 1760px;
$break-width-xxxhuge: 1920px;
$break-width-maximum: 2200px;

//page height size breaks 
$break-height-xxxsmall: 320px;
$break-height-xxsmall: 375px;
$break-height-xsmall: 384px;
$break-height-small: 414px;
$break-height-xxxmed: 480px;
$break-height-xxmed: 450px;
$break-height-xmed: 656px;
$break-height-med: 700px;
$break-height-large: 920px;
$break-height-xlarge: 992px;
$break-height-xxlarge: 1040px;
$break-height-xxxlarge: 1220px;
$break-height-huge: 1400px;
$break-height-xhuge: 1580px;
$break-height-xxhuge: 1760px;
$break-height-xxxhuge: 1920px;
$break-height-maximum: 2200px;

//@media screen and (max-width:$break-xxxsmall) { } //320px;
//@media screen and (max-width:$break-xxsmall) { } //375px;
//@media screen and (max-width:$break-xsmall) { } //384px;
//@media screen and (max-width:$break-small) { } //414px;
//@media screen and (max-width:$break-xxxmed) { } //480px;
//@media screen and (max-width:$break-xxmed) { } //568px;
//@media screen and (max-width:$break-xmed) { } //600px;
//@media screen and (max-width:$break-med) { } //640px;
//@media screen and (max-width:$break-large) { } //667px;
//@media screen and (max-width:$break-xlarge) { } //768px;
//@media screen and (max-width:$break-xxlarge) { } //800px;
//@media screen and (max-width:$break-xxxlarge) { } //991px;
//@media screen and (max-width:$break-huge) { } //1024px;
//@media screen and (max-width:$break-xhuge) { } //1280px;
//@media screen and (max-width:$break-xxhuge) { } //1366px;
//@media screen and (max-width:$break-xxxhuge) { } //1440px;
//@media screen and (max-width:$break-maximum) { } //1600px;
//typography
$main-font: 'Source Sans Pro',
sans-serif;
$main-font-size: 1em;
$sub-font: 'Source Sans Pro',
sans-serif;
$sub-font-size: 0.85em;


//buttons
$main-btn-hover-color:$now-playing-track;
//navbar
$navbar-height:40px;
//range
$track-color: $alt-sub-background-color !default;
$thumb-color: $main-background-color !default;
$thumb-radius: 3px !default;
$thumb-height: 24px !default;
$thumb-width: 10px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: rgba(choose-contrast-color($general-border-color), .5) !default;
$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: $alt-sub-background-color !default;
$track-radius: 5px !default;
$contrast: 5% !default;
$ie-bottom-track-color: darken($track-color, $contrast) !default;

//footer

$footer-height:60px;
$footer-height-small:50px;
/* Add non-firefox CSS code here */

$buffer-color: rgba($primary-color, 0.25);
$progress-color: rgba($light-color, 0.728);
$progress-container-color: rgba($primary-color, 0.25);
//sidebar
$sidebar-width: 160px;
$sidebar-collapsed-width: 50px;
$sidebar-font-color: #e1e2e3;
$sidebar-line-height: .8;
$sidebar-font-size: .7em;
$sidebar-font: 'Source Sans Pro',
sans-serif;
$sidebar-font-weight: bold;
//slider
$slider-track-color:rgb(90, 90, 90);
$slider-thumb-color:rgb(224, 224, 224);
$slider-thumb-border-color:rgb(25, 24, 24);
//toolbar 
$toolbar-height:45px;
$navbar-background-color:$dark-color;
//scrollbar
$scrollbar-track-color: transparent;
$scrollbar-thumb-color: $primary-color;
$scrollbar-hover-color: $primary-color;
$scrollbar-thickness: 0.5em;



:export {
  xxxsmall: $break-width-xxxsmall;
  xxsmall: $break-width-xxsmall;
  xsmall: $break-width-xsmall;
  smalls: $break-width-small;
  xxxmed: $break-width-xxxmed;
  xxmed: $break-width-xxmed;
  xmed: $break-width-xmed;
  med: $break-width-med;
  large: $break-width-large;
  xlarge: $break-width-xlarge;
  xxlarge: $break-width-xxlarge;
  xxxlarge: $break-width-xxxlarge;
  huge: $break-width-huge;
  xhuge: $break-width-xhuge;
  xxhuge: $break-width-xxhuge;
  xxxhuge: $break-width-xxxhuge;
  maximum: $break-width-maximum;
  primaryColor: $primary-color;
  lightColor: $light-color;
  darkColor: $dark-color;
  darkerColor: $darker-color;
  backgroundColor: $background-color;
  backgroundAltColor: $background-alt-color;
  borderColor: $border-color;
}