@import "./variables";
@import "./framework";

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $background-color;
}

body {
  margin: 0;
  background-color: $background-color;
  font-family: $sub-font, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: $main-text-color;
  -webkit-font-smoothing: antialiased;
  line-height: 1.40;
}

google-cast-launcher {
  float: right;
  margin: 10px 6px 14px 0px;
  width: 25px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
}

google-cast-launcher:hover {
  --disconnected-color: white;
  --connected-color: white;
}

.modal-body {
  max-height: 70vh;
  overflow: auto;
}

.centered-anchor-text {
  --Example: 200px;
  position: absolute;
  left: 50px;
  top: 50px;
  width: calc(100% - var(--Example)/2);
  height: calc(100% - var(--Example)/2);
  text-align: center;
  vertical-align: middle;
  align-content: center;
}

.centered-anchor {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.centered-anchor i {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.autocomplete-container {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-title {
  line-height: 30px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: $main-font !important;
}

#contextMenu {
  position: absolute;
  display: none;
  z-index: 1000;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.jp-controls {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.jp-controls a {
  height: 60px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.jp-controls a>i {
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
}

.jp-controls>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 100%;
}


.jp-subtitle {
  position: absolute;
  left: 25px;
  top: 10px;
  bottom: -15px;
  right: 25px;
  display: block !important;
  line-height: 60px;
}

.jp-artist {
  opacity: 0.6;
}

.play-bar {
  height: 60px;
}

.volume-container {
  width: 90px !important;
  padding-right: 10px !important;
}

//switch control

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#volumeSliderValue {
  height: 6px;
  background-color: choose-contrast-color($dark-color);
}

a:active,
a:hover {
  outline: 0;
  cursor: pointer !important;
}

a:hover,
a:focus {
  color: $main-link-focus-color;
  text-decoration: none;
  outline: none;
  outline-offset: -2px;
}

a.hid {
  display: none;
}

.jp-video-play {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  margin-left: -30px;
  margin-top: -65px;
}

.jp-playlist ul {
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  display: none !important;
}

.jp-playlist li {
  list-style: none;
  position: relative;
}

.jp-playlist-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding: 12px 40px 12px 8px;
}

.jp-playlist-item:focus {
  outline: 0;
}

.jp-playlist-item:before {
  display: inline-block;
  text-align: center;
  width: 30px;
  font-family: FontAwesome;
  content: "\f0da";
  opacity: 0.6;
}

a.jp-playlist-current:before {
  content: "\f144";
  opacity: 1;
}

.jp-playlist li:first-child .jp-playlist-item {
  border-width: 0;
}

.jp-playlist-item-remove {
  font-size: 15px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 11px 18px;
  opacity: 0.6;
}

.img-circle {
  border-radius: 50%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.text-muted {
  color: #999;
}

.text-success {
  color: #3c763d;
}

.bg-primary {
  color: #fff;
  background-color: #428bca;
}

.bg-success {
  background-color: #dff0d8;
}

.bg-danger {
  background-color: #f2dede;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-group {
  margin-bottom: 15px;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-btn:first-child>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.btn {
  position: relative;
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
  z-index: 2;
}

.input-group-btn:first-child>.btn {
  margin-right: -1px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 10px;
}

.badge:empty {
  display: none;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media>.pull-left {
  margin-right: 10px;
}

.list-group {
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item {
  color: #555;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.list-group-item-track {
  line-height: 35px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel>.list-group {
  margin-bottom: 0;
}

.panel>.list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}

.panel-heading+.list-group .list-group-item:first-child {
  border-top-width: 0;
}

.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.clearfix:after,
.nav:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.visible-xs {
  display: none !important;
}

.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.badge {
  font-weight: bold;
}

.badge {
  background-color: #aac4c8;
}

.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}

.badge-sm {
  font-size: 85%;
  padding: 2px 5px !important;
}

.form-control {
  border-color: #cbd5dd;
  border-radius: 2px;
}

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #545ca6;
}

.input-s-lg {
  width: 250px;
}

.list-group {
  border-radius: 2px;
}

.list-group-item {
  border-color: #eaeef1;
  padding-right: 15px;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #eef3f4;
}

.list-group-item.media {
  margin-top: 0;
}

.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #edf2f3;
}

.panel {
  border-radius: 2px;
}

.panel .list-group-item {
  border-color: #f3f5f7;
}

.panel-heading {
  border-radius: 2px 2px 0 0;
}

.panel-footer {
  border-color: #eaeef1;
  border-radius: 0 0 2px 2px;
  background-color: #f7fafa;
}

.header,
.footer {
  min-height: 50px;
  max-height: 60px;
  padding: 0 15px;
}

.header.navbar {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

.app,
.app body {
  height: 100%;
  overflow: hidden;
}

.app .hbox.stretch {
  height: 100%;
}

.app .vbox>section,
.app .vbox>footer {
  position: absolute;
}

.hbox {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.hbox>aside,
.hbox>section {
  vertical-align: top;
  height: 100%;
  float: none;
}

.vbox {
  display: table;
  border-spacing: 0;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vbox>section,
.vbox>footer {
  top: 0;
  bottom: 0;
  width: 100%;
}

.vbox>header~section {
  top: 50px;
}

.vbox>header.header-md~section {
  top: 60px;
}

.vbox>section.w-f-md {
  bottom: 60px;
}

.vbox>footer {
  top: auto;
  z-index: 1000;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 50, 50, 0.25);
  border: 2px solid transparent;
  border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

::-webkit-scrollbar-track {
  background-color: rgba(50, 50, 50, 0.05);
}

.scrollable {
  overflow-x: hidden;
  overflow-y: visible;
}

.scrollable:hover {
  overflow-x: hidden;
  overflow-y: visible;
}

.scrollable-auto-hide {
  overflow-x: hidden;
  overflow-y: hidden;
}

.scrollable-auto-hide:hover {
  overflow-x: hidden;
  overflow-y: auto;
}

.no-touch ::-webkit-scrollbar-button {
  width: 10px;
  height: 6px;
  background-color: rgba(50, 50, 50, 0.05);
}

.navbar-header {
  position: relative;
}

.navbar-header>.btn {
  position: absolute;
  font-size: 1.3em;
  padding: 9px 16px;
  line-height: 30px;
  left: 0;
  text-decoration: none !important;
}

.navbar-header .navbar-brand+.btn {
  right: 0;
  top: 0;
  left: auto;
}

.navbar-brand {
  float: none;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  height: auto;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand img {
  max-height: 20px;
  margin-top: -4px;
  vertical-align: middle;
}

.nav-primary li>a>i {
  margin: -10px -20px;
  line-height: 38px;
  width: 38px;
  float: left;
  margin-right: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.nav-primary li>a>i:before {
  position: relative;
  z-index: 2;
}

.nav-primary ul.nav>li>a {
  padding: 9px 20px;
  position: relative;
  -webkit-transition: background-color .2s ease-in-out 0s;
  transition: background-color .2s ease-in-out 0s;
}

.nav-primary ul.nav>li>a>.badge {
  font-size: 11px;
  padding: 2px 5px 2px 4px;
  margin-top: 2px;
}

.nav-primary ul.nav>li>a>.text-muted {
  margin: 0 3px;
}

.nav-primary ul.nav>li li a {
  font-weight: normal;
  text-transform: none;
}

.nav-primary ul.nav ul {
  display: none;
}

.arrow {
  border-width: 8px;
  z-index: 10;
}

.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.arrow:after {
  border-width: 7px;
  content: "";
}

.arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  top: -8px;
}

.arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff;
}

.arrow.bottom {
  left: 50%;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #eee;
  border-top-color: rgba(0, 0, 0, 0.1);
  bottom: -8px;
}

.arrow.bottom:after {
  content: " ";
  bottom: 1px;
  margin-left: -7px;
  border-bottom-width: 0;
  border-top-color: #fff;
}

.i-lg {
  font-size: 1.3333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.i-2x {
  font-size: 2em;
}

.bg-light {
  background-color: $light-color;
  color: choose-contrast-color($light-color);
}

.bg-light.dk {
  background-color: $light-color;
}

.bg-dark {
  background-image: linear-gradient($light-color, $dark-color);
  color: choose-contrast-color($dark-color);
}

.bg-dark.dk,
.bg-dark .dk {
  background-color: $dark-color;
}

.bg-dark .dker {
  background-color: $darker-color;
}

.bg-dark .bg {
  background-color: $dark-color;
}

.bg-dark a {
  color: #e6eaed;
}

.bg-dark a:hover {
  color: #fff;
}

.bg-dark .nav>li:hover>a,
.bg-dark .nav>li:focus>a,
.bg-dark .nav>li:active>a {
  color: #fff;
  background-color: $dark-color;
}

.bg-dark .nav>li>a {
  color: choose-contrast-color($dark-color);
}

.bg-dark .nav>li>a:hover,
.bg-dark .nav>li>a:focus {
  background-color: $dark-color;
}

.bg-dark .caret {
  border-top-color: #c9d0d7;
  border-bottom-color: #c9d0d7;
}

.bg-dark .text-muted {
  color: #acb7c1 !important;
}

.bg-dark .text-lt {
  color: #ffffff !important;
}

.bg-primary {
  background-color: $primary-color;
  color: $main-link-focus-color;
}

.bg-success {
  background-color: #1ab667;
  color: #a9f3ce;
}

.bg-success.dker {
  background-color: #108d4e;
}

.bg-info {
  background-image: linear-gradient($primary-color, $dark-color);
  color: #eaf6f9;
}

.bg-info .lter {
  background-color: $light-color;
}

.bg-info.dk,
.bg-info .dk {
  background-color: $dark-color;
}

.bg-info.dker,
.bg-info .dker {
  background-color: $darker-color;
}

.bg-info a {
  color: #ffffff;
}

.bg-info a:hover {
  color: #fff;
}

.bg-info .text-muted {
  color: #c3e6ed !important;
}

.bg-info .text-lt {
  color: #ffffff !important;
}

.bg-danger {
  background-color: #f05050;
  color: #ffffff;
}

.bg-white {
  background-color: #fff;
  color: #788188;
}

.bg-white a {
  color: #545a5f;
}

.bg-white a:hover {
  color: #3c4144;
}

.bg-white .text-muted {
  color: #939aa0 !important;
}

.bg-white-only {
  background-color: #fff;
}

.bg-normal a:hover {
  background-color: $background-color !important;
  color: choose-contrast-color($background-color) !important;
}

.text-success {
  color: #1ab667;
}

.text-success-lter {
  color: #23e080;
}

.text-muted {
  color: #939aa0;
}

.no-border {
  border-color: transparent;
  border-width: 0;
}

.block {
  display: block;
}

.rounded {
  border-radius: 500px;
}

.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.text-active {
  display: none !important;
}

.active>.text {
  display: none !important;
}

.active>.text-active {
  display: inline-block !important;
}

.wrapper-sm {
  padding: 10px;
}

.padder {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padder {
  padding: 0 !important;
}

.b-light {
  border-color: #d9e4e6;
}

.b-black {
  border-color: #2e3941;
}

.m-n {
  margin: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-t {
  margin-top: 15px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-b-none {
  margin-bottom: 0;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}

.avatar img {
  border-radius: 500px;
  width: 100%;
}

.avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}

.avatar i.on {
  background-color: #1ab667;
}

.thumb-sm {
  width: 40px;
  display: inline-block;
}

.thumb-sm img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.clear {
  display: block;
  overflow: hidden;
}

h4,
.h3,
.h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
.h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text-info {
  color: #31708f;
}

a.text-info:hover {
  color: #245269;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-3,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  // padding-right: 15px;
  // padding-left: 15px;
}

.col-xs-6 {
  float: left;
}

.col-xs-6 {
  width: 50%;
}

.pointer {
  cursor: pointer !important;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}


.list-group-item-now-playing {
  background-color: $now-playing-track !important;
  color: $now-playing-track-text !important;
}

.item-number {
  font-size: 2.5em;
}

.panel-body {
  padding: 15px;
}

.panel>.list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.clearfix:after,
.row:after,
.nav:after,
.panel-body:after {
  clear: both;
}

.h3,
.h4 {
  margin: 0;
}

.list-group.no-radius .list-group-item {
  border-radius: 0 !important;
}

.list-group.no-border .list-group-item {
  border-width: 1px 0;
}

.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-tabs {
  border-color: #eaeef1;
}

.nav-tabs>li>a {
  border-radius: 2px 2px 0 0;
  border-bottom-color: #eaeef1 !important;
}

.nav-tabs>li.active>a {
  border-color: #eaeef1 !important;
  border-bottom-color: #fff !important;
}

.header {
  min-height: 50px;
  padding: 0 15px;
}

.header .nav-tabs {
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}

.header .nav-tabs>li a {
  border: none !important;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.header .nav-tabs>li a:hover,
.header .nav-tabs>li a:focus {
  background-color: transparent;
}

.header .nav-tabs>li.active a {
  color: #788188;
}

.header .nav-tabs>li.active a,
.header .nav-tabs>li.active a:hover {
  background-color: #f2f4f8;
}

.header .nav-tabs.nav-white>li.active a,
.header .nav-tabs.nav-white>li.active a:hover {
  background-color: #fff;
}

.bg-light.lt {
  background-color: #edf2f3;
}

.bg-light.lter {
  background-color: #f2f5f5;
}

.text-info {
  color: #4cb6cb;
}

.line {
  *width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}

.no-radius {
  border-radius: 0;
}

.font-thin {
  font-weight: 300;
}

.wrapper {
  padding: 15px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-r {
  border-right: 1px solid #eaeef1;
}

.b-l {
  border-left: 1px solid #eaeef1;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.thumb-lg {
  width: 128px;
  display: inline-block;
}

.thumb {
  width: 50px;
  display: inline-block;
}

.thumb img,
.thumb-sm img,
.thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

#primary-content {
  //margin-bottom: 60px;
  height: calc(100vh - 60px);
}

.spaced {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.spaced li {
  border: 1px solid blue;
  height: 60px;
}

.h2 {
  font-size: 30px;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.h2,
.h4 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

.h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.h4 {
  font-size: 18px;
}

.text-danger {
  color: #a94442;
}

.bg-warning {
  background-color: #fcf8e3;
}

.col-lg-2,
.col-sm-3,
.col-md-3,
.col-sm-4,
.col-md-5,
.col-xs-6,
.col-sm-6,
.col-md-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.row:after {
  clear: both;
}

.h4 {
  margin: 0;
}

.list-group.no-bg .list-group-item {
  background-color: transparent;
}

.bg-light.dker {
  background-color: #d7e5e8;
}

.bg-primary.lter {
  background-color: #797fb4;
}

.bg-primary a {
  color: #fcfcfd;
}

.bg-primary a:hover {
  color: #fff;
}

.bg-primary .text-muted {
  color: #b8bbdb !important;
}

.bg-info.lt {
  background-color: #62bcce;
}

.bg-warning {
  background-color: #fad733;
  color: #fffefa;
}

.bg-warning.dk {
  background-color: #fcd417;
}

.bg-danger.dker {
  background-color: #f21b1b;
}

.text-danger {
  color: #f05050;
}

.text-white {
  color: #fff;
}

.pos-rlt {
  position: relative;
}

.inline {
  display: inline-block !important;
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-active,
.active>.text {
  display: none !important;
}

.wrapper-md {
  padding: 20px;
}

.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.r {
  border-radius: 2px 2px 2px 2px;
}

.r-2x {
  border-radius: 4px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n {
  margin-top: -15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.img-full {
  width: 100%;
  object-fit: cover;
}

.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}

.row-sm>div {
  padding-left: 10px;
  padding-right: 10px;
}

.musicbar {
  position: relative;
}

.musicbar span {
  position: absolute;
  bottom: 0;
  width: 15%;
  text-indent: -9999px;
}

.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item>.badge {
  float: right;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  -moz-animation-name: fadeInDownBig;
  -o-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

.list-group-item>.badge {
  margin-right: 0;
}

.icon-muted {
  color: #ccc;
}

.bg-light .lt {
  background-color: #edf2f3;
}

.bg-black {
  background-color: #232c32;
  color: #7d94a4;
}

.bg-black a {
  color: #9badb9;
}

.bg-black a:hover {
  color: #fff;
}

.bg-black .text-muted {
  color: #627b8c !important;
}

.h {
  font-size: 120px;
  text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table>tbody>tr {
  cursor: pointer;
  background-color: inherit;
  color: $main-link-color;

  a {
    color: $main-link-color;

    span {
      color: $main-link-color;
    }
  }
}

.table-now-playing {
  background-color: $now-playing-track !important;
  color: $now-playing-track-text !important;

  a {
    color: $now-playing-track-text !important;

    span {
      color: $now-playing-track-text !important;
    }
  }
}


.table-centered>thead>tr>th,
.table-centered>tbody>tr>td,
.table-centered>tbody>tr>td>span {
  vertical-align: middle !important;
  text-align: left !important;
  background-color: inherit;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.panel>.table-responsive {
  margin-bottom: 0;
  border: 0;
}

.panel-default {
  border-color: #ddd;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel.panel-default {
  border-color: #eaeef1;
}

.panel.panel-default>.panel-heading {
  border-color: #eaeef1;
}

.panel .table td,
.panel .table th {
  padding: 8px 15px;
  border-top: 1px solid #eaeef1;
}

.panel .table thead>tr>th {
  border-bottom: 1px solid #eaeef1;
}

.panel .table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #f7fafa;
}

.panel .table-striped>thead th {
  background-color: #f7fafa;
  border-right: 1px solid #eaeef1;
}

.panel .table-striped>thead th:last-child {
  border-right: none;
}

.panel-default .panel-heading {
  background-color: #f7fafa;
}

.m-b-md {
  margin-bottom: 20px;
}

.dataTables_wrapper {
  position: relative;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  margin-top: -15px;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: white;
  z-index: 1;
}

.dataTables_wrapper .table {
  border: 1px solid #eee;
  border-width: 1px 0;
}

.dataTables_wrapper .row {
  margin-left: -15px;
  margin-right: -15px;
}

.dataTables_wrapper label {
  font-weight: normal;
  font-size: 12px;
  display: block;
  margin-bottom: 0;
}

.dataTables_wrapper select,
.dataTables_wrapper input {
  font-size: 12px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline;
  border: 1px solid #d9d9d9;
}

.dataTables_wrapper select {
  width: 75px;
}

.dataTables_wrapper input {
  width: 200px;
}

.dataTables_filter,
.dataTables_paginate {
  float: right;
}

.dataTables_length,
.dataTables_filter {
  padding: 15px;
}

.dataTables_info,
.dataTables_paginate {
  padding: 15px;
}

.dataTables_wrapper .paginate_button,
.dataTables_wrapper .paginate_active {
  cursor: pointer;
  outline: 0;
  border: 1px solid #d9d9d9;
  border-right-width: 0;
  background: #fff;
  padding: 4px 8px;
}

.dataTables_wrapper .paginate_active {
  background-color: #f5f5f5;
}

.dataTables_wrapper .paginate_button_disabled {
  color: #ccc;
  background-color: #fafafa;
}

.paginate_button.first {
  border-radius: 3px 0 0 3px;
}

.paginate_button.last {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
}

.dataTables_wrapper th {
  cursor: pointer;
  outline: 0;
}

.dataTables_wrapper th:after {
  font-family: FontAwesome;
  color: #666;
  position: relative;
  font-weight: normal;
  float: right;
}

.dataTables_wrapper .sorting:after {
  content: "\f0dc";
  color: #ccc;
}

.dataTables_wrapper .sorting_asc:after {
  content: "\f0de";
}

.fresh-img {
  border: 1px solid #333333;
  border-radius: 10px;
}

.image-absolute {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image-absolute img {
  position: absolute;
}

.thumblist-header {
  margin-bottom: 20px;
}

.image__full,
.image {
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}

.image__lightOutline .image__full {
  box-shadow: rgba(0, 0, 0, .1)0 0 0 1px inset;
}

.image__whiteOutline .image__full {
  border: 2px solid #fff;
  box-sizing: border-box;
  background-origin: border-box;
}

.image:focus {
  outline: 0;
}

.image:focus .image__full {
  border: 1px dotted #999;
  box-sizing: border-box;
  background-origin: border-box;
}

.tracklist-container {
  position: relative;
}

.tracklist-container .tracklist {
  width: 100%;
  margin-bottom: 1.5em;
}

.tracklist-play-pause {
  color: #fff;
  display: block;
}

.tracklist-play-pause svg {
  height: 1em;
  width: 1em;
}

.tracklist-row {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.56em;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tracklist-row .more {
  min-width: 65px;
}

.tracklist-row .more .react-contextmenu-wrapper {
  display: none;
}

.tracklist-row .tracklist-duration {
  opacity: .6;
}

[dir=ltr] .tracklist-row .more {
  text-align: right;
  padding-right: 1em;
}

.tracklist-name {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
}

.tracklist-artist {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .015em;
  font-style: italic;
}

.tracklist-row:focus,
.tracklist-row:hover {
  background-color: rgba(0, 0, 0, .3);
}

.tracklist-row .tracklist-play-pause,
.tracklist-row .tracklist-play-pause {
  display: block;
  color: #fff;
}

.tracklist-row:focus .position,
.tracklist-row:hover .position {
  display: none;
}

.tracklist-row:focus .more .react-contextmenu-wrapper,
.tracklist-row:hover .more .react-contextmenu-wrapper {
  display: block;
}

.tracklist-row .position {
  color: #fff;
  opacity: .6;
}

.tracklist-col {
  display: block;
  height: 4.56em;
}

.tracklist-col.position-outer {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 3em;
}

.tracklist-col.name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 0;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
}

[dir=ltr] .tracklist-col.position-outer {
  text-align: right;
  padding-right: 1em;
}

.tracklist-col-duration {
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: auto;
}

[dir=ltr] .tracklist-col-duration {
  text-align: right;
  padding-right: 1em;
}

.TrackListRow__explicit-label {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  display: inline-block;
  text-transform: uppercase;
  background-color: hsla(0, 0%, 100%, .6);
  color: #000;
  border-radius: 2px;
  padding: 0 .3em;
}

[dir=ltr] .TrackListRow__explicit-label {
  margin-right: .67em;
}

.track-name-wrapper .second-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.tracklist-col-cover-art-thumb {
  display: block;
}

[dir=ltr] .tracklist-col-cover-art-thumb {
  margin-right: 1em;
}

.tracklist-top-align {
  margin-top: .7em;
}

.tracklist-top-align .icon-play {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.tracklist-top-align.position {
  margin-top: .75em;
}

.tracklist-middle-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tracklist-middle-align .icon-play {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.tracklist-row.tracklist-row--oneline,
.tracklist-row.tracklist-row--oneline .tracklist-col {
  height: 4em;
}

.tracklist-now-playing {
  background-color: $now-playing-track !important;
  color: $now-playing-track-text !important;
}

.no-focus-outline .tracklist-row {
  outline: none;
}

.cover-art {
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;
  background-color: #282828;
}

.cover-art.shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.cover-art .cover-art-image {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: 50%;
  opacity: 0;
}

.cover-art .cover-art-image-loaded {
  opacity: 1;
}

.cover-art .icon {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
}

.cover-art .icon svg {
  width: 100%;
  height: 100%;
}

.cover-art--with-auto-height {
  padding-top: 100%;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.no-focus-outline a:focus,
.no-focus-outline a:hover,
.no-focus-outline button:focus,
.no-focus-outline button:hover {
  outline: none;
}

.contentSpacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

[class^=spoticon-]:before {
  font-family: alloyicons;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.spoticon-track-16:before {
  content: "\f156";
  font-size: 16px;
}

.spoticon-ellipsis-16:before {
  content: "\f113";
  font-size: 16px;
}

.spoticon-ellipsis-24:before {
  content: "\f113";
  font-size: 24px;
  position: relative;
  top: 1px;
}

.section-title {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #333;
  text-transform: none;
  margin: 24px 0;
}

.section-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid--limit>div {
  display: none;
}

.grid--limit>div:nth-child(-n+2) {
  display: block;
}

.media-object {
  position: relative;
  padding-bottom: 2.5em;
}

.media-object a {
  border-bottom-width: 0;
}

.mo-info {
  margin: 12px 0 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
}



.mo-meta {
  text-align: center;
}

.mo-meta .react-contextmenu-wrapper {
  display: inline;
}

.mo-meta a {
  border-bottom-width: 1px;
}

.mo-meta a:link,
.mo-meta a:visited {
  color: #333;
  opacity: .6;
}

.mo-meta a:active,
.mo-meta a:hover {
  opacity: 1;
}

.react-contextmenu-wrapper {
  display: inline;
}

.react-contextmenu-wrapper>button {
  min-width: 30px !important;
  width: 30px !important;
  max-width: 30px !important;
  height: 100%;
}

.tab-nav-list {
  width: 100%;
  padding: 20px 0;
}

.selection-tabs {
  text-align: center;
}

.selection-tab {
  display: inline-block;
}

.selection-tab-title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-bold);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #fff;
  opacity: .6;
  position: relative;
  border: 0;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.selection-tab-title:hover {
  opacity: 1;
}

.selection-tab-title.selection-tab-title-selected {
  opacity: 1;
}

.selection-tab-title.selection-tab-title-selected:before {
  content: "";
  height: 2px;
  background-color: $primary-color;
  width: 30px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}

.selection-tab-title.selection-tab-title-selected:hover:before {
  background-color: $primary-color;
}

.bg-primary.lt {
  background-color: #666dad;
}

.no-borders {
  border-color: transparent;
  border-width: 0;
}

.horizontal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tracklist-play-pause {
  color: #fff;
  display: none;
}

.track-name-wrapper .tracklist-row__artist-name-link {
  color: #fff;
  opacity: .6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.track-name-wrapper .tracklist-row__artist-name-link:hover {
  opacity: 1;
}

.spot-btn {
  font-size: 11px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: .16em;
  -webkit-transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  transition: none 33ms cubic-bezier(.3, 0, .7, 1);
  -webkit-transition-property: all;
  transition-property: all;
  color: #fff;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spot-btn:not(.disabled):focus,
.spot-btn:not(.disabled):hover {
  -webkit-transition: none 33ms cubic-bezier(.3, 0, 0, 1);
  transition: none 33ms cubic-bezier(.3, 0, 0, 1);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.spot-btn:not(.disabled):active {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(.99);
  transform: scale(.99);
}

.track-name-wrapper .second-line-separator {
  color: #fff;
  opacity: .6;
  display: inline-block;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  font-size: .8em;
  padding: 0 8px;
}

.track-name-wrapper .tracklist-row__album-name-link,
.track-name-wrapper .tracklist-row__artist-name-link {
  color: #fff;
  opacity: .6;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.track-name-wrapper .tracklist-row__album-name-link:hover,
.track-name-wrapper .tracklist-row__artist-name-link:hover {
  opacity: 1;
}

.no-focus-outline a:focus,
.no-focus-outline a:hover {
  outline: none;
}

.jp-controls a {
  cursor: pointer;
  display: inline-block;
  padding: 10px 5px;
}

.jp-controls>div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 60px;
}

div.jp-progress {
  width: 100%;
  vertical-align: top;
  position: relative;
}

.jp-seek-bar {
  position: relative;
}

.footer-track-title {
  position: absolute;
  left: 25px;
  top: 0;
  right: 25px;
  display: block !important;
  line-height: 60px;
}

@media (max-width: 767px) {
  .image-col {
    max-height: 240px;
  }

  .image-col>.thumbnail {
    max-height: 170px;
  }

  .image-absolute {
    max-height: 170px;
    width: 100%;
  }

  .image-absolute>img {
    max-height: 160px;
    width: 100%;
    object-fit: cover;
  }

  .navbar-form .form-group {
    margin-bottom: 5px;
  }

  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .nav-off-screen .nav-primary {
    display: block !important;
  }

  .nav-off-screen .navbar-fixed-top-xs {
    width: 75%;
  }

  .nav-off-screen.push-right .navbar-fixed-top-xs {
    left: 25%;
  }

  .nav-off-screen.push-right {
    left: auto;
    right: 0;
  }

  .nav-off-screen.push-right+* {
    -webkit-transform: translate3d(-75%, 0px, 0px);
    transform: translate3d(-75%, 0px, 0px);
  }

  .nav-off-screen+* {
    background-color: #f2f4f8;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%, 0px, 0px);
    transform: translate3d(75%, 0px, 0px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .nav-off-screen+* .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
  }

  .navbar+section .nav-off-screen {
    top: 50px;
  }

  .navbar+section .nav-off-screen+* {
    top: 50px;
  }

  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }

  .vbox>header.header-md~section {
    top: 0px;
  }

  .navbar-fixed-top-xs {
    position: fixed !important;
    left: 0;
    width: 100%;
    z-index: 1100;
  }

  .navbar-fixed-top-xs+* {
    padding-top: 50px !important;
  }

  html,
  body {
    overflow-x: hidden;
    min-height: 100%;
  }

  .navbar-header {
    text-align: center;
  }

  .nav-user {
    margin: 0;
    padding: 15px;
  }

  .nav-user .dropdown-menu {
    display: block;
    position: static;
    float: none;
  }

  .nav-user .dropdown>a {
    display: block;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
  }

  .nav-user .avatar {
    width: 160px !important;
    float: none !important;
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
  }

  .nav-user .avatar:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 4px solid #fff;
    border-radius: 500px;
  }

  .app .vbox>footer {
    position: absolute;
    bottom: 0px;
  }

  .padder-lg {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .footer .jp-gui {
    margin: 0 -10px;
  }
}

@media (max-width: 768px) {
  .mo-info {
    white-space: normal;
  }
}

@media (max-width: 1200px) {
  .tab-nav-list {
    padding-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }

  .navbar-header {
    float: left;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .navbar-left {
    float: left !important;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .navbar-form .input-group>.form-control {
    width: 100%;
  }

  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .hbox>aside,
  .hbox>section {
    display: table-cell;
  }

  .aside {
    width: 200px;
  }

  .aside-xl {
    width: 360px;
  }

  .header-md {
    min-height: 60px;
  }

  .nav-xs {
    width: 70px;
  }

  .nav-xs .nav-primary li>a>i {
    margin: -10px -5px;
  }

  .nav-xs .nav-primary>ul>li>a {
    position: relative;
    padding: 0;
    font-size: 11px;
    text-align: center;
    height: 50px;
    overflow-y: hidden;
    border: none;
  }

  .nav-xs .nav-primary>ul>li>a span {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    width: 70px;
    padding: 0 5px;
  }

  .nav-xs .nav-primary>ul>li>a span.pull-right {
    display: none !important;
  }

  .nav-xs .nav-primary>ul>li>a i {
    width: auto;
    float: none;
    display: block;
    font-size: 16px;
    margin: 0;
    line-height: 50px;
    border: none !important;
    -webkit-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
  }

  .nav-xs .nav-primary>ul>li>a .badge {
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 3;
  }

  .nav-xs .nav-primary>ul>li:hover>a i,
  .nav-xs .nav-primary>ul>li:focus>a i,
  .nav-xs .nav-primary>ul>li:active>a i {
    margin-top: -50px;
  }

  .nav-xs .nav-primary>ul ul {
    left: 100%;
    top: 0;
    width: 220px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-xs .nav-primary li:hover>ul,
  .nav-xs .nav-primary li:focus>ul,
  .nav-xs .nav-primary li:active>ul {
    display: block !important;
  }

  .nav-xs>.vbox>.footer {
    padding: 0 20px;
  }

  .nav-xs .hidden-nav-xs {
    display: none;
  }

  .nav-xs .text-center-nav-xs {
    text-align: center;
  }

  .nav-xs .navbar-brand {
    display: block;
    padding: 0;
  }

  .nav-xs .navbar-brand img {
    margin-right: 0;
  }

  .header-md .navbar-brand {
    line-height: 60px;
  }

  .header-md .navbar-brand img {
    max-height: 30px;
  }

  .app .hbox.stretch {
    height: 100%;
  }

  .app .vbox>section {
    position: absolute;
  }

  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }

  .hbox>aside {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    float: none;
  }

  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .vbox>section {
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .vbox>header~section {
    top: 50px;
  }

  .mini-icon {
    line-height: 0.1em;
    font-size: 12px;
  }

  .aside-lg {
    width: 300px;
  }

  .scrollable {
    -webkit-overflow-scrolling: touch;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.25);
    border: 2px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.5);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.05);
  }

  .col-sm-3,
  .col-sm-4,
  .col-sm-6 {
    float: left;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .vbox>section.w-f-md {
    bottom: 60px;
  }

  .col-sm-4 {
    float: left;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-6 {
    float: left;
  }

  .grid--limit>div:nth-child(-n+3) {
    display: block;
  }

  .app .vbox>footer {
    position: absolute;
  }

  .vbox>footer {
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .vbox>footer {
    top: auto;
    z-index: 1000;
  }
}

@media (min-width: 768px)and(max-width) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    float: left;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    float: left;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .grid--limit>div:nth-child(-n+12) {
    display: block;
  }
}

@media (min-width: 992px) {

  .col-md-3,
  .col-md-5,
  .col-md-7 {
    float: left;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .grid--limit>div:nth-child(-n+8) {
    display: block;
  }

  .col-md-3 {
    float: left;
  }
}

@media (min-width: 1500px) {
  .grid--limit>div:nth-child(-n+12) {
    display: block;
  }

  .col-xl-2 {
    float: left;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }
}