@import "./variables";
@import "./framework";

#primary-content {
  height: calc(100vh - 60px);

  @media (max-width: 767px) {
    height: calc(100vh - 50px);
  }
}

google-cast-launcher {
  float: right;
  margin: 10px 6px 14px 0px;
  width: 25px;
  height: 25px;
  display: block;
  border: none;
  outline: none;
}

google-cast-launcher:hover {
  --disconnected-color: white;
  --connected-color: white;
}

#contextMenu {
  position: absolute;
  display: none;
  z-index: 1000;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.Label-label {
  display: inline-block;
  margin: 2px;
  border: 1px solid;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  line-height: 1;
  cursor: default;
}

.Label-default {
  border-color: $primary-color;
  background-color: $primary-color;
}

.Label-large {
  padding: 3px 7px;
  font-weight: 700;
  font-size: 14px;
}

.img-circle {
  border-radius: 50%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

.text-muted {
  color: #999;
}

.text-success {
  color: #3c763d;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media>.pull-left {
  margin-right: 10px;
}

.list-group {
  padding-left: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item {
  color: #555;
}

a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.list-group-item-track {
  line-height: 35px;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.visible-xs {
  display: none !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.list-group {
  border-radius: 2px;
}

.list-group-item {
  border-color: #eaeef1;
  padding-right: 15px;
}

a.list-group-item:hover,
a.list-group-item:focus {
  background-color: #eef3f4;
}

.list-group-item.media {
  margin-top: 0;
}

.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.bg-dark {
  background-image: linear-gradient($light-color, $dark-color);
  color: choose-contrast-color($dark-color);
}

.bg-dark-flat {
  background-color: $darker-color;
  color: choose-contrast-color($darker-color);
}

.bg-dark.dk,
.bg-dark .dk {
  background-color: $dark-color;
}

.bg-dark .dker {
  background-color: $darker-color;
}

.bg-dark .bg {
  background-color: $dark-color;
}

.bg-dark a {
  color: #e6eaed;
}

.bg-dark a:hover {
  color: #fff;
}

.bg-dark .text-muted {
  color: #acb7c1 !important;
}

.bg-dark .text-lt {
  color: #ffffff !important;
}

.bg-dark-flat .text-lt {
  color: #ffffff !important;
}

.bg-darker .text-lt {
  color: #ffffff !important;
}

.selectedMenuItem .text-lt {
  color: #ffffff !important;
}

.bg-primary {
  background-color: $primary-color;
  color: $main-link-focus-color;
}

.bg-info {
  background-image: linear-gradient($primary-color, $dark-color);
  color: #eaf6f9;
}

.bg-info .lter {
  background-color: $light-color;
}

.bg-info.dk,
.bg-info .dk {
  background-color: $dark-color;
}

.bg-info.dker,
.bg-info .dker {
  background-color: $darker-color;
}

.bg-info a {
  color: #ffffff;
}

.bg-info a:hover {
  color: #fff;
}

.bg-info .text-muted {
  color: #c3e6ed !important;
}

.bg-info .text-lt {
  color: #ffffff !important;
}

.bg-white {
  background-color: #fff;
  color: #788188;
}

.bg-white a {
  color: #545a5f;
}

.bg-white a:hover {
  color: #3c4144;
}

.bg-white .text-muted {
  color: #939aa0 !important;
}

.bg-white-only {
  background-color: #fff;
}

.no-border {
  border-color: transparent;
  border-width: 0;
}

.block {
  display: block;
}

.rounded {
  border-radius: 500px;
}

.font-bold {
  font-weight: 700;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.active>.text {
  display: none !important;
}

.wrapper-sm {
  padding: 10px;
}

.padder {
  padding-left: 15px;
  padding-right: 15px;
}

.no-padder {
  padding: 0 !important;
}

.b-light {
  border-color: #d9e4e6;
}

.avatar {
  position: relative;
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}

.avatar img {
  border-radius: 500px;
  width: 100%;
}

.avatar i {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
}

.thumb-sm {
  width: 40px;
  display: inline-block;
}

.thumb-sm img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.clear {
  display: block;
  overflow: hidden;
}

.pointer {
  cursor: pointer !important;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.list-group-item-now-playing {
  background-color: $now-playing-track !important;
  color: $now-playing-track-text !important;
}

.list-group.no-border .list-group-item {
  border-width: 1px 0;
}

.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.line {
  *width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
}

.font-thin {
  font-weight: 300;
}

.wrapper {
  padding: 15px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.b-r {
  border-right: 1px solid #eaeef1;
}

.b-l {
  border-left: 1px solid #eaeef1;
}

.thumb-lg {
  width: 128px;
  display: inline-block;
}

.thumb {
  width: 50px;
  display: inline-block;
}

.thumb img,
.thumb-sm img,
.thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.text-danger {
  color: #a94442;
}

.list-group.no-bg .list-group-item {
  background-color: transparent;
}

.bg-primary a {
  color: #fcfcfd;
}

.bg-primary a:hover {
  color: #fff;
}

.text-danger {
  color: #f05050;
}

.text-white {
  color: #fff;
}

.pos-rlt {
  position: relative;
}

.inline {
  display: inline-block !important;
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-active,
.active>.text {
  display: none !important;
}

.padder-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.icon-muted {
  color: #ccc;
}

.large-text {
  font-size: 120px;
  text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #d0d0d0, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cover-art {
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;
  background-color: #282828;

}

.cover-art.shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.cover-art .cover-art-image {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  transition-timing-function: cubic-bezier(.3, 0, .4, 1);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: 50%;
  opacity: 0;

}

.cover-art .cover-art-image-loaded {
  opacity: 1;
}

.cover-art .icon {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
}

.cover-art .icon svg {
  width: 100%;
  height: 100%;
}

.cover-art--with-auto-height {
  padding-top: 100%;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}

.contentSpacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.media-object {
  position: relative;
  padding-bottom: 2.5em;
}

.media-object a {
  border-bottom-width: 0;
}

.mo-info {
  margin: 12px 0 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: none;
}

.mo-meta {
  text-align: center;
}

.mo-meta {
  display: inline;
}

.mo-meta a {
  border-bottom-width: 1px;
}

.mo-meta a:link,
.mo-meta a:visited {
  color: #333;
  opacity: .6;
}

.mo-meta a:active,
.mo-meta a:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .image-col {
    max-height: 240px;
  }

  .image-col>.thumbnail {
    max-height: 170px;
  }

  .visible-xs {
    display: block !important;
  }

  .hidden-xs {
    display: none !important;
  }

  .padder-lg {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }

  .footer .footer-container {
    margin: 0 -10px;
  }
}

@media (max-width: 768px) {
  .mo-info {
    white-space: normal;
  }
}

@media (min-width: 768px)and(max-width) {
  .hidden-sm {
    display: none !important;
  }
}