include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
    include ./../../views/toolbarsection-right
      toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")

  
  include ./../../views/pagebody
    include ./../../views/pageheader
      .PageContent-backdrop
        .PageContent-backdrop-bg.art-backdrop(style="width:100%; height:100%; position:absolute;",ng-style="$root.getBackgroundStyle(artistImage)")
        .PageContent-backdropOverlay 
          .PageContent-headerContent

            .PageContent-HeaderDetails-info
              .PageContent-HeaderDetails-titleContainer
              div
                detaillabel(buttontext="Newest Albums", buttonicon="fa-hdd-o")
                detaillabel(buttontext="Newest Tracks", buttonicon="fa-external-link", buttonclick="showExternalLinks(artist.id)")
                popoverbutton(buttontext="Newest Artists", buttonicon="fa-tags", data="artistInfo.tags.tag")
                detaillabel(buttontext="Similar", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
              div
                detaillabel(buttontext="1D", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
                detaillabel(buttontext="1W", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
                detaillabel(buttontext="1M", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
                detaillabel(buttontext="1Y", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
                detaillabel(buttontext="All Time", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")

              .PageContent-HeaderDetails-overview 
                div(style='overflow: hidden;')
                  .nbs-flexisel-container
                    .nbs-flexisel-inner
                      ul#flexiselDemo1.nbs-flexisel-ul(style=' display: block;')
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Adele21
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Shomlock
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Stuck on a feeling
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Ricky Martine 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Ellie Goluding 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Fifty Shades 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Adele21 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Adele21
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Shomlock
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Stuck on a feeling
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Ricky Martine 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Ellie Goluding 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Fifty Shades 
                            
                              
                        li.nbs-flexisel-item(style='width: 362.8px;')
                          a(href='single.html')
                            img(src='https://via.placeholder.com/150', alt='')
                          .slide-title
                            h4 Adele21 
                            
                              
                      .nbs-flexisel-nav-left(style='top: 179.5px;')
                      .nbs-flexisel-nav-right(style='top: 179.5px;')  
                
     include ./../../views/pagecontent
      .ExpanderContainer
        button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleAlbums()')
          .ExpanderContainer-header
            .ExpanderContainer-left
              div
                span.ExpanderContainer-label New Releases
                span.ExpanderContainer-sublabel See All
            span(title='Hide albums')
              expandbutton(direction="up", ng-show="albums_expanded")
              expandbutton(direction="down", ng-show="!albums_expanded")
            span  
        div#albumListContainer
          .ExpanderContainer-body
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid.last-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .col-md-3.content-grid.last-grid
              a(href='single.html')
                img(src='https://via.placeholder.com/150', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 Pop
            .clearfix  
            .ExpanderContainer-collapseButtonContainer
              button.IconButton-button.Link-link.Link-link(title='Hide albums', type='button', ng-click='toggleAlbums()')
                expandbutton(ng-show="albums_expanded", mini)
                expandbutton(ng-show="!albums_expanded", mini)      
          