include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
    include ./../../views/toolbarsection-right
      toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")

  
  include ./../../views/pagebody
    include ./../../views/pageheader
      .PageContent-backdrop

        .PageContent-headerContent

          .PageContent-HeaderDetails-info
            .PageContent-HeaderDetails-titleContainer
            div
              detaillabel(buttontext="Random", buttonicon="fa-hdd-o")
              detaillabel(buttontext="Newest Albums", buttonicon="fa-hdd-o")
              detaillabel(buttontext="Newest Tracks", buttonicon="fa-external-link", buttonclick="showExternalLinks(artist.id)")
              popoverbutton(buttontext="Newest Artists", buttonicon="fa-tags", data="artistInfo.tags.tag")
              detaillabel(buttontext="Similar", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
            div
              detaillabel(buttontext="1D", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
              detaillabel(buttontext="1W", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
              detaillabel(buttontext="1M", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
              detaillabel(buttontext="1Y", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
              detaillabel(buttontext="All Time", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")

            .PageContent-HeaderDetails-overview 
              div#player(style='overflow: hidden;')
                
     include ./../../views/pagecontent
      .ExpanderContainer
        button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleAlbums()')
          .ExpanderContainer-header
            .ExpanderContainer-left
              div
                span.ExpanderContainer-label New Releases
                span.ExpanderContainer-sublabel See All
            span(title='Hide albums')
              expandbutton(direction="up", ng-show="albums_expanded")
              expandbutton(direction="down", ng-show="!albums_expanded")
            span  
        div#albumListContainer
          .ExpanderContainer-body
            .col-md-3.content-grid(ng-repeat="track in $root.random")
              a(href='/artist/{{track.base_id}}')
                img(ng-src='{{track.image}}', title='allbum-name')
              .inner-info
                a(href='single.html')
                  h5 {{track.genre}}
            
            .clearfix  
            .ExpanderContainer-collapseButtonContainer
              button.IconButton-button.Link-link.Link-link(title='Hide albums', type='button', ng-click='toggleAlbums()')
                expandbutton(ng-show="albums_expanded", mini)
                expandbutton(ng-show="!albums_expanded", mini)      
          