@import "../../styles/variables";

:export {
  mainBackgroundColor: $main-background-color;
}

$home-bg-color-base: rgb(66, 112, 108);
.home-body {
  float: left;
  width: 100%;
}

.bg-section-1 {
  background-color: mix($home-bg-color-base, white, 50%);
}

.bg-section-2 {
  background-color: mix($home-bg-color-base, gold, 50%);
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.content-grid img {
  width: 100%;
}

.content-grid {
  float: left;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
  margin-right: 0%;
  margin-bottom: 2%;
  position: relative;
  padding-left: 0;
}

.content-grid:hover .inner-info {
  display: block;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0px;
  background: #EA57A3;
  padding: 10px 10px;
  width: 227px;
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -o-border-radius: 0px 0px 4px 4px;
}

.inner-info {
  display: none;
}

.inner-info h5 {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.inner-info a {
  color: #fff;
}

.inner-info a:hover {
  text-decoration: none;
}

.content-grid.last-grid img {
  width: 100%;
}

span.new {
  display: inline-block;
  padding: 8px 13px;
  background: #EA57A3;
  font-size: 0.5em;
  color: #fff;
  -webkit-appearance: none;
  border: none;
  outline: none;
  vertical-align: top;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}

h3.title-text {
  float: left;
  font-size: 1.8em;
  font-weight: 700;
  color: #444;
}

h4.title-text {
  float: left;
  font-size: 1.2em;
  font-weight: 400;
  color: #EA57A3;
  margin-left: 70%;
}

h4.title-text.two {
  margin-left: 70%;
}

.nbs-flexisel-container {
  position: relative;
  min-width: 100%;
}

.nbs-flexisel-item a img {
  width: 100%;
}

.nbs-flexisel-item a {
  display: block;
}

.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  padding: 2em 0;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  width: 235px !important;
  margin: 0 10px;
  box-shadow: 0px 0px 12px -1px rgba(215, 215, 215, 0.44);
  -webkit-box-shadow: 0px 0px 12px -1px rgba(215, 215, 215, 0.44);
  -moz-box-shadow: 0px 0px 12px -1px rgba(215, 215, 215, 0.44);
  -o-box-shadow: 0px 0px 12px -1px rgba(215, 215, 215, 0.44);
  -ms-box-shadow: 0px 0px 12px -1px rgba(215, 215, 215, 0.44);
  border: 1px solid #ddd;
}

@media screen and (min-width:$break-xxxsmall) {
  h3.title-text {
    float: left;
    font-size: 1.3em;
  }
  h4.title-text {
    margin-left: 6%;
    font-size: 1em;
  }
  .button {
    margin: 10px 0 8px 0;
    font-size: 0.8em;
  }
  h4.title-text.two {
    margin-left: 22%;
  }
  .content-grid:hover .inner-info {
    padding: 0px 10px;
    width: 116px;
    font-size: 0.8em;
  }
  h3.hd-title-text {
    font-size: 1.15em;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width:$break-xxsmall) {
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 143px;
  }
  h4.title-text {
    margin-left: 11%;
    font-size: 1em;
  }
}

@media screen and (min-width:$break-xsmall) {
  span.new {
    display: inline-block;
    padding: 6px 10px;
    font-size: 0.5em;
  }
  h4.title-text {
    margin-left: 20%;
    font-size: 1em;
  }
  .button {
    margin: 10px 0 0 0;
    font-size: 0.85em;
  }
  h4.title-text {
    margin-left: 14%;
    font-size: 1em;
    margin-top: 2%;
  }
  h4.title-text.two {
    margin-left: 25%;
  }
  h3.hd-title-text {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 140px;
  }
  .nbs-flexisel-item {
    width: 156px !important;
    margin: 0px 6px !important;
  }
  .slide-title h4 {
    font-size: 1em;
  }
}

@media screen and (min-width:$break-small) {
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 143px;
  }
  h4.title-text {
    margin-left: 11%;
    font-size: 1em;
  }
}

@media screen and (min-width:$break-xxxmed) {
  h3.title-text {
    float: left;
    font-size: 1.3em;
  }
  h4.title-text {
    margin-left: 6%;
    font-size: 1em;
  }
  .button {
    margin: 10px 0 8px 0;
    font-size: 0.8em;
  }
  h4.title-text.two {
    margin-left: 22%;
  }
  .content-grid:hover .inner-info {
    padding: 0px 10px;
    width: 116px;
    font-size: 0.8em;
  }
  h3.hd-title-text {
    font-size: 1.15em;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width:$break-xxmed) {
  .content-grid {
    width: 17%;
    margin-right: 0%;
  }
  h4.title-text {
    margin-left: 41%;
  }
}

@media screen and (min-width:$break-xmed) {
  h4.title-text {
    margin-left: 45%;
  }
  h4.title-text.two {
    margin-left: 54%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 154px;
  }
}

@media screen and (min-width:$break-med) {
  .content-grid {
    width: 18%;
    margin-right: 0%;
  }
  h3.title-text {
    float: left;
    font-size: 1.6em;
  }
  h4.title-text.two {
    margin-left: 53%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 163px;
  }
}

@media screen and (min-width:$break-large) {
  .home-body {
    float: left;
    width: 100%;
  }
  .content-grid {
    width: 19%;
    margin-right: 0%;
  }
  .col-md-3 {
    float: left;
  }
  .col-md-3 {
    width: 25%;
  }
  .content-grid.last-grid {
    margin-right: 0%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 148px;
  }
  h4.title-text.two {
    margin-left: 56%;
  }
  .button {
    margin: 10px 0 0 0;
    font-size: 0.9em;
  }
}

@media screen and (min-width:$break-xlarge) {
  .content-grid {
    width: 20%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 144px;
  }
}

@media screen and (min-width:$break-xxlarge) {
  .content-grid {
    width: 21%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 144px;
  }
}

@media screen and (min-width:$break-xxxlarge) {
  .home-body {
    float: left;
    width: 100%;
  }
  .content-grid {
    width: 22%;
  }
  h4.title-text {
    margin-left: 48%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 140px;
  }
  h4.title-text.two {
    margin-left: 56%;
  }
}

@media screen and (min-width:$break-huge) {
  .content-grid {
    width: 23%;
  }
  h4.title-text {
    margin-left: 48%;
  }
  h4.title-text.two {
    margin-left: 57%;
  }
  .button {
    margin: 10px 0 0 0;
    font-size: 0.85em;
  }
  h3.hd-title-text {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 133px;
  }
}

@media screen and (min-width:$break-xhuge) {
  .content-grid {
    width: 24%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 162px;
  }
  .button {
    margin: 10px 0 0 0;
    font-size: 0.9em;
  }
  h3.hd-title-text {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }
}

@media screen and (min-width:$break-xxhuge) {
  .content-grid {
    width: 23.5%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 176px;
  }
  a.text {
    float: right;
    width: 77%;
    font-size: 0.9em;
    line-height: 1.8em;
  }
  h4.title-text {
    margin-left: 63%;
  }
  h4.title-text.two {
    margin-left: 69%;
  }
}

@media screen and (min-width:$break-xxxhuge) {
  .content-grid {
    width: 24%;
  }
  .content-grid:hover .inner-info {
    padding: 3px 10px;
    width: 190px;
  }
  .inner-info h5 {
    font-size: 0.9em;
    margin: 0;
  }
  h3.hd-title-text {
    font-size: 1.6em;
    margin-bottom: 0.5em;
  }
  h4.title-text {
    margin-left: 64%;
  }
  h4.title-text.two {
    margin-left: 70%;
  }
}

@media screen and (min-width:$break-maximum) {
  .content-grid {
    width: 25%;
  }
  .content-grid:hover .inner-info {
    padding: 10px 10px;
    width: 227px;
  }
  h4.title-text {
    margin-left: 68%;
  }
  h4.title-text.two {
    margin-left: 74%;
  }
}

#player{
  background-color: $main-background-color;
}
.coverflow {
  z-index: 10;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.coverflow .coverflow-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-rect {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-cell {
  pointer-events: none;
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coverflow .coverflow-hit {
  position: absolute;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coverflow .coverflow-cell canvas {
  pointer-events: none;
  outline: 1px solid transparent;
  position: absolute;
}

.coverflow-text {
  position: absolute;
  width: 100%;
}

.coverflow-text h1,
.coverflow-text h2 {
  margin: 0;
}

/*# sourceMappingURL=coverflow.css.map */