#page-wrapper
  .inner-content
    // -728x90-
    .music-left
      // banner-section
      .albums
        .tittle-head
          h3.tittle
            | New Releases 
            span.new New
          a(href='/fresh')
            h4.tittle See all
          .clearfix  
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        #small-dialog.mfp-hide
          iframe(src='https://player.vimeo.com/video/12985622')
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid.last-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .col-md-3.content-grid.last-grid
          a.play-icon.popup-with-zoom-anim(href='#small-dialog')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          a.button.play-icon.popup-with-zoom-anim(href='#small-dialog') Listen now
        .clearfix  
      // //End-albums
      // //discover-view
      // -728x90-
      .albums.second
        .tittle-head
          h3.tittle
            | Discover 
            span.new View
          a(href='index.html')
            h4.tittle.two See all
          .clearfix  
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid.last-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .col-md-3.content-grid.last-grid
          a(href='single.html')
            img(src='https://via.placeholder.com/150', title='allbum-name')
          .inner-info
            a(href='single.html')
              h5 Pop
        .clearfix  
      .review-slider
        .tittle-head
          h3.tittle
            | Featured Albums 
            span.new  New
          .clearfix  
        .nbs-flexisel-container
          .nbs-flexisel-inner
            ul#flexiselDemo1.nbs-flexisel-ul(style='left: -360.8px; display: block;')
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Adele21
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Shomlock
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Stuck on a feeling
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Ricky Martine 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Ellie Goluding 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Fifty Shades 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Adele21 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Adele21
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Shomlock
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Stuck on a feeling
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Ricky Martine 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Ellie Goluding 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Fifty Shades 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
              li.nbs-flexisel-item(style='width: 362.8px;')
                a(href='single.html')
                  img(src='https://via.placeholder.com/150', alt='')
                .slide-title
                  h4 Adele21 
                .date-city
                  h5 Jan-02-16
                  .buy-tickets
                    a(href='single.html') READ MORE
            .nbs-flexisel-nav-left(style='top: 179.5px;')
            .nbs-flexisel-nav-right(style='top: 179.5px;')  