section.scrollable.padder-lg.w-f-mdsection.scrollable.padder-lg.w-f-md.dk(style="padding:0px;")
  section.content.artist
    header.genre-header(style='background-image: url({{$root.genre.image}});')
      h1.monthly-listeners.large(dir='auto') {{$root.genre.genre.name}}
      .genre-header-buttons
        button.spotify-btn.btn-black.btn--narrow(ng-click="shuffle()") PLAY
      .genre-header-buttons
        starratinglabel(genre="genre")
      .genre-header-buttons
        button.spotify-btn.btn-black.btn--narrow(ng-click="starGenre()", title='Save to Your Library') {{$root.genre.genre.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}

      nav.tab-nav-list
        ul.selection-tabs
          li.selection-tab.active
            div
              a.selection-tab-title.selection-tab-title-selected(data-target='#popular', data-toggle='tab') Popular
          li.selection-tab
            div
              a.selection-tab-title(data-target='#artists', data-toggle='tab') Artists
          li.selection-tab
            div
              a.selection-tab-title(data-target='#albums', data-toggle='tab') Albums
          li.selection-tab
            div
              a.selection-tab-title(data-target='#neverPlayed', data-toggle='tab') Never Played
          li.selection-tab
            div
              a.selection-tab-title(data-target='#all', data-toggle='tab') All Tracks
    section.scrollable
      .tab-content
        #popular.tab-pane.active
          section.genre-music.container-fluid(ng-if="$root.genre.popular_tracks.length > 0")
            .row
              .contentSpacing
                section.artist-toptracks
                  tracklist(title="Popular", data="$root.genre.popular_tracks", canaddplaylist="true")
         
        #artists.tab-pane
          section.artist-music.container-fluid(ng-if="$root.genre.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  thumblist(type="artists", title="Artists", data="$root.genre.artists", limit="$root.genre.artists.length", refreshclick="refresh()", viewmorelink="")     
        #albums.tab-pane
          section.artist-music.container-fluid(ng-if="$root.genre.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  itemtable(type="albums", title="Albums", data="$root.genre.albums", limit="$root.genre.albums.length", refreshclick="refresh()", viewmorelink="", showimages="true")
        #neverPlayed.tab-pane
          section.artist-music.container-fluid(ng-if="$root.genre.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  itemtable(type="tracks", title="Never Played", data="$root.genre.never_played", limit="$root.genre.never_played.length", refreshclick="refresh()", viewmorelink="", showimages="true")

        #all.tab-pane
          section.genre-music.container-fluid(ng-if="$root.genre.tracks.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  section.tracklist-container.full-width
                    itemtable(type="tracks", title="All Tracks", data="$root.genre.tracks", limit="$root.genre.tracks.length", refreshclick="refresh()", viewmorelink="", showimages="true")