section.scrollable.no-padder.w-f-md.scrollsaver(ng-if="$root.genre", style="padding:0px;")
  section.content
    .container-fluid
      div.padder.m-t-sm
        .col-xs-12.col-lg-3.col-xl-4
          div
            header.general-container-header
              div
                div(draggable='true')
                  .media-object
                    div
                      .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true' style='width: auto; height: auto;')
                        div
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{$root.genre.image}}");')
                      .mo-info
                        .mo-info-name(title='{{$root.genre.genre.name}}')
                          span(dir='auto') {{$root.genre.genre.name}}
              
              
              .general-container-header__body
                .general-container-header__entity-name
                  h2
                    span(dir='auto') {{$root.genre.genre.name}}

                p.general-container-header__text-silence.general-container-header__entity-additional-info {{$root.genre.total_tracks}} {{$root.genre.total_tracks > 1 ? "Tracks" : "Track"}} - {{$root.genre.size}}
                .general-container-header__children
                  .general-container-header__button.general-container-header__button--bottom
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY
              .general-container-header__button.general-container-header__button--top
                button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="shuffle()", ng-disabled="isDisabled()") PLAY  
              .general-container-header__button.general-container-header__button--top
                button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="starArtist()", ng-disabled="isDisabled()", title='Save to Your Library') {{$root.genre.genre.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}
              .general-container-header__button.general-container-header__button--top
                starratinglabel(ng-disabled="isDisabled()", album="$root.genre.genre", extrastyles="btn-block")
        .col-xs-12.col-lg-8.col-xl-12
          .row
          
            span.text-muted(ng-if="$root.genre.genre.biography")
            p(ng-bind-html="$root.genre.genre.biography")  
          .row
            a.btn.btn-rounded.btn-twitter.btn-icon(ng-repeat="link in $root.artist.links", href='{{link.target}}', target="_blank")
              i.alloy-icon.icon(ng-class="$root.getLinkIcon(link)")
        .col-xs-12.col-lg-8.col-xl-12
          .row 
            .col-md-7(ng-if="$root.genre.artists.length > 0")
              thumblist(type="artists", title="Artists", data="$root.genre.artists", limit="36", refreshclick="refresh()", origin="genre", viewmorelink="/genres")
            .col-md-5(ng-if="$root.genre.popular_tracks.length > 0")
              itemlist(type="tracks", title="Popular", data="$root.genre.popular_tracks", limit="9", refreshclick="refresh()", viewmorelink="/", showviewmore="true", showindex="true")
          .row
            .col-md-7(ng-if="$root.genre.albums.length > 0")
              thumblist(type="albums", title="Albums", data="$root.genre.albums", limit="36", refreshclick="refresh()", viewmorelink="/")
            .col-md-5(ng-if="$root.genre.never_played.length > 0")
              itemlist(type="tracks", title="Never Played", data="$root.genre.never_played", limit="9", refreshclick="refresh()", viewmorelink="/", showindex="true")  
          .row
            .col-md-12(ng-if="$root.genre.tracks.length > 0")
              itemtable(type="tracks", title="Tracks", data="$root.genre.tracks", limit="$root.genre.tracks.length", refreshclick="refresh()", viewmorelink="/", showartist="true")
      
