
fieldset.FieldSet-fieldSet
  legend.FieldSet-legend Config
  div
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
             a.Settings-link.Link-link.Link-link(href='/config/alloydb') Alloy DB
        
        div
          .FormInputHelpText-helpText AlloyDB settings
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
            a.Settings-link.Link-link.Link-link(href='/config/mediapaths') Media Paths
        
        div
          .FormInputHelpText-helpText Paths to use
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer
             a.Settings-link.Link-link.Link-link(href='/config/sabnzbd') SABnzbd
        
        div
          .FormInputHelpText-helpText Connection to SABnzbd
    
    div
    .FormGroup-group.FormGroup-large
      .FormInputGroup-inputGroupContainer
        .FormInputGroup-inputGroup
          .FormInputGroup-inputContainer

            a.Settings-link.Link-link.Link-link(href='/config/scheduler') Scheduler
        

        
        div
          .FormInputHelpText-helpText Scheduled Tasks
    