section.scrollable.padder-lg.w-f-mdsection.scrollable.padder-lg.w-f-md.dk(style="padding:0px;")
  section.content.artist
    header.genre-header(style='background-image: url({{info.image}});')
      h1.monthly-listeners.large(dir='auto') {{info.genre.name}}
      .genre-header-buttons
        button.spotify-btn.btn-black.btn--narrow(ng-click="shuffle()") PLAY
      .genre-header-buttons
        starratinglabel(genre="genre")
      .genre-header-buttons
        button.spotify-btn.btn-black.btn--narrow(title='Save to Your Library', ng-click="starGenre()") {{info.genre.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}

      nav.tab-nav-list
        ul.selection-tabs
          li.selection-tab.active
            div
              a.selection-tab-title.selection-tab-title-selected(data-target='#popular', data-toggle='tab') Popular
          li.selection-tab
            div
              a.selection-tab-title(data-target='#artists', data-toggle='tab') Artists
          li.selection-tab
            div
              a.selection-tab-title(data-target='#albums', data-toggle='tab') Albums
          li.selection-tab
            div
              a.selection-tab-title(data-target='#neverPlayed', data-toggle='tab') Never Played
          li.selection-tab
            div
              a.selection-tab-title(data-target='#all', data-toggle='tab') All Tracks
    section.scrollable
      .tab-content
        #popular.tab-pane.active
          section.genre-music.container-fluid(ng-if="info.popular_tracks.length > 0")
            .row
              .contentSpacing
                section.artist-toptracks
                  tracklist(data="info.popular_tracks", canaddplaylist="true", title="Popular")
         
        #artists.tab-pane
          section.artist-music.container-fluid(ng-if="info.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  thumblist(data="info.artists", title="Artists", limit="info.artists.length", type="artists", refreshclick="refresh()", viewmorelink="")     
        #albums.tab-pane
          section.artist-music.container-fluid(ng-if="info.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  itemtable(data="info.albums", title="Albums", limit="info.albums.length", type="albums", refreshclick="refresh()", viewmorelink="")
        #neverPlayed.tab-pane
          section.artist-music.container-fluid(ng-if="info.artists.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  itemtable(data="info.never_played", title="Never Played", limit="info.never_played.length", type="tracks", refreshclick="refresh()", viewmorelink="")

        #all.tab-pane
          section.genre-music.container-fluid(ng-if="info.tracks.length > 0")
            .row
              .contentSpacing
                section.genre-toptracks
                  section.tracklist-container.full-width
                    itemtable(data="info.tracks", title="All Tracks", limit="info.tracks.length", type="tracks", refreshclick="refresh()", viewmorelink="")