section.vbox
  .navbar-header.aside(ng-class="$root.isMenuItemSelected('', true)")
    a.btn.text-lt.visible-xs#sidenavButton(data-target='#nav,html', data-toggle='class:nav-off-screen,open', ng-if="$root.globals.currentUser")
      i.alloy-icon.icon-menu.icon
    a.navbar-brand.text-lt(href='/')
      i.alloy-icon.icon-headphones
      span.hidden-nav-xs.m-l-sm Alloy 
    a.btn.text-lt.visible-xs(ng-if="$root.globals.currentUser", href='/playing')
      i.alloy-icon.icon-controls

  form.navbar-form.navbar-left.hidden-xs(ng-if="$root.globals.currentUser", role='search')
    #mainNavGroup.form-group
      .input-group
        span.input-group-btn
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(data-target='#nav,.navbar-header', data-toggle='class:nav-xs,nav-xs')
            i.alloy-icon.icon-menu
   
        span.input-group-btn(ng-if="$root.globals.currentUser")
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="$root.goBack()")
            i.alloy-icon.icon-back-arrow
   
        span.input-group-btn(ng-if="$root.globals.currentUser")
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="$root.goForward()")
            i.alloy-icon.icon-forward-arrow
    
        span.input-group-btn(ng-if="$root.globals.currentUser")
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="refreshCurrentView()")
            i.alloy-icon.icon-refresh
    
        .nav-divider(ng-if="$root.globals.currentUser", ng-show="$root.showSaveButton")

        span.input-group-btn(ng-if="$root.globals.currentUser", ng-show="$root.showSaveButton")
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="$root.saveSettings()")
            i.alloy-icon.icon-save
 
  form.navbar-form.navbar-right.hidden-xs(ng-if="$root.globals.currentUser", role='search')
    #mainNavGroup.form-group
      .input-group 
        searchbar
        span.input-group-btn
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="logout()", ng-if="$root.globals.currentUser.username !== 'localhost_user'")
            i.alloy-icon.icon-logout
          button.btn.btn-sm.btn-icon.rounded.mainNavButton(ng-click="logout()", ng-if="!$root.globals.currentUser.username || $root.globals.currentUser.username === 'localhost_user'")
            i.alloy-icon.icon-login
   