@font-face {
    font-family: "alloyicons";
    src: url("./alloyicons.eot?6e643398930c75b03135dd2f4cd353e4?#iefix") format("embedded-opentype"),
url("./alloyicons.woff2?6e643398930c75b03135dd2f4cd353e4") format("woff2"),
url("./alloyicons.woff?6e643398930c75b03135dd2f4cd353e4") format("woff"),
url("./alloyicons.ttf?6e643398930c75b03135dd2f4cd353e4") format("truetype"),
url("./alloyicons.svg?6e643398930c75b03135dd2f4cd353e4#alloyicons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: alloyicons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-albums:before {
    content: "\f101";
}
.icon-allmusic:before {
    content: "\f102";
}
.icon-alloydb:before {
    content: "\f103";
}
.icon-artists:before {
    content: "\f104";
}
.icon-ban:before {
    content: "\f105";
}
.icon-bandcamp:before {
    content: "\f106";
}
.icon-bbc:before {
    content: "\f107";
}
.icon-beatport:before {
    content: "\f108";
}
.icon-charts:before {
    content: "\f109";
}
.icon-chevron-down:before {
    content: "\f10a";
}
.icon-chevron-left:before {
    content: "\f10b";
}
.icon-chevron-right:before {
    content: "\f10c";
}
.icon-chevron-up:before {
    content: "\f10d";
}
.icon-cloud-download:before {
    content: "\f10e";
}
.icon-controls:before {
    content: "\f10f";
}
.icon-database:before {
    content: "\f110";
}
.icon-discogs:before {
    content: "\f111";
}
.icon-download:before {
    content: "\f112";
}
.icon-elipsis:before {
    content: "\f113";
}
.icon-external-link:before {
    content: "\f114";
}
.icon-facebook:before {
    content: "\f115";
}
.icon-fast-forward:before {
    content: "\f116";
}
.icon-folder:before {
    content: "\f117";
}
.icon-fresh:before {
    content: "\f118";
}
.icon-genres:before {
    content: "\f119";
}
.icon-headphones:before {
    content: "\f11a";
}
.icon-history:before {
    content: "\f11b";
}
.icon-last:before {
    content: "\f11c";
}
.icon-loop:before {
    content: "\f11d";
}
.icon-menu:before {
    content: "\f11e";
}
.icon-minus:before {
    content: "\f11f";
}
.icon-musical-note:before {
    content: "\f120";
}
.icon-myspace:before {
    content: "\f121";
}
.icon-pause:before {
    content: "\f122";
}
.icon-play:before {
    content: "\f123";
}
.icon-playlist:before {
    content: "\f124";
}
.icon-plus:before {
    content: "\f125";
}
.icon-queue:before {
    content: "\f126";
}
.icon-refresh:before {
    content: "\f127";
}
.icon-repeat:before {
    content: "\f128";
}
.icon-rewind:before {
    content: "\f129";
}
.icon-sabnzbd:before {
    content: "\f12a";
}
.icon-scheduler:before {
    content: "\f12b";
}
.icon-search:before {
    content: "\f12c";
}
.icon-settings:before {
    content: "\f12d";
}
.icon-shuffle:before {
    content: "\f12e";
}
.icon-soundcloud:before {
    content: "\f12f";
}
.icon-star-o:before {
    content: "\f130";
}
.icon-star:before {
    content: "\f131";
}
.icon-starred:before {
    content: "\f132";
}
.icon-status:before {
    content: "\f133";
}
.icon-stop:before {
    content: "\f134";
}
.icon-twitter:before {
    content: "\f135";
}
.icon-volume-off:before {
    content: "\f136";
}
.icon-volume-on:before {
    content: "\f137";
}
.icon-wikidata:before {
    content: "\f138";
}
.icon-wikipedia:before {
    content: "\f139";
}
.icon-youtube:before {
    content: "\f13a";
}
