@import "../../styles/variables";

#player{
  width:100%;
}

.coverflow {
  z-index: 10;
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-touch-callout: none;
}

.coverflow .coverflow-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-rect {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-cell {
  pointer-events: none;
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -ms-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coverflow .coverflow-hit {
  position: absolute;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coverflow .coverflow-cell canvas {
  pointer-events: none;
  outline: 1px solid transparent;
  position: absolute;
}

.coverflow-text {
  position: absolute;
  width: 100%;
  padding-top: 60px;
  color: $main-text-color;
  font-weight: bolder;
  font-family: $sub-font;
  font-size: $sub-font-size;
}

.coverflow-text h1,
.coverflow-text h2 {
  margin: 0;
}




@media screen and (max-width:$break-xxxsmall) {}

@media screen and (max-width:$break-xxsmall) {}

@media screen and (max-width:$break-xsmall) {}

@media screen and (max-width:$break-small) {}

@media screen and (max-width:$break-xxxmed) {}

@media screen and (max-width:$break-xxmed) {}

@media screen and (max-width:$break-xmed) {}

@media screen and (max-width:$break-med) {}

@media screen and (max-width:$break-large) {}

@media screen and (max-width:$break-xlarge) {}

@media screen and (max-width:$break-xxlarge) {}

@media screen and (max-width:$break-xxxlarge) {}

@media screen and (max-width:$break-huge) {}

@media screen and (max-width:$break-xhuge) {}

@media screen and (max-width:$break-xxhuge) {}

@media screen and (max-width:$break-xxxhuge) {}

@media screen and (max-width:$break-maximum) {}