include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    .PageToolbarSection-section.PageToolbarSection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Shuffle', buttonclick='shuffle()', buttonicon='fa-random')
      toolbarbutton(buttontext='Radio', buttonclick='startRadio()', buttonicon='fa-rss')
      toolbarbutton(buttontext='Share', buttonclick='shareAlbum()', buttonicon='fa-bullhorn')
      toolbarbutton(buttontext='Continous', buttonclick='toggleContinousPlay()', buttonicon="fa-check-square-o", ng-show="continousPlay")
      toolbarbutton(buttontext='Continous', buttonclick='toggleContinousPlay()', buttonicon="fa-square-o", ng-show="!continousPlay")

    .PageToolbarSection-sectionContainer(style='flex-grow: 1;')
      .PageToolbarSection-section.PageToolbarSection-right
        toolbarbutton(buttontext='Now Playing', buttonclick='findNowPlaying()', buttonicon='fa-dot-circle-o')
        toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")

  include ./../../views/pagebody
    include ./../../views/pageheaderdynamic
      div#player(style='overflow: hidden;')
    include ./../../views/pagecontent
      tracklist(data="tracks", showartist='true', showalbum='true')