section.scrollable.padder-lg.w-f-md.animated.fadeInRight.scrollsaver
  a.pull-right.text-muted.m-t-lg(href='#', data-toggle='class:fa-spin')
    i#refresh.icon-refresh.i-lg.inline
  h2.font-thin.m-b
    | History 
    span.musicbar.inline.m-l-sm(style='width:20px;height:20px')
      span.bar1.a1.bg-primary.lter
      span.bar2.a2.bg-info.lt
      span.bar3.a3.bg-success
      span.bar4.a4.bg-warning.dk
      span.bar5.a5.bg-danger.dker

  .row
    .col-md-12
      h3.font-thin
      .row.row-sm
        .table-responsive
          .dataTables_wrapper(role='grid')
            table.table.table-striped.m-b-none
              thead
                tr(role='row')
                  th(style='width: 220px;', rowspan='1', colspan='1') Title
                  th(style='width: 1px;', rowspan='1', colspan='1') Artist
                  th(style='width: 1px;', rowspan='1', colspan='1') Album
                  th(style='width: 1px;', rowspan='1', colspan='1') Genre
                  th(style='width: 1px;', rowspan='1', colspan='1') Date
              tbody(ng-repeat="item in $root.history.history")
                tr(ng-class-odd="'odd'" ng-class-even="'even'")
                  td 
                    a(href="/album/{{item.album_id}}") {{item.title}}
                  td 
                    a(href="/artist/{{item.artist_id}}") {{item.artist}}
                  td 
                    a(href="/album/{{item.album_id}}") {{item.album}}
                  td
                    a(href="/genre/{{item.genre_id}}") {{item.genre}}
                  td {{$root.formatUnixTime(item.time)}}