include ./../../../views/pagecontent
  a.Settings-link.Link-link.Link-link(href='/config/alloydb') Alloy DB
  .Settings-summary Alloy Database settings and configuration
  a.Settings-link.Link-link.Link-link(href='/config/mediapaths') Media Paths
  .Settings-summary Media path configuration
  a.Settings-link.Link-link.Link-link(href='/config/sabnzbd') Download Clients
  .Settings-summary Download clients, download handling and remote path mappings
  a.Settings-link.Link-link.Link-link(href='/config/scheduler') Scheduler
  .Settings-summary Manage various database scheduled tasks 

