include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    .PageToolbarSection-section.PageToolbarSection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      .PageToolbarSeparator-separator
      toolbarbutton(buttontext='General', buttonclick='jumpTo("general")', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Scheduler', buttonclick='jumpTo("scheduler")', buttonicon='fa-calendar')
      toolbarbutton(buttontext='SabNZBd', buttonclick='jumpTo("sabnzbd")', buttonicon='fa-random')
      toolbarbutton(buttontext='AlloyDB', buttonclick='jumpTo("alloydb")', buttonicon='fa-adn')
      
   

  .configBodyWrapper.d-flex.flex-column
    .row.align-items-center.h-100
      .col-6.mx-auto.config-background
        | Configuration


