include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    .PageToolbarSection-section.PageToolbarSection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarseperator
      toolbarbutton(buttontext='General', buttonclick='jumpTo("general")', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Scheduler', buttonclick='jumpTo("scheduler")', buttonicon='fa-calendar')
      toolbarbutton(buttontext='SabNZBd', buttonclick='jumpTo("sabnzbd")', buttonicon='fa-random')
      toolbarbutton(buttontext='AlloyDB', buttonclick='jumpTo("alloydb")', buttonicon='fa-adn')

    .PageToolbarSection-sectionContainer(style='flex-grow: 1;')
      .PageToolbarSection-section.PageToolbarSection-right
        toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")
        toolbarbutton(buttontext='Show All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-down', ng-show="!all_expanded")
        toolbarbutton(buttontext='Hide All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-up', ng-show="all_expanded")

  div(style='position: relative; overflow: hidden; width: 100%; height: 100%;')
    .PageContentBody-contentBody(style='position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -15px; margin-bottom: -15px;')