include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarseperator
      toolbarbutton(buttontext='Advanced', buttonclick='jumpTo("general")', buttonicon='fa-cog')
      toolbarbutton(buttontext='Save', buttonclick='$root.saveSettings()', buttonicon='fa-save', buttonid='saveSettingsButton', buttonrel='save-settings-popover')
  
  include ./../../views/pagebody