include ./../../views/pagecontainer
  include ./../../views/pagetoolbar
    include ./../../views/toolbarsection-left
      toolbarbutton(buttontext='Back', buttonclick='$root.goBack()', buttonicon='fa-arrow-circle-left')
      toolbarseperator
      toolbarbutton(buttontext='Refresh', buttonclick='refresh()', buttonicon='fa-refresh')
      toolbarbutton(buttontext='Shuffle', buttonclick='shuffle()', buttonicon='fa-random')
      toolbarbutton(buttontext='Radio', buttonclick='startRadio()', buttonicon='fa-rss')
      toolbarbutton(buttontext='Share', buttonclick='shareAlbum()', buttonicon='fa-bullhorn')
    include ./../../views/toolbarsection-right
      toolbarbutton(buttontext='Star', buttonclick='starArtist()', buttonicon="{{artist.starred == 'true' ? 'fa-star' : 'fa-star-o'}}")
      toolbarbutton(buttontext='Show All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-down', ng-show="!all_expanded")
      toolbarbutton(buttontext='Hide All', buttonclick='toggleAll()', buttonicon='fa-chevron-circle-up', ng-show="all_expanded")
  
  include ./../../views/pagebody                

    include ./../../views/pageheadersmall
      .PageContent-backdrop
        .PageContent-backdrop-bg.art-backdrop(style="width:100%; height:100%; position:absolute;",ng-style="$root.getBackgroundStyle(genreImage)")
        .PageContent-backdropOverlay 
          .PageContent-headerContent

            .PageContent-HeaderDetails-info(style='overflow: auto;')
              .PageContent-HeaderDetails-titleContainer


              .PageContent-HeaderDetails-overview 
                .PageContent-HeaderDetails-title {{genre.name}}
                .PageContent-HeaderDetails-navigation-buttons
                  navbutton(buttontext="Go to {{artist.previous_artist.base_path}}", href='/artist/{{artist.previous_artist.base_id}}', ng-show="artist.previous_artist.base_path", direction="left")
                  navbutton(buttontext="Go to {{artist.next_artist.base_path}}", href='/artist/{{artist.next_artist.base_id}}', ng-show="artist.next_artist.base_path", direction="right")
                div
                  detaillabel(buttontext="{{genre.size}}", buttonicon="fa-hdd-o")
                div
                  detaillabel(buttontext="Links", buttonicon="fa-external-link", buttonclick="showExternalLinks(artist.id)")
                  popoverbutton(buttontext="Tags", buttonicon="fa-tags", data="artistInfo.tags.tag")
                  detaillabel(buttontext="Similar", buttonicon="fa-clone", buttonclick="showExternalLinks(artist.id)")
                div(style='overflow: hidden;')
                  span
                  | {{genreInfo.wiki.summary}}



    include ./../../views/pagecontent
      .ExpanderContainer
        button.ExpanderContainer-expandButton.Link-link.Link-link(type='button', ng-click='toggleTracks()')
          .ExpanderContainer-header
            .ExpanderContainer-left
              div
                span.ExpanderContainer-label All Tracks
                span.ExpanderContainer-sublabel {{genre.tracks.length}} {{genre.tracks.length > 1 ? 'Tracks' : 'Track'}}
            span(title='Hide albums')
              expandbutton(direction="up", ng-show="tracks_expanded")
              expandbutton(direction="down", ng-show="!tracks_expanded")
            
            span  
        div#trackListContainer
          .ExpanderContainer-body
            tracklist(data="genre.tracks", showartist='true', showalbum='true', showgenre='true')
            .ExpanderContainer-collapseButtonContainer
              button.IconButton-button.Link-link.Link-link(title='Hide albums', type='button', ng-click='toggleTracks()')
                expandbutton(ng-show="albums_expanded", mini)
                expandbutton(ng-show="!albums_expanded", mini)