section.scrollable.padder-lg.w-f-mdsection.scrollable.padder-lg.w-f-md.bg-dark.dk(style="padding:0px;")
  section.content.artist
    header.artist-header(style='background-image: url({{info.artist.image}});')
      span.monthly-listeners(ng-if="info.total_plays") {{info.total_plays}} {{info.total_plays > 1 ? "Plays" : "Play"}} 
      h1.large(dir='auto') {{info.artist.name}}
      .header-buttons
        button.spotify-btn.btn-green(ng-click="shuffle()") PLAY
        div
        starratinglabel(artist="artist")
        div
        button.spotify-btn.btn-black.btn--narrow(title='Save to Your Library', ng-click="starArtist()") {{info.artist.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}
        div
        .react-contextmenu-wrapper
          button.spotify-btn.btn-transparent.btn--narrow(title='More')
            .spoticon-ellipsis-24.alloy-icon.icon-elipsis.icon
      nav._11pfm-p6kRU6CrLDyLhi3a
        ul._3v-H5s52KoSlx1rvzcnTvM
          li.hG7sFJywaubVYCHAcZGVM.active
            div
              a.EYVkZXmTImKH4iH48N7Uj._1-aXXBO8bQU1WTFY-7B0m-(data-target='#overview', data-toggle='tab') Overview
          li.hG7sFJywaubVYCHAcZGVM
            div
              a.EYVkZXmTImKH4iH48N7Uj(data-target='#related', data-toggle='tab') Related Artists
          li.hG7sFJywaubVYCHAcZGVM
            div
              a.EYVkZXmTImKH4iH48N7Uj(data-target='#about', data-toggle='tab') About
    section.scrollable
      .tab-content
        #overview.tab-pane.active
          section.artist-music.container-fluid(ng-if="info.popular_tracks.length > 0")
            .row
              .contentSpacing
                section.artist-toptracks
                  h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') Popular
                  section.tracklist-container.full-width
                    ol.tracklist(ng-repeat="track in info.popular_tracks")
                      .react-contextmenu-wrapper
                        div(draggable='true')
                          li.tracklist-row.tracklist-row--oneline(role='button', tabindex='0')
                            .tracklist-col.position-outer
                              .tracklist-play-pause.tracklist-middle-align(ng-click="playTrack(track, info.popular_tracks)")
                                svg.icon-play(viewBox='0 0 85 100')
                                  path(fill='currentColor', d='M81 44.6c5 3 5 7.8 0 10.8L9 98.7c-5 3-9 .7-9-5V6.3c0-5.7 4-8 9-5l72 43.3z')
                                    title PLAY
                        
                            .tracklist-col.tracklist-col-cover-art-thumb
                              .cover-art.shadow.tracklist-middle-align.cover-art--with-auto-height(aria-hidden='true', style='width: 50px; height: auto;')
                                div
                                  .icon
                                    svg(width='80', height='81', viewBox='0 0 80 81', xmlns='http://www.w3.org/2000/svg')
                                      title Playlist Icon
                                      path(d='M25.6 11.565v45.38c-2.643-3.27-6.68-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4 14.4-6.46 14.4-14.4v-51.82l48-10.205V47.2c-2.642-3.27-6.678-5.37-11.2-5.37-7.94 0-14.4 6.46-14.4 14.4s6.46 14.4 14.4 14.4S80 64.17 80 56.23V0L25.6 11.565zm-11.2 65.61c-6.176 0-11.2-5.025-11.2-11.2 0-6.177 5.024-11.2 11.2-11.2 6.176 0 11.2 5.023 11.2 11.2 0 6.174-5.026 11.2-11.2 11.2zm51.2-9.745c-6.176 0-11.2-5.024-11.2-11.2 0-6.174 5.024-11.2 11.2-11.2 6.176 0 11.2 5.026 11.2 11.2 0 6.178-5.026 11.2-11.2 11.2z', fill='currentColor', fill-rule='evenodd')
                                  .cover-art-image.cover-art-image-loaded(style='background-image: url("{{track.image}}");')
                            .tracklist-col.name
                              .track-name-wrapper.tracklist-middle-align
                                .tracklist-name.ellipsis-one-line(dir='auto') {{track.title}}
                            .tracklist-col.more
                              .tracklist-middle-align
                                .react-contextmenu-wrapper
                                  button.spotify-btn.btn-transparent.btn--narrow.btn--no-margin.btn--no-padding
                                    .spoticon-ellipsis-16
                            .tracklist-col.tracklist-col-duration
                              .tracklist-duration.tracklist-middle-align
                                span {{$root.formatTime(track.duration)}}
                    
          section.artist-albums(ng-if="info.albums.length > 0")
            .contentSpacing
              h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') Albums
              .row
                .container-fluid.container-fluid--noSpaceAround
                  ._2SnF0IAy7I_tM-7M5iEcyT.row
                    .col-xs-6.col-sm-4.col-md-3.col-lg-2.col-xl-2(ng-repeat="album in info.albums")
                      div
                        div(draggable='true')
                          .media-object
                            div
                              .react-contextmenu-wrapper
                                a.cover-art.shadow.cover-art--with-auto-height.linking(aria-hidden='true', href='/album/{{album.id}}', style='width: auto; height: auto;')
                                  div
                                    .icon
                                      svg(width='80', height='79', viewBox='0 0 80 79', xmlns='http://www.w3.org/2000/svg')
                                        title Album
                                        path(d='M76.8 3.138v72.126H3.2V3.138h73.6zM80 0H0v78.398h80V0zM40 20.8c-9.72 0-17.6 7.88-17.6 17.6C22.4 48.12 30.28 56 40 56c9.72 0 17.6-7.88 17.6-17.6 0-9.72-7.88-17.6-17.6-17.6zm0 3.2c7.94 0 14.4 6.46 14.4 14.4S47.94 52.8 40 52.8s-14.4-6.46-14.4-14.4S32.06 24 40 24z', fill='currentColor', fill-rule='evenodd')
                                    .cover-art-image.cover-art-image-loaded(style='background-image: url("{{album.image}}");')
                              .mo-info
                                .react-contextmenu-wrapper
                                  a.mo-info-name(title='Holograms', dir='auto', href='/album/{{album.id}}') {{album.name}}
                            .mo-meta.ellipsis-one-line
                              .react-contextmenu-wrapper
                                a(dir='auto', href='/artist/{{album.artist_id}}') {{album.artist}}
                  
          section.artist-singles.artist-albums(ng-if="info.EPs.length > 0")
            .contentSpacing
              h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') EPs
              .container-fluid.container-fluid--noSpaceAround
                ._2SnF0IAy7I_tM-7M5iEcyT.grid--limit.row
                  .col-xs-6.col-sm-4.col-md-3.col-lg-2.col-xl-2(ng-repeat="ep in info.EPs")
                    div
                      div(draggable='true')
                        .media-object
                          div
                            .react-contextmenu-wrapper
                              a.cover-art.shadow.cover-art--with-auto-height.linking(aria-hidden='true', href='/album/{{ep.id}}', style='width: auto; height: auto;')
                                div
                                  .icon
                                    svg(width='80', height='79', viewBox='0 0 80 79', xmlns='http://www.w3.org/2000/svg')
                                      title Album
                                      path(d='M76.8 3.138v72.126H3.2V3.138h73.6zM80 0H0v78.398h80V0zM40 20.8c-9.72 0-17.6 7.88-17.6 17.6C22.4 48.12 30.28 56 40 56c9.72 0 17.6-7.88 17.6-17.6 0-9.72-7.88-17.6-17.6-17.6zm0 3.2c7.94 0 14.4 6.46 14.4 14.4S47.94 52.8 40 52.8s-14.4-6.46-14.4-14.4S32.06 24 40 24z', fill='currentColor', fill-rule='evenodd')
                                  .cover-art-image.cover-art-image-loaded(style='background-image: url("{{ep.image}}");')
                            .mo-info
                              .react-contextmenu-wrapper
                                a.mo-info-name(title='Bass Real Big', dir='auto', href='/album/{{ep.id}}') {{ep.name}}
                          .mo-meta.ellipsis-one-line
                            .react-contextmenu-wrapper
                              a(dir='auto', href='/artist/{{ep.artist_id}}') {{ep.artist}}
                
          section.artist-appears-on.artist-albums(ng-if="info.singles.length > 0")
            .contentSpacing
              h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') Singles
              .container-fluid.container-fluid--noSpaceAround
                ._2SnF0IAy7I_tM-7M5iEcyT.grid--limit.row
                  .col-xs-6.col-sm-4.col-md-3.col-lg-2.col-xl-2(ng-repeat="single in info.singles")
                    div
                      div(draggable='true')
                        .media-object
                          div
                            .react-contextmenu-wrapper
                              a.cover-art.shadow.cover-art--with-auto-height.linking(aria-hidden='true', href='/album/{{single.id}}', style='width: auto; height: auto;')
                                div
                                  .icon
                                    svg(width='80', height='79', viewBox='0 0 80 79', xmlns='http://www.w3.org/2000/svg')
                                      title Album
                                      path(d='M76.8 3.138v72.126H3.2V3.138h73.6zM80 0H0v78.398h80V0zM40 20.8c-9.72 0-17.6 7.88-17.6 17.6C22.4 48.12 30.28 56 40 56c9.72 0 17.6-7.88 17.6-17.6 0-9.72-7.88-17.6-17.6-17.6zm0 3.2c7.94 0 14.4 6.46 14.4 14.4S47.94 52.8 40 52.8s-14.4-6.46-14.4-14.4S32.06 24 40 24z', fill='currentColor', fill-rule='evenodd')
                                  .cover-art-image.cover-art-image-loaded(style='background-image: url("{{single.image}}");')
                            .mo-info
                              .react-contextmenu-wrapper
                                a.mo-info-name(title='Firepower 200', dir='auto', href='/album/{{single.id}}') {{single.name}}
                          .mo-meta.ellipsis-one-line
                            .react-contextmenu-wrapper
                              a(dir='auto', href='/artist/{{single.artist_id}}') {{single.artist}}

        #related.tab-pane
          section.artist-music.container-fluid
            .row
              .contentSpacing
                section.artist-toptracks
                  h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') Related
                  .vbox.stretch

        #about.tab-pane
           section.artist-appears-on.artist-albums(ng-if="info.singles.length > 0")
            .contentSpacing
              h1._1Fj-rlIZXTSNgYOCuLh7xo(dir='auto') Singles
              .container-fluid.container-fluid--noSpaceAround
            
                div
                  small.text-uc.text-xs.text-muted Path
                  p {{info.artist.path}}
                  small.text-uc.text-xs.text-muted Size
                  p {{info.size}}
                  small.text-uc.text-xs.text-muted Type
                  p {{info.artist.type}}
                  small.text-uc.text-xs.text-muted Status
                  p {{info.artist.status}}
                  small.text-uc.text-xs.text-muted info
                  p {{info.artist.biography}}
                  .line
                  small.text-uc.text-xs.text-muted 
                  p.m-t-sm 
                    a.btn.btn-rounded.btn-twitter.btn-icon(href='{{link.target}}', target="_blank", ng-repeat="link in info.links")
                      i.alloy-icon.icon(ng-class="$parent.getLinkIcon(link)")