a.btn.Details-Label.Label-label.Label-default.Label-large(href='{{href}}')
  i.fa.fa-w-16.Icon-default(aria-hidden='true', data-prefix='far', viewbox='0 0 512 512', style='font-size: 17px;', class='{{buttonicon}}')
  span.AlbumDetails-path.ng-binding {{buttontext}}