section.scrollable.padder
  section.panel.panel-default
    header.panel-heading.font-bold  Scheduled Tasks
    .table-responsive
      table.table.table-striped.b-t.b-light
        thead
          tr
            th Task Name 
            th Last Run
            th Next Run
            th Timezone
            th Cron
            th Run
        tbody(ng-repeat='task in schedulerStatus')
          tr
            td {{task.name}}
            td {{task.lastExecution}}
            td {{task.nextExecution}}
            td {{task.timezone}}
            td {{task.source}}
            td
              a.active(data-toggle='class', ng-click="executeTask(task.callback)", href='#')
                i.alloy-icon.icon-start
          