@import "./variables";
html,
body {
  height: 100%;
  background-color: $main-background-color;
  font-family: $main-font;
  font-size: $main-font-size;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  margin-top: $navbar-height;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: $navbar-height;
  max-width: none;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  background-color: $main-background-color;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: none;
}

.col {
  overflow: auto;
}

.generalConfigWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

.generalConfigBodyWrapper {
  margin-top: $toolbar-height;
  overflow: auto;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.bio-text {
  font-size: 0.7em;
  float: left;
  color: white;
  font-family:$extra-font;
  font-size: 12px;
  font-weight: bold;
  border-right: thin dotted #666666;
  line-height: 18px;
  max-height: 75px;
  overflow: auto;
}

.btn-dark {
  background-color: $main-btn-background-color;
  color: $main-text-color !important;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open>.dropdown-toggle.btn-dark {
  color: $main-text-color;
  background-color: $main-btn-hover-color;
  border-color: $general-border-color;
  /*set the color you want here*/
}

.ag-body-viewport {
  background-color: $main-background-color !important;
}

.ag-header-row {
  background-color: $main-background-color !important;
}

.ag-row-even {
  background-color: $main-background-color !important;
}

.ag-row-odd {
  background-color: $sub-background-color !important;
}

.ag-header-cell-text {
  color: $main-text-color !important;
}

.ag-cell-value {
  color: $main-text-color !important;
}

.similar-artist-link {
  background-color: $main-background-color-transparent !important;
  color: $alt-text-color !important;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.notification {
  position: fixed;
  top: 10em;
  right: 10em;
}

.ag-theme-dark .current-track {
  background-color: $now-playing-track !important;
}

.ag-row-selected {
  background-color: $grid-selection-color !important;
}

.bg-dark-transparent {
  background-color: $main-background-color-transparent !important;
  color: $alt-text-color !important;
  border-color: $general-border-color !important;
}

.HeartRating-heart {
  margin-right: 5px;
  color: #c4273c;
}

.IconButton-button {
  display: inline-block;
  margin: 0 2px;
  width: 22px;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  font-size: inherit;
}

.IconButton-button:hover {
  border: none;
  background-color: inherit;
  color: #666;
}

.coverflowImage {
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.animate-fade {
  position: relative;
  -webkit-animation-name: animatefading;
  -webkit-animation-duration: 1s;
  animation-name: animatefading;
  animation-duration: 1s
}

@-webkit-keyframes animatefading {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes animatefading {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}