@import "./variables";

footer {
  height: $footer-height;
}

.progress-bar {
  -webkit-transition: initial !important;
  -o-transition: initial !important;
  transition: initial !important;
}

.progress-bar.active,
.progress.active .progress-bar {
  -webkit-animation: initial !important;
  -o-animation: initial !important;
  animation: initial !important;
}

.progress .bar .progress-bar .progress-bar.active,
.progress.active {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

​ .track-progress {
  height: 10px;
  width: 100vw;
}

#mainProgress {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 10px;
}

#subProgress {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.33;
}

#mainTimeDisplay {
  font-size: 0.9em;
  text-align: center;
}

#artistInfo {
  margin-right: 7px;
}

#trackTitle {
  margin-left: 7px;
}

#trackAlbum {
  font-size: 1em;
  text-align: center;
}

.nowPlayingBarInfoContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 15px 0 0 0;
  height: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  overflow: hidden
}

.nowPlayingBar {
  text-align: center;
  will-change: transform;
  contain: layout style;
  -webkit-transition: -webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.nowPlayingBar-hidden {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}

.nowPlayingBarTop {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: $footer-height;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center
}

.mediaButton,
.nowPlayingBarUserDataButtons .btnUserItemRating {
  vertical-align: middle;
  margin: 0;
  text-align: center
}

.mediaButton {
  font-size: 120%
}

.appfooter {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2147483647;
  bottom: 0;
  -webkit-transition: -webkit-transform 180ms linear;
  -o-transition: transform 180ms linear;
  transition: transform 180ms linear;
  contain: layout style
}

.appfooter.headroom--unpinned {
  -webkit-transform: translateY(100%) !important;
  transform: translateY(100%) !important
}

.nowPlayingBar .nowPlayingImage {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 100%;
  width: $footer-height;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.nowPlayingBarText {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;


  margin-left: 0.25em;
  padding-top: 0.1em;
  margin-bottom: 0.2em;
}

.nowPlayingBarTimeContainer {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: left;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  padding-bottom: 10px;
}

.mediaControlButtonGroup {
  text-align: center;
}

.mediaControlButtonGroup.btn-group {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}

.mediaControlButton {
  height: 10px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 0.7em;
  vertical-align: middle;
  text-align: center;
}

.nowPlayingBarCenter {
  vertical-align: middle;
  text-align: center;
  z-index: 2;
  margin-top: 10px;

  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute
}

.nowPlayingBarPositionContainer {
  position: absolute !important;
  left: 0;
  top: -.56em;
  right: 0;
  z-index: 1
}

.headroom--unpinned .nowPlayingBarPositionContainer,
.noMediaProgress .nowPlayingBarPositionContainer {
  display: none
}

.nowPlayingBarRight {
  position: relative;
  margin: 15px 0 0 auto;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.nowPlayingBarCurrentTime {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  padding-left: 1.5em
}

.nowPlayingBarVolumeSliderContainer {
  margin-right: 2em
}

.nowPlayingBarUserDataButtons {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em
}

.nowPlayingBarPositionSlider::-webkit-slider-thumb {
  width: 1.2em !important;
  height: 1.2em !important
}

@media all and (max-width: 87.5em) {
  .nowPlayingBarUserDataButtons {
    display: none
  }
}

@media all and (max-width: 68.75em) {

  .nowPlayingBar .muteButton,
  .nowPlayingBar .unmuteButton,
  .nowPlayingBarVolumeSliderContainer {
    display: none !important
  }
}

@media all and (max-width: 50em) {
  .nowPlayingBarCenter {
    display: none !important
  }

  .toggleRepeatButton {
    display: none
  }
}

@media all and (min-width: 50em) {
  .nowPlayingBarRight .playPauseButton {
    display: none
  }

  .nowPlayingBarInfoContainer {
    max-width: 40%
  }
}