@import "./variables";
@import "./variables";

.freshWrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
}

.freshBodyWrapper {
  position: absolute;
  padding: 0;
  top: $toolbar-height;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

#freshAlbums {
  height:100px;
  background-color: black;
}

#freshTracksGrid {
  flex: 1 0;
}

.flipster__button{
  color:white;
}