@import "./variables";

.loader {
  position: absolute;
  margin-top: $navbar-height;
  margin-bottom: $footer-height;
  left: calc(50vw + #{$sidebar-width} - 75px);
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #666666;
  border-radius: 50%;
  border-top: 16px solid #4A708B;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}