@import "./variables";

.sidebar {
  background-color: $main-background-color;
  max-width: $sidebar-width;
  overflow: auto;
  padding: 0;
}

.list-group-item-dark {
  color: $main-text-color;
  background-color: $sub-background-color;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: .9em;
}

.list-group-item-dark .active {
  color: $main-text-color;
  background-color: $sub-background-color;
}

.list-group-item-dark-no-select {
  color: $main-text-color !important;
  background-color: $sub-background-color !important;
}

.sub-list-group-item-dark {
  color: $main-text-color !important;
  background-color: $alt-sub-background-color !important;
}

.sidebar-expanded {
  width: $sidebar-width;
}

.sidebar-collapsed {
  width: $sidebar-collapsed-width;
}

.list-group-item {
  color: $main-text-color !important;
  cursor: pointer;
}