@import "./variables";

.sidebar {
  background-color: $main-background-color;
  max-width: $sidebar-width;
  border: 1px solid $general-border-color !important;
  overflow: auto;
  padding: 0;
}

.list-group-item-dark {
  color: $main-text-color;
  background-color: $main-background-color;
  font-family: $sidebar-font;
  font-weight: $sidebar-font-weight;
  font-size: $sidebar-font-size;
}

.list-group-item-dark .active {
  color: $main-text-color;
  background-color: $main-background-color;
  font-family: $sidebar-font;
  font-weight: $sidebar-font-weight;
  font-size: $sidebar-font-size;
}

.list-group-item-dark-no-select {
  color: $main-text-color !important;
  background-color: $main-background-color !important;
  font-family: $sidebar-font;
  font-weight: $sidebar-font-weight;
  font-size: $sidebar-font-size;
}

.sub-list-group-item-dark {
  color: $main-text-color !important;
  background-color: $alt-sub-background-color !important;
  font-family: $sidebar-font;
  font-weight: $sidebar-font-weight;
  font-size: $sidebar-font-size;
}

.sidebar-expanded {
  width: $sidebar-width;
}

.sidebar-collapsed {
  width: $sidebar-collapsed-width;
}

.list-group-item {
  color: $main-text-color !important;
  cursor: pointer;
}