
//colors
$main-background-color: #333;
$main-text-color: #fff;
$sub-background-color: #343a40;
$alt-sub-background-color: #1a1b1d;

//typography
$main-font: 'Roboto', sans-serif;


//navbar
$navbar-height:30px;

//footer
$footer-height:60px;



//siebar
$sidebar-width: 160px;
$sidebar-collapsed-width: 50px;
$sidebar-font-size: .8em;
$sidebar-font: black 1em 'Roboto', sans-serif;

//toolbar
$toolbar-height:45px;