
section.w-f-md.scrollable(ng-if="$root.globals.currentUser")
  nav.nav-primary.hidden-xs
    ul.nav(data-ride='collapse')
      li(ng-class="$root.isMenuItemSelected('fresh')")
        a(href='/fresh', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-fresh
          span What's new
      li(ng-class="$root.isMenuItemSelected('starred')")
        a(href='/starred', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-starred
          b.badge.bg-primary.dker.pull-right {{$root.starred_tracks.length}}
          span Starred
      li(ng-class="$root.isMenuItemSelected('history')")
        a(href='/history', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-history
          b.badge.bg-primary.dker.pull-right {{$root.history.count}}
          span History
      li(ng-class="$root.isMenuItemSelected('artists')")
        a(href='/artists', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-artists
          b.badge.bg-primary.dker.pull-right {{$root.artists.length}}
          span Artists
      li(ng-class="$root.isMenuItemSelected('albums')")
        a(href='/albums', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-albums
          b.badge.bg-primary.dker.pull-right {{$root.albums.length}}
          span Albums
      li(ng-class="$root.isMenuItemSelected('genres')")
        a(href='/genres', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-genres
          b.badge.bg-primary.dker.pull-right {{$root.genres.length}}
          span Genres
      li(ng-class="$root.isMenuItemSelected('charts')")
        a(href='/charts')
          i.alloy-icon.icon-charts
          b.badge.bg-primary.dker.pull-right {{$root.rated.length}}
          span Charts
      li(ng-class="$root.isMenuItemSelected('status')")
        a(href='/status')
          i.alloy-icon.icon-status
          span Status 
      li
        a.auto(href='#', ng-if="$root.globals.currentUser")
          i.alloy-icon.icon-settings.text-xs
          span Config
        ul.nav.text-sm
          li.dker(ng-class="$root.isMenuItemSelected('configalloydb')", style="height:30px;")
            a(href='/config/alloydb', title='AlloyDB', style="height:30px;")
              i.alloy-icon.icon-alloydb.text-xs
              span.hidden-nav-xs Alloy
          li.dker(ng-class="$root.isMenuItemSelected('configdatabase')", style="height:30px;")
            a(href='/config/database', title='Database', style="height:30px;")
              i.alloy-icon.icon-database.text-xs
              span.hidden-nav-xs Database 
          li.dker(ng-class="$root.isMenuItemSelected('configscheduler')", style="height:30px;")
            a.auto(href='/config/scheduler', title='Scheduler', style="height:30px;")
              i.alloy-icon.icon-scheduler.text-xs
              span.hidden-nav-xs Scheduler
          li.dker(ng-class="$root.isMenuItemSelected('configshares')", style="height:30px;")
            a.auto(href='/config/shares', title='Shares', style="height:30px;")
              i.alloy-icon.icon-external-link.text-xs
              span.hidden-nav-xs Shares
          li.dker(ng-class="$root.isMenuItemSelected('configusers')", style="height:30px;")
            a.auto(href='/config/users', title='Users', style="height:30px;")
              i.alloy-icon.icon-users.text-xs
              span.hidden-nav-xs Users
          
    ul.nav.text-sm(ng-if="$root.globals.currentUser")
      li.hidden-nav-xs.padder.m-t.m-b-sm.text-xs.text-muted
        span.pull-right
          a(ng-click="showCreatePlaylistModal()")
            i.alloy-icon.icon-plus.i-lg
        | Playlists
    ul.nav.text-sm.sidenav-playlist-list(ng-if="$root.globals.currentUser")
      li(ng-repeat="playlist in $root.playlists")
        a.playlist-link(href='/playlist/{{playlist.id}}')
          i.alloy-icon.icon-playlist.icon
          b.badge.bg-primary.dker.pull-right(ng-if='playlist.tracks') {{playlist.tracks.length}}
          span {{playlist.name}}
    
    #addPlaylistModal.modal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#addMediaPathModalLabel.modal-title Create new Playlist
            button.Link-link.close(data-dismiss='modal', type='button', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .FormGroup-group.FormGroup-large
              .FormInputGroup-inputGroupContainer
                .FormInputGroup-inputGroup
                  .FormInputGroup-inputContainer
                    input.Naming-namingInput.TextInput-input.Input-input(ng-model='$root.newPlaylistName', type='text', placeholder='Playlist Name')
            
          .modal-footer
            button.btn.btn-secondary(data-dismiss='modal', type='button') Close
            button.btn.btn-primary(ng-click='createNewPlaylist()', type='button') Add
    // / nav
