.album-content {
  padding-top: 2em;
}

.album-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.TrackListHeader {
  margin: 0 auto 1.5em;
  text-align: center;
  max-width: 400px;
}

.TrackListHeader .media-object {
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 320px;
}

.TrackListHeader .mo-info {
  display: block;
  height: auto;
  margin-bottom: .3em;
  text-decoration: none;
}

.mo-info-name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-bold);
  color: #333;
  text-transform: none;
}

.TrackListHeader .mo-info-name {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #333;
  text-transform: none;
}

.TrackListHeader__body {
  vertical-align: middle;
  color: #333;
}

.TrackListHeader__text-silence {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #333;
  opacity: .6;
}

.TrackListHeader__entity-additional-info {
  margin-bottom: .8em;
}

.TrackListHeader__entity-name {
  display: none;
  padding-bottom: 10px;
}

.TrackListHeader__entity-name h2 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: var(--glue-font-weight-black);
  color: #333;
  text-transform: none;
}

.TrackListHeader__entity-by {
  color: #333;
  opacity: .6;
}

.TrackListHeader__button--top {
  margin-bottom: 15px;
}

.TrackListHeader__button--bottom {
  display: none;
}

.copyrights {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  color: #333;
  opacity: .6;
  clear: both;
  padding: 0 5%;
  width: 70%;
}

@media (max-width: 768px) {
  .TrackListHeader {
    position: inherit;
  }
  .media-object{
    display: none;
  }
}

@media (max-width: 1199px) {
  
  .TrackListHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 0 20px;
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
  }
  .TrackListHeader .media-object {
    width: 30%;
    min-width: 157px;
    position: relative;
  }
  .mo-info-name{
    display: none;
  }
  
  .TrackListHeader .mo-meta,
  .TrackListHeader__button--top {
    display: none;
  }
  .TrackListHeader__button--bottom {
    display: block;
  }
  .TrackListHeader__body {
    text-align: initial;
    width: 70%;
    margin: 0 40px;
  }
  .TrackListHeader__body .tracklist-header__extra-buttons {
    margin: 0 13px;
  }
  .TrackListHeader__entity-name {
    display: block;
  }
  .TrackListHeader__children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 1200px)and(min-height) {
  .album-header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
  }
}