section.scrollable.scrollsaver.no-padder.w-f-md(style="padding:0px;", ng-if="$root.album")
  section.content
    .container-fluid
      div.padder.m-t-sm
        .col-xs-12.col-lg-3.col-xl-4
          div
            header.general-container-header
              div
                div(draggable='true')
                  .media-object
                    div
                      .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true' style='width: auto; height: auto;')
                        div
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{$root.album.album.image}}");')
                      .mo-info
                        .mo-info-name(title='{{$root.album.album.name}}')
                          span(dir='auto') {{$root.album.album.name}}
                    .mo-meta.ellipsis-one-line
                      a.text-muted(dir='auto' href='/artist/{{$root.album.artist.id}}') {{$root.album.artist.name}}
              
              .general-container-header__body
                .general-container-header__entity-name
                  h2
                    span(dir='auto') {{$root.album.album.name}}
                  div
                    span.general-container-header__entity-by By 
                    span.general-container-header__owner(dir='auto')
                      a.text-muted(href='/artist/{{$root.album.artist.id}}') {{$root.album.artist.name}}
                p.general-container-header__text-silence.general-container-header__entity-additional-info(ng-if="$root.album.tracks.length > 0") {{$root.album.tracks.length}} {{$root.album.tracks.length > 1 ? "Tracks" : "Track"}} - {{$root.album.size}}
                .general-container-header__children
                  .general-container-header__button.general-container-header__button--bottom
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-disabled="isDisabled()", ng-click="playAlbum()") PLAY
              .general-container-header__button.general-container-header__button--top
                button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-disabled="isDisabled()", ng-click="playAlbum()") PLAY  
              .general-container-header__button.general-container-header__button--top
                button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-disabled="isDisabled()", title='Save to Your Library', ng-click="starAlbum()") {{$root.album.album.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}
              .general-container-header__button.general-container-header__button--top
                starratinglabel(ng-disabled="isDisabled()", album="$root.album.album", extrastyles="btn-block")
              
        .col-xs-12.col-lg-9.col-xl-8
          tracklist(data="$root.album.tracks", canaddplaylist="true").padder-lg