section.scrollable.no-padder.w-f-md(style="padding:0px;")
  div
    .contentSpacing.no-padder
      section.content.album-content
        .container-fluid
          .album-container
            .col-xs-12.col-lg-3.col-xl-4
              .album-header-container
                header.TrackListHeader
                  .media-object
                    .row
                      .react-contextmenu-wrapper.col-xs-12
                        .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true', style='width: auto; height: auto;')
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{info.image}}");')
                    .row
                      .mo-info
                        .react-contextmenu-wrapper.col-xs-12
                          .mo-info-name(title='{{info.title}}')
                            span(dir='auto') {{info.title}}
                      

                    .mo-meta.ellipsis-one-line
                      .react-contextmenu-wrapper
                        a(dir='auto', href='/album/{{info.album_id}}') {{info.album}}
                    .mo-meta.ellipsis-one-line
                      .react-contextmenu-wrapper
                        a(dir='auto', href='/artist/{{info.artist_id}}') {{info.artist}}
                  .TrackListHeader__button.TrackListHeader__button--top
                    p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(dir='auto', ng-if="info.album.created") Released {{info.created}}
                    p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(dir='auto', ng-if="info.duration") {{$root.formatTime(info.duration)}}
                    p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(dir='auto', ng-if="info.content_type") {{info.content_type}}
                    p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(dir='auto', ng-if="info.size") {{$root.humanFileSize(info.size)}}
                  .TrackListHeader__button.TrackListHeader__button--top
                    button.spotify-btn.btn-green.false(title='Add to Starred') Add to Starred
                  .TrackListHeader__button.TrackListHeader__button--top
                    starratinglabel(album="info.album", extrastyles="btn-green")
              
            .col-xs-12.col-lg-9.col-xl-8(ng-if="artist.artist.biography")
              .wrapper-md.r
                a(href='#')
                  span.h4.m-b-xs.block
                    i.icon-cloud-download.i-lg
                    |  Bio
                  span.text-muted
                    | {{artist.artist.biography}}

             