section.vbox
  .navbar-header.aside.bg-primary
    a.btn.btn-link.visible-xs#sidenavButton(data-toggle='class:nav-off-screen,open', data-target='#nav,html')
      i.alloy-icon.icon-menu.icon
    a.navbar-brand.text-lt(href='/')
      i.alloy-icon.icon-headphones
      span.hidden-nav-xs.m-l-sm Alloy 
    a.btn.btn-link.visible-xs(href='/playing')
      i.alloy-icon.icon-controls

  form.navbar-form.navbar-left.hidden-xs(role='search')
    #mainNavGroup.form-group
      .input-group
        span.input-group-btn
          button.btn.btn-sm.bg-white.btn-icon.rounded.mainNavButton(data-target='#nav,.navbar-header', data-toggle='class:nav-xs,nav-xs')
            i.alloy-icon.icon-menu
   
        span.input-group-btn
          button.btn.btn-sm.bg-white.btn-icon.rounded.mainNavButton(ng-click="$root.goBack()")
            i.alloy-icon.icon-back-arrow
   
        span.input-group-btn
          button.btn.btn-sm.bg-white.btn-icon.rounded.mainNavButton(ng-click="$root.goForward()")
            i.alloy-icon.icon-forward-arrow
    
        span.input-group-btn
          button.btn.btn-sm.bg-white.btn-icon.rounded.mainNavButton(ng-click="refreshCurrentView()")
            i.alloy-icon.icon-refresh
 
  form.navbar-form.navbar-right.hidden-xs(role='search')
    #mainNavGroup.form-group
      .input-group
        
        searchbar
   