section.tracklist-container
  .row 
    .list-group.bg-white.list-group-lg.no-bg.auto
      a.list-group-item.list-group-item-track.clearfix.pointer(ng-class="{'list-group-item-now-playing': $root.MediaPlayer.checkIfNowPlaying('track', track.id) == true}", ng-click="$root.MediaPlayer.playTrack(track, data)", ng-repeat="track in data | limitTo:itemLimit")
        
        
        span.pull-left.h2.thumb-sm.avatar.m-r.text-muted.m-l(ng-if="isPlaying === false || $root.MediaPlayer.checkIfNowPlaying('track', track.id) != true") {{$index + 1}}
        PlayingStatusBars.pull-left.thumb-sm.avatar.text-muted(ng-if="currentTrack.id === track.id && isPlaying === true")
    
        span {{track.title}}
        span.pull-right {{trackTime(track)}}