section.scrollable.scrollsaver.no-padder.w-f-md(style="padding:0px;")
  div
    .contentSpacing.no-padder
      section.content.album-content
        .container-fluid
          .album-container
            .col-xs-12.col-lg-3.col-xl-4
              .album-header-container
                header.TrackListHeader
                  .media-object
                    .row
                      .col-xs-12
                        .cover-art.shadow.cover-art--with-auto-height(aria-hidden='true', style='width: auto; height: auto;')
                          .cover-art-image.cover-art-image-loaded(style='background-image: url("{{info.image}}");')
                    .row
                      .mo-info
                        .col-xs-12
                          .mo-info-name(title='{{info.name}}')
                            span(dir='auto') {{info.name}}
                      

                    .mo-meta.ellipsis-one-line
                      
                        p.TrackListHeader__text-silence.TrackListHeader__entity-additional-info(ng-if="info.tracks.length > 0", dir='auto') {{info.tracks.length}} {{info.tracks.length > 1 ? "Tracks" : "Track"}} - {{info.size}}
                  .TrackListHeader__button.TrackListHeader__button--top
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="shuffle()") Play
                  .TrackListHeader__button.TrackListHeader__button--top
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="shuffle()") Shuffle
                  .TrackListHeader__button.TrackListHeader__button--top
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="editPlaylist()", title='Edit Playlist') Edit  
                  .TrackListHeader__button.TrackListHeader__button--top              
                    button.spotify-btn.btn-block.btn-warning.btn--narrow(ng-click="removePlaylist()", title='Remove Playlist') Remove
                  .TrackListHeader__button.TrackListHeader__button--top
                    button.spotify-btn.btn-block.btn-primary.btn--narrow(ng-click="starPlaylist()", title='Save to Your Library') {{info.starred ===  'true' ? "Remove from Starred" : "Add to Starred"}}


                  .TrackListHeader__button.TrackListHeader__button--top
                    starratinglabel(album="info.playlist", extrastyles="btn-block")
                  .TrackListHeader__button.TrackListHeader__button--top
                    
                    label.switch
                      
                      input(ng-change="cachePlaylistChanged()", ng-model="info.cache", type='checkbox')
                      span.slider.round 
                    span.clear Cache Playlist
    
              
            .col-xs-12.col-lg-9.col-xl-8
              tracklist(data="info.tracks", canaddplaylist="")
